[2019-02-01 01:28] jvsl opened #298 "Replicate menu"
Hello. Is possible replicate this menu below using that lib? If yes, what I should override to reach it.
https://gyazo.com/b908ebaa19f9256e6f3dc748c73dd90c

[2019-02-01 11:11] alrzbod opened #299 "auto Scroll"
@rechsteiner
Is there a way to scroll automatically in the parchment? For example after 3 seconds the scroll is automatically inserted.
Thanks.

[2019-02-07 22:25] prsolucoes opened #300 "How to disable load sibling/next view controllers?"
Hi,

How to don't let load sibling view controllers?

In our project we load remote data when we enter on each page, and today this library is creating the next view controller after Page X (ex: Page Y), and we are sending two requests.

How to disable sibling pages to load and only load single page that im inside?

Thanks.

[2019-02-10 09:19] VishnuMU commented on #300
Greetings,

Parchment is optimized for performance and less memory usage.

I recommend you moveing the loading method to **PagingViewControllerDelegate** methods

`  func pagingViewController<T>(
    _ pagingViewController: PagingViewController<T>,
    didScrollToItem pagingItem: T,
    startingViewController: UIViewController?,
    destinationViewController: UIViewController,
    transitionSucces

[2019-02-15 05:34] philipborbon opened #301 "How to get view controller at index?"
Need to update data of view controller at specific index.

[2019-02-15 05:39] VishnuMU commented on #301
Where’s your source data at? inside the child view controller?

When do you want to update the data?

[2019-02-15 05:44] philipborbon commented on #301
Inside child view controller.

Let's say I have 5 view controller and each controller has a data called "Person".

I changed the name of Person in 3rd view controller.

I want to pass the updated Person to 1st controller.

[2019-02-15 06:09] VishnuMU commented on #301
You can keep the 'person' data on the main view controller and pass it to child view controllers on Parchment's delegate method.

This will work even if you have infinite child views.

[2019-02-15 08:53] gaffuuuu opened #302 "How start loading api data of all the views at launch?"
I have an app with 3 viewcontrollers, all of them put in the fixedpagingcontroller. They download some data from api and they show them in cells... the issue is that when I swipe from the first to the second/third view controller, it takes time to load these data. I would like to know how i can load the views at launch...
Thanks

[2019-02-16 14:22] Smiller193 commented on #267
@rechsteiner how would I do that. I tried to update that and it didn't work too well

[2019-02-16 14:26] Smiller193 opened #303 "Menu Drag Height Error"
Hello I am. not sure if it is just me but when I drag the menu it has this weird nature which can be seen in the below gif.

![47389568-1ac77680-d6e3-11e8-837a-c462028229a8](https://user-images.githubusercontent.com/16108750/52901125-d6e60900-31cc-11e9-966c-d49709466fed.gif)

Im not sure if it is supposed to look like that and I remember you saying something about capping the menuHeight. Could you

[2019-02-18 08:31] philipborbon commented on #301
Thanks for the hint @VishnuMU.

I will be using these delegate methods to update ViewController data.

[code]

[2019-02-18 08:31] #301 closed

[2019-02-18 10:13] VishnuMU commented on #302
Load the common data on parent view controller instead of childern.

Look at #301

[2019-02-23 10:32] #265 closed

[2019-02-23 10:34] #272 closed

[2019-02-23 10:40] #284 closed

[2019-02-23 10:40] #289 closed

[2019-02-23 10:41] #290 closed

[2019-02-23 10:44] rechsteiner commented on #292
Sorry, this is not possible. Parchment is build on a UIViewController and you therefore have to add it as a child view controller. This is required by UIKit to get the view controllers to be managed properly.

[2019-02-23 10:44] #292 closed

[2019-02-23 10:48] rechsteiner commented on #293
This isn’t really an issue with Parchment. You need to setup you navigation controller so that the edges doesn’t extend below the navigation bar. E.g. https://stackoverflow.com/questions/30042131/uiviewcontroller-under-uinavigationbar

If you need a different behaviour you also have full control over the view hierarchy by subclassing PagingView 🙂

[2019-02-23 10:48] #293 closed

[2019-02-23 10:54] rechsteiner commented on #297
Unfortunately, this is not possible at the moment. I will look into adding support for this in the next version 🙂

[2019-02-24 12:52] rechsteiner commented on #283
Hi @PrashantKT! For now, calling `pagingViewController.collectionView.reloadData` is the best way to get this working. I will look into getting this fixed 🙂

[2019-02-24 13:34] rechsteiner commented on #299
Yes, you can select items programatically using `select(index:,animated:)`. E.g:

[code]

[2019-02-24 13:34] #299 closed

[2019-02-24 14:02] rechsteiner commented on #298
Hi @jvsl! This is definitely possible. You need to do something like the following:

- Create a subclass of `PagingCell` that sets the background color based on the selected state
- Set `menuItemSize` to your desired size. E.g: `.fixed(width: 15, height: 2)`
- Set `menuHorizontalAlignment` to `.center`
- Set `indicatorOptions` and `borderOptions` to `.hidden`
- Add the `collectionView` to the navi

[2019-02-24 14:04] rechsteiner commented on #295
You can disable bouncing by setting:

[code]

[2019-02-24 14:04] #295 closed

[2019-02-24 14:43] rechsteiner commented on #236
I can't really find a way of reproducing this. Are you sure this is an issue with Parchment and not just something released to your implementation? If not, it would be nice if you could provide a minimal example that reproduces this issue.

[2019-02-24 14:45] rechsteiner commented on #235
@Smiller193 I'm not sure I understand exactly what the problem is. I'm closing this issue for now since it's not really related to scrolling. Can you open a separate issue related the selection if this is still an issue? 🙂

[2019-02-24 14:45] #235 closed

[2019-02-24 14:47] #248 closed

[2019-02-24 14:55] rechsteiner commented on #251
@glennposadas I looked a bit more into this and I'm not able to reproduce the issue. The `setPagingItem` method gets called both when an item is tapped and after a scroll has finished.

If you need to update the cell _while_ the user is scrolling, you need to override `apply(layoutAttributes:)`. E.g: https://github.com/rechsteiner/Parchment/blob/master/Parchment/Classes/PagingTitleCell.swift#L64

[2019-02-24 14:57] glennposadas commented on #251
Thanks @rechsteiner for taking time to check this issue out. I believe it has to do with how I'm using the Parchment. The layout of my controller is a bit complicated, with lots of child controllers. We can close this for now since I'm the only one whos experiencing such an issue.

[2019-02-24 14:57] #251 closed

[2019-02-24 17:43] rechsteiner commented on #147
Hi @IVANKRUPSKI! I've been looking a bit more into this and I'm not seeing any places in Parchment that are causing these performance issues. I would suggest looking into improving the rendering performance of your view controllers. It looks like there is too much happening on the main thread, causing the animation to stutter. If you still feel like there this is an issue with Parchment, please le

[2019-02-24 17:43] #147 closed

[2019-02-24 17:47] rechsteiner commented on #220
Hi everyone! I finally managed to implement a fix for this. The page view controller we're using was not forwarding the appearance methods to the selected child view controller. This is fixed in #306 and will be included in the next release ✌️

[2019-02-24 17:47] #220 closed

[2019-02-24 17:51] rechsteiner commented on #277
I'm having some troubles reproducing this. Could you provide some minimal example implementation where this is an issue?

[2019-02-24 18:13] rechsteiner commented on #258
Fixed in #307. Will be included in the next version 🙂

[2019-02-24 18:13] #258 closed

[2019-02-24 18:21] rechsteiner commented on #279
I just tried to run the code that you posted, but everything seems to be working fine here. This seems to be an issue with your implementation and isn't really something I can fix in Parchment. I would take another look a the example code and make sure that you are doing the same 🙂

[2019-02-24 18:21] #279 closed

[2019-02-24 18:28] rechsteiner commented on #294
Hi @muhasturk! Are you suggesting that this is an issue with Parchment? As far as I can tell, this is just an issue with your application specific code.

[2019-02-24 18:40] rechsteiner commented on #303
Hi @Smiller193! These things are not really part of the Parchment framework, I just created these examples to illustrate the possibilities. It's up you to decide how it's supposed to look. If you need to cap the menu height, change line 191 in the UnsplashExample like this:

[code]

[2019-02-27 13:25] 3rsin3rgul opened #308 "Update current tabs"
Hello,
Im trying to create custom tab bar and i need to update tabs when i select the other tab. I think im able to do that everything except i could not change the name of tabs.
[code]

[2019-02-27 13:44] rechsteiner commented on #308
Hi @3rsin3rgul! This is a known issue (same as #297). I will look into adding a `reloadMenu` method as soon as possible.

Right now, you have to use `reloadData` but this will also reload the page view controller. If you have cached the view controller instances this might be an option for now.

[2019-03-01 08:22] andmix opened #309 "menuItemSize height > 40.0 ,problem"
Parchment version 1.5.0, Swift version 4.0
I find the menu'height cant be changed, it was be setted to 40.0 in default options. Only menuItem 's Height can be effected

[code]

[2019-03-01 15:32] moosabaloch opened #310 "Dummy cells in menuItem [Calendar Example]"
Hey, first of all, Thanks a lot, it's a great library saved a lot of time.
I am just playing around with the features of **Calendar example**, I want to show **2**(in my case) dummy cells for the future date in `menuItems collectionView`,
Why dummy? because those future dates should not be accessible,
by doing this my selected date(_today's date_) will be in the center in `menuItems collectionView

[2019-03-02 15:35] andmix commented on #309
And I find the menu'height cant be changed, it was be setted to 40.0 in default options. Only menuItem 's Height can be effected

[2019-03-03 15:54] rechsteiner commented on #309
Hi @andmix! I'm not sure if I understand you correctly. I just tried to add this to the `Example` target:

[code]

And it seems to be working fine here:

![simulator screen shot - iphone x - 2019-03-03 at 16 51 59](https://user-images.githubusercontent.com/1238984/53697752-e2dce800-3dd4-11e9-92c4-b4fa179fae53.png)

[2019-03-03 16:01] rechsteiner commented on #297
I've just published a new version (1.6.0) which adds support for this. Calling `reloadMenu` will only reload the menu items and not the content view controllers:

[code]

[2019-03-03 16:01] #297 closed

[2019-03-03 16:02] rechsteiner commented on #308
I've just published a new version (1.6.0) which adds support for this. Calling reloadMenu will only reload the menu items and not the content view controllers:

[code]

Let me know if you find any issues 🙂

[2019-03-03 16:02] #308 closed

[2019-03-03 16:14] rechsteiner commented on #291
You don't need set the title in `init`, just make sure you set it before creating the `PagingViewController`. For instance, in the `StoryboardExample` you can change the title like this:

[code]

You can also update the title after you've initialised the `PagingViewController`, but then you need to call `reloadData` as you said. In the latest version (1.6.0), you can also reload just the menu item

[2019-03-03 16:14] #291 closed

[2019-03-03 16:31] rechsteiner commented on #310
Hi @moosabaloch! Yes, this should be possible!

For example, you can update `CalendarItem` with an `isSelectable` property:

[code]

Then create your own `PagingViewController` subclass, override `didSelectItemAt` and check if the item is selectable:

[code]

Then you just need to update your date source to set `isSelectable` to false if the date is later than today's date. You can also update the

[2019-03-04 01:57] andmix commented on #309
Sorry!  It's my fault that I didn't express myself clearly .
By debugging your example code, I find the problem.

![09_55_58__03_04_2019](https://user-images.githubusercontent.com/7136490/53706151-d0f65600-3e63-11e9-9a24-08636362790f.jpg)

This is my project：

![09_49_57__03_04_2019](https://user-images.githubusercontent.com/7136490/53705983-fcc50c00-3e62-11e9-8844-7ca62890a0b5.jpg)

In my project

[2019-03-04 08:15] 3rsin3rgul commented on #308
Is it possible to make a example project for that? Cause im testing this code but it still give me same response.
[code]

[2019-03-04 08:42] rechsteiner commented on #308
You need to remove the `reloadData` call and only call `reloadMenu`

[2019-03-04 09:28] 3rsin3rgul commented on #308
Yeap test it with couple of different codes :)
But i could not remove the old page names. All of them stucked on view. Its not reloading the data.

[2019-03-05 03:00] #309 closed

[2019-03-05 04:19] andmix opened #314 "text truncatingTail when menuItem width changed"
![2](https://user-images.githubusercontent.com/7136490/53780664-5f400a00-3f40-11e9-8a96-7fb8704e4213.png)

![default](https://user-images.githubusercontent.com/7136490/53780675-636c2780-3f40-11e9-9b22-d81227fed78d.png)

![1](https://user-images.githubusercontent.com/7136490/53780680-67984500-3f40-11e9-9223-0cd6d1e60def.png)

Because menuItem width is the same as the text width.
So can I change  te

[2019-03-05 11:25] moosabaloch commented on #310
Yes it works from the menu side but not from the UIPageController
by swiping, it takes to the future date but it shouldn't.  😞

[2019-03-06 08:23] philipborbon opened #315 "Change Transition Animation"
Is it possible to change transition animation?

I.e, fade out/ fade in animation on view change

[2019-03-06 09:29] githubYiheng commented on #315
I have the same problem, is it possible to replace the collectionLayout?

[2019-03-06 11:22] moosabaloch commented on #310
@rechsteiner: In the current implementation, Is there any possibility to avoid generating pages for future dates?

[2019-03-08 05:25] philipborbon opened #316 "Reload Data From Given List Of Index"
Is there a way to reload list of view controllers only at a given list of index/path/pageitem?

[2019-03-11 02:02] aaronn opened #317 "Hide Menu?"
Hey, I like how easy Parchment is to setup, but don't want to use the menu. Is there any way to hide the menu entirely?

[2019-03-12 00:38] t-sugita opened #318 "How can I change number of line of menu title?"
Some menu title texts are longer and not displayed whole in menu.
I would like to display them as 2 lines because I' d like to keep same width for all menu items.

How can I do it?

Thanks, in advance.

[2019-03-15 02:44] #317 closed

[2019-03-15 05:50] jackklink opened #319 "Referring to variables within sub view controllers from main view controller"
I'm banging my head on the desk after trying to figure this out for hours. I am trying to figure out how to access elements located within the sub view controllers from my main view controller.

My viewDidAppear which loads the scrollview very nicely:

override func viewDidAppear(_ animated: Bool) {

        let storyboard = UIStoryboard(name: "Main", bundle: nil)
        let songDetailsView = sto

[2019-03-16 09:37] ansonngch opened #320 "Weird behaviour when selecting index"
![Uploading weird behavior parchment.gif…]()

[2019-03-17 08:08] ansonngch commented on #260
I'm curious about it too @jaceklapinski

[2019-03-20 08:00] Sopheak0 commented on #317
hi @aaronn. what is your solution to hide the menu entirely? i need this function too

[2019-03-21 20:49] aaronn commented on #317
@Sopheak0 I decided to just use a pageviewcontroller.

[2019-03-30 07:23] TorlopovAndrey opened #321 "Menu items have reverse sort"
This is small test project (https://github.com/Torlopov-Andrey/Issues/tree/master/FooPageControl)
I created custom PagingViewController and custom PagingView. In my controller I added separately collectionview and pageview, because I need add some other custom view.

Scrollling works fine, but collection has reverse sort.

[2019-03-30 07:35] #321 closed

[2019-04-08 08:10] rocklyve opened #322 "Support for SwiftPM and Accio"
Hey,
I tried to add this project with [Accio](https://github.com/JamitLabs/Accio), but a Manifest file is missing.
Can you please add this? Maybe in the roadmap to version 2 :)

[2019-04-11 07:20] tushar666 opened #323 "Separator or Divider between Menu items"
Hi,
Can we add Separator or Divider between Menu items
<img width="356" alt="Screenshot 2019-04-11 at 12 46 43 PM" src="https://user-images.githubusercontent.com/5293346/55938134-3fdf7f80-5c58-11e9-9825-2d5a77ff8dc2.png">

[2019-04-13 12:01] ProAppleOS opened #324 "Possible for different Menu Item sizes?"
Hi,

is it possible to have different menu item sizes (width) because some titles are big and some are not and i donÄt want all menu items to be big just to display the big one properly

[2019-04-14 14:42] emreisik95 opened #325 "####CANCELED QUESTION####"
#####CANCELED QUESTION#####

[2019-04-14 15:37] #325 closed

[2019-04-14 19:14] emreisik95 opened #326 "3D Touch doesn't work for StoryboardExample"
Hi there, I'm using Storyboard example and storyboard has tableview. I add 3d touch for cells but it just work without Parchment. How can I fix this?

[2019-04-17 05:22] targen1991 opened #327 "Please update pod and carthage to support swift 5"
Getting error after i have updated my xcode to 10.2 ,swift 5
Error : Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler: /Projects/Discovrus/APP/Discovrus/Carthage/Build/iOS/Parchment.framework/Modules/Parchment.swiftmodule/arm64.swiftmodule

<img width="1040" alt="Screenshot 2019-04-17 at 10 50 00 AM" src="https://user-images.githubusercontent.com/4649650/56262990-c552a

[2019-04-17 11:35] ikesyo commented on #327
That means that you just need to rebuild the framework with Xcode 10.2: `carthage build --platform ios`

[2019-04-17 12:14] targen1991 commented on #327
Issue has been resolved.
Thanks @ikesyo 👍

[2019-04-17 12:14] #327 closed

[2019-04-17 12:55] osamaazmat opened #328 "Swift 5 and Xcode 10.2"
Can you please update this library for swift 5 and Xcode 10.2?

[2019-04-17 13:36] rechsteiner commented on #328
It should work with Swift 5. If you are using Carthage probably just need to rebuild the framework: #327

[2019-04-17 13:38] rechsteiner commented on #236
Closing this for now. Feel free to re-open if you have any ways of reproducing this 🙂

[2019-04-17 13:38] #236 closed

[2019-04-17 13:38] rechsteiner commented on #277
@dhaval4gvm any updates on this?

[2019-04-17 13:38] #294 closed

[2019-04-17 13:38] #298 closed

[2019-04-17 13:39] #300 closed

[2019-04-17 13:40] rechsteiner commented on #302
This isn't really an issue with Parchment. As @VishnuMU mentioned, you should be able to load the data in the view controller that contains Parchment.

[2019-04-17 13:40] #302 closed

[2019-04-17 13:40] #303 closed

[2019-04-17 13:47] rechsteiner commented on #310
Hi @moosabaloch! Sorry for the late reply. Unfortunately, I don't know a way of achieving this at the moment. I guess one way to achieve this is to change `viewControllerForPagingItem` in `PagingViewControllerInfiniteDataSource` to return an optional `UIViewController`. You might need to do some additional changes. I guess you could fork Parchment and see if you get that working

[2019-04-17 13:48] rechsteiner commented on #314
Take a look the the `DelegateExample`. You can determine the size of the paging items by implementing:

[code]

You can use the `isSelected` flag to determine the size of the selected text.

[2019-04-17 13:53] rechsteiner commented on #315
Hi @philipborbon! No, this is not possible to customize at the moment. Once we have support for custom page controllers (#80) it would be possible, but I don't have any ETA for that.

[2019-04-17 13:55] rechsteiner commented on #316
This is not possible right now, but I will look into adding support for this 🙂

[2019-04-17 13:56] rechsteiner commented on #318
You need to create you own `PagingCell` subclass. Take a look at the `CalendarExample` on how to customize your own cells 🙂

[2019-04-17 13:58] rechsteiner commented on #319
Hi @jackklink! I'm don't see any reason why that should not work. In your example, it looks like you just need to change `PlayerView()` to `playerView`. Does that fix it?

[2019-04-17 13:59] rechsteiner commented on #320
That is very strange. I'm not seeing any issues with any of the example apps. Can you provide some more details on your implementation? Are you using `FixedPagingViewController` or `PagingViewController`?

[2019-04-17 14:01] rechsteiner commented on #322
Hi @rocklyve! I will look into adding this in the next version 🙂

[2019-04-17 14:02] rechsteiner commented on #324
Yes, this is possible 🙂 Take a look at the `DelegateExample`. You need to implement this method and return the size based the text:

[code]

[2019-04-17 14:02] #324 closed

[2019-04-17 14:03] rechsteiner commented on #326
I don't see any reason why that shouldn't work with Parchment. I'll take a look at it when I have some more time. Could just try to use the same view controller without Parchment and see if it is working then?

[2019-04-17 14:06] rechsteiner commented on #323
Yes, this should be possible 🙂 You can either create a custom `PagingCell` that contains the separator, or provide a custom `PagingCollectionViewLayout` subclass that adds supplementary views based on the layout attributes for all the items.

You can take a look at `CalendarExample` on how to create you own `PagingCell` subclass. I can also provide an example using a custom collection view layout,

[2019-04-17 16:34] emreisik95 commented on #326
Yes when i try to use viewcontroller without the parchment it works very well. i couldn't understant why it doesn't work with parchment.

[2019-04-18 11:42] andmix commented on #314
I have used this delegate method.
I mean the text change to "..." in the animation process . The text is displayed correctly after the animation is finished。
Thanks for the reply.

[2019-04-18 18:48] Smiller193 commented on #303
thanks fixed

[2019-04-19 15:53] #328 closed

[2019-04-23 08:10] sprzenus opened #329 "V1.6.0 Reload data says item doesn’t exist"
`self.pagingViewController.reloadData(around: self.pagingViewController(self.pagingViewController, pagingItemForIndex: startIndex))` after loading data crashes with message: `Thread 1: Fatal error: pagingViewController:viewControllerForPagingItem: PagingItem does not exist`. It doesn’t matter if startIndex is 0 or last index of new data array.

[2019-04-24 15:06] pbyorke commented on #327
sorry, this is still an issue for us. I have uninstalled and reinstalled both Xcode and Carthage and I am still getting:
**error: SWIFT_VERSION '3.0' is unsupported, supported versions are: 4.0, 4.2, 5.0. (in target 'MobileFreddy')**
when I run Carthage build --platform iOS

[2019-04-28 22:04] moosabaloch commented on #310
Thanks, I'll try.

[2019-04-28 22:04] #310 closed

[2019-04-29 03:12] chungfk opened #330 "Call reloadData from child view controller"
Hi, I'm using custom data source and have 3 tab/view controller. Lets say I have a button on second tab/viewcontroller. How can I call reloadData() from the button action?

[2019-04-30 21:12] lephillips opened #331 "change tab back to the first one when click to different navigation tab"
I want to reset the select index back to the first tab (create tab in the screen shot) when I change the bottom navigation tab and go back. it tried func reloadMenu() as well as pagingViewController.select(index: 0), they both not working. here is my code

extension IndexReferralViewControler: UITabBarControllerDelegate {
    func tabBarController(_ tabBarController: UITabBarController, didSelect

[2019-05-01 19:50] Smiller193 opened #332 "Wrong index when selecting menu item"
I am following the unsplash example to create my primary UI. I have four items/indexes which help me differentiate what data that I want to pull. For some reason when I click a menu item lets say the one In the first index ( 0 th) it loads the content in the 2nd index ( 1st due to the fact that it is array based) should be loading content for a view controller that isn't present yet. Also when I s

[2019-05-02 09:43] khacdai37 opened #333 "Custom page view size"
Hi,
I want to show page view with width size equal 2/3 screen width size device, so how I can do it? we have any property for that ?
Thanks.

[2019-05-06 13:59] sevgjan commented on #320
@rechsteiner this occurs if we set different font size or font weight for selected and not selected items? I also have this issue.

Example:
pagingViewController.font = UIFont.systemFont(ofSize: 26, weight: .regular)
pagingViewController.selectedFont = UIFont.systemFont(ofSize: 30, weight: .bold)

Is there a way to fix this weird transition in this case?

[2019-05-06 14:06] rechsteiner commented on #320
@sevgjan thanks! I will take a look at it

[2019-05-06 14:18] sevgjan commented on #320
@rechsteiner you're welcome man.
please update if you find a solution. thanks!

[2019-05-07 00:32] nickdnk opened #334 "Prevent removing ViewControllers in FixedPagingViewController from hierarchy"
Hello

I recently had to change to this lib because PagingMenuController that I used before (https://github.com/kitasuke/PagingMenuController) is no longer maintained.

I've managed to get it up and running, but I have one major issue: I have only two view controllers. The second VC kind of depends on the first one. It can tell the first VC to present a VC, display an alert etc. However, this does

[2019-05-07 00:42] nickdnk commented on #334
Specifically, commenting out this code in `EMPageViewController.swift` fixes my problem entirely and everything works this way, but I realize it's not a great solution. I have very limited knowledge of how this library is built, so perhaps someone can come up with a clean solution.

[code]

[2019-05-07 11:26] Abhishek-Dwivedi opened #335 "Gradient background not working if we replace an UIView instead of UIImageView in HeaderExample of Parchment"
I am using parchment library for pagination in my application. When I replace the UIImageView with a UIView in the header example of Parchment, gradient background is not working. I only see white screen.

Gradient works if I add separately in a view, with Parchment, I believe it is overlapped by some layer. I also tried this link but did not work. https://github.com/rechsteiner/Parchment/issues/1

[2019-05-09 02:42] pbreah opened #336 "add to parent ScrollView"
First of all congrats for such amazing work. This is an implementation question I have been attempting for several days without success.

I have a parent UIViewController that I'm using to implement the paging menu. It works in the sense that I see the menu and the child controllers load and I can see the content of one of the child controllers partially.

On the child view controller I have an UI

[2019-05-10 12:31] Akshay4593 opened #337 "Add Image in menu items."
Hi,
can we add image in menu items?

<img width="368" alt="Screenshot 2019-05-10 at 5 55 31 PM" src="https://user-images.githubusercontent.com/50488281/57527536-915d5600-734d-11e9-96ec-2bf6cfb41373.png">

[2019-05-10 16:46] nikolaveljic64 commented on #337
You can use custom cell.See IconsExample. And if you want you can use .nib.

pagingViewController.menuItemSource =  .nib(nib: UINib.init(nibName: "CollectionViewCell", bundle: nil))

Or much easier, is to make two uiview , and through delegate change image.

[2019-05-10 16:50] nikolaveljic64 opened #338 "Problem with HeaderExample"
![30n1r8](https://user-images.githubusercontent.com/18101315/57543338-6296ae00-7354-11e9-9342-837cb52dfa47.gif)

How to fix this problem?

[2019-05-11 08:43] Alexookah commented on #338
@rechsteiner have the same issue

[2019-05-13 00:50] davidrivasro07 commented on #268
this " pageView.topAnchor.constraint(equalTo: topAnchor)" worked for me instead of "pageView.topAnchor.constraint(equalTo: collectionView.topAnchor),"

[2019-05-14 21:29] cwestMobile opened #340 "Scroll not resizing"
I am having an issue using the example for resizing the menu on scroll. I have a delegate hooked up and all that jazz, it is working except it is not actually resizing the menu. It is just scrolling up and it gives the appearance the child view controller is scrolling over half the menu.

Please let me know if you need more info or anything. Thanks :)

<img width="385" alt="TopScroll" src="https:/

[2019-05-14 21:53] cwestMobile commented on #340
I also have a question on the following method from the Unsplash example...

`func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, isScrollingFromItem currentPagingItem: T, toItem upcomingPagingItem: T?, startingViewController: UIViewController, destinationViewController: UIViewController?, progress: CGFloat) {
    guard let destinationViewController = destinationViewContr

[2019-05-15 15:08] Alexookah commented on #338
only workaround is to use in TableViewController viewDidLoad

tableView.contentInsetAdjustmentBehavior = .never

but is this the correct way?

[2019-05-16 14:37] AntoGeekz opened #341 "Manage width size custom cell after "reloadMenu" method"
Hi,

I'm trying to call the method "reloadMenu" when I update the title of a cell. The title is correctly updated, but it seems even if the method "pagingViewController<T>(_ pagingViewController: PagingViewController<T>, widthForPagingItem pagingItem: T, isSelected: Bool) " is called again with the new title, the width of the view doesn't change correctly. (to be able to have a size equals to the

[2019-05-16 15:10] AntoGeekz commented on #341
Ops, closed the issue by mistake.

[2019-05-21 07:27] qiaqiaxian commented on #338
@rechsteiner have the same issue

how to solve this problem?

[2019-05-21 07:47] rechsteiner commented on #338
Hi! These examples are just to illustrate what you can do with Parchment and are not actually part of the framework itself. I can look into improving the example code when I have some more time, but it's not really anything specific to Parchment here.

[2019-05-22 12:17] qiaqiaxian opened #342 "HeaderExample with Uiview"
@rechsteiner
Hi,how can i  let the HeaderExample with UIView scroll with the tableview

![QBJietu20190522-201531](https://user-images.githubusercontent.com/21219815/58173685-936cd080-7cce-11e9-988a-563cb3874ab6.png)

[2019-05-23 17:51] jerzykiler opened #343 "Menu bar disappears unexpectedly after some scrolling"
Hello,

I have this strange issue where after a minute or sometimes 5 minutes of scrolling through pages the tab menu disappears.

The white space occupied by the menu remains but the texts and indicator are gone.

Everything else is working fine.
The issue is shown in the movie below:

(You have to be logged in to the gmail account you specified on the github profile page)
https://drive.google.co

[2019-05-24 01:49] lianleven opened #344 "Indicator set width and center"
The effect I want is shown in the figure

![4E8463BA-FBCE-41AB-B666-5864BF7C94B4](https://user-images.githubusercontent.com/8415878/58297008-a5eb2500-7e08-11e9-9a35-10a4c4aba978.png)

Change the source code to achieve this, is there any other interface implementation?

`private func indicatorInsetsForIndex(_ index: Int) -> PagingIndicatorMetric.Inset {
    if case let .visible(_, _, _, insets) = o

[2019-05-24 01:53] lianleven commented on #344
indicatorInsetsForIndex

This method should use both inset, because the meaning of inset is relative to MenuItem, it should not be left or right.

[2019-05-24 03:44] #344 closed

[2019-05-25 08:43] #277 closed

[2019-05-25 08:44] #315 closed

[2019-05-25 08:44] #318 closed

[2019-05-25 08:45] rechsteiner commented on #319
Did you manage to figure this out? 🙂

[2019-05-25 08:46] #323 closed

[2019-05-25 08:51] rechsteiner commented on #330
You need to create delegate, or a callback property, on the tab/view controller that communicates the button action up to the view controller that contains the paging view controller. Then that view controller can call reloadData.

[2019-05-25 08:51] #330 closed

[2019-05-25 08:52] rechsteiner commented on #322
Should be working now (#345) 🙂 Can you target the `master` branch and verify that it works for you as well before I release a new version?

[2019-05-25 08:54] rechsteiner commented on #331
`reloadMenu` will keep the currently selected index, so you need to use `pagingViewController.select(index: 0)`. I'm not sure why that shouldn't work. Are you sure the method is actually being called?

[2019-05-25 08:58] rechsteiner commented on #333
Hi @khacdai37! Do you want to show multiple pages at the same time, like in #197? In that case, Parchment currently does not support this. If you just want to change the size of the page view controller, you can create a `PagingView` subclass where you override the `setupConstraints` method (check out the `LargeTitlesExample`).

[2019-05-25 09:06] rechsteiner commented on #334
Hi @nickdnk! There isn't really a way to achieve this without modifying the library like you mentioned. I also don't think I will add support for that scenario as it sounds a bit like an anti-pattern to reference the view hierarchy for something that isn't in view.

That said, I'm working on a new version of Parchment (#243) where you can use the menu independently from the page view controller. W

[2019-05-25 09:20] rechsteiner commented on #335
This doens't sound like an issue with Parchment. I just looked at the HeaderExample and it works perfectly fine to make everything transparent if that's what you are trying to do. I would just inspect the view hierarchy and figure out which views are overlapping, or if it's just an problem with your gradient view.

[2019-05-25 09:20] #335 closed

[2019-05-25 09:26] rechsteiner commented on #336
Hi @pbreah! That you for the detailed report. It's a bit hard to say without being able to debug your application, but it looks a bit like you just need to set the `contentInset` of you scroll view to account of the header view. For instance, in the `HeaderExample` we do this: https://github.com/rechsteiner/Parchment/blob/master/HeaderExample/ViewController.swift#L112

Does that fix the issue?

[2019-05-25 09:27] #337 closed

[2019-05-30 18:32] #342 closed

[2019-06-07 03:41] Smiller193 opened #349 "Add or remove menu items"
I want users to be able to add or remove menu items depending on certain conditions or selections is that possible with this library

[2019-06-10 14:41] quynv186 opened #350 "Function call three time"
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForPagingItem pagingItem: T) -> UIViewController {

Func called 3 times => ViewController init 3 times => Bug

Value is wrong. When choose calendar "20/Thu" but using print, value is "21/Thu".

How can I get the correct value when func being called 3 times?

[2019-06-12 19:54] TosinAF commented on #243
Hi @rechsteiner

For 2.0, I found a bug whereas when there are two few paging items, there is no animation when changing pages. I dug in and found out it's because of

`if collectionView.contentSize.width >= collectionView.bounds.width && state.progress != 0 {`

I was thinking of fixing by always having the content offset be .zero if the content size width is less than the width of the collection

[2019-06-12 19:57] TosinAF commented on #243
<img width="721" alt="Screen Shot 2019-06-12 at 12 56 48 PM" src="https://user-images.githubusercontent.com/2206858/59381994-8eb99c00-8d11-11e9-923d-d44933c6e7b1.png">

[2019-06-13 08:12] beilusen opened #352 "When the child controller loads the charts, the data is too large to slide. How can this be solved?"
When the child controller loads the charts, the data is too large to slide. How can this be solved? As far as I know, it should be destroyed when the next controller is slid to the next controller.

[2019-06-13 10:02] #352 closed

[2019-06-25 09:19] pomarec opened #353 "Feature request : smoother animation between font and selectedFont"
Hey,
First of all, thanks for this very handy UI component. We've been using it in MyPlusOne for quite some time now.
Would it be possible to improve the animation when a menu item get selected ? AFAIK UIKit does not have `font` animatable on `UILabel`. Maybe a alpha in and out between two labels ?
Greetings

[2019-07-04 01:42] nickdnk commented on #334
@rechsteiner Hey. Sorry, this got shelved a bit.

I forked the repo and just commented out those lines and added my fork to Podfile. Kind of a hack, but works fine. The particular app that needs this is being entirely replaced in the near future, so there's no reason to spend time with this.

[2019-07-04 01:42] #334 closed

[2019-07-05 05:11] vijay1864 opened #354 "Change Names Of Menu Items In StoryBoard Example"
Hi,
I need to Change Names (First and Second) Of Menu Items and text colour In StoryBoard Example
How can I do that..?
Please Help me
Thanks in advance
![Screenshot 2019-07-05 at 10 35 47 am](https://user-images.githubusercontent.com/28288700/60699424-69374100-9f11-11e9-9678-f357db03e911.png)

[2019-07-05 07:36] #354 closed

[2019-07-05 16:16] josipvukovic commented on #149
did the exact same but it doesn't work...code just doesn't reach main function("nextPage" - in his case). Could it be a problem with newer version of Parchment?

[2019-07-06 06:34] vijay1864 commented on #252
I also Have the Same issue too
Can anyone help me out
Thanks in advance

[2019-07-06 06:35] vijay1864 commented on #252
@Singh09Meenu Did you solve your issue
If yes, please tell me how to do that..?

[2019-07-07 20:23] #322 closed

[2019-07-09 16:35] sinhaGIT opened #355 "Menu Indicator not scrolling upon select function calling"
I am facing an issue with this, issue when I select 3rd page and change tab from tabBarController now I want to switch back 1st tab and 1st Page through select Method it selects first page, but menu indicator not going to first page position.

I tried following on viewWillAppear

pagingViewController.select(index: 0, animated: true)

Thanks.

[2019-07-10 05:26] sinhaGIT commented on #331
I am also facing same issue. have you solve your issue. if yes, then please help me

I call the select method in viewWillAppear. and my code confirm executes. It select first page controller, but menu indicator are not moved to first page it remains on previous selected page.

Thanks.

[2019-07-10 12:20] nickdnk opened #356 "Unbalanced calls to begin/end appearance transitions"
Hello

I have a view controller in a tab-bar setup. When I click the tab-bar for this controller, I receive this error. I'm using the `FixedPagingViewController` with only 2 view controllers.

`Unbalanced calls to begin/end appearance transitions for <ClassOfFirstViewController: 0x1028f1c00>.`

Everything works. There are no crashes or weird behaviour, but it seems something is wrong when this hap

[2019-07-10 21:10] hassan31 opened #357 "How to get current or selected index?"
Hello Dear,

I'm trying to get current or selected index of pagingViewController. Seems like, it does not exist. Can you please let me know how can I achieve this?

Thanks

[2019-07-12 06:42] vijay1864 opened #358 "Navigate ViewControllers With Custom Button in Storyboard Example"
Hello guys,
I have implemented functionality with storyboard example
But I got an issue when I click on the next button I need to go next view controller and whenever I click the previous button and need to go to the previous screen
How to do that
please help
Thanks in advance
![Simulator Screen Shot - iPhone 8 Plus - 2019-07-12 at 12 12 29](https://user-images.githubusercontent.com/28288700/61107

[2019-07-12 08:17] LeeTwelve opened #359 "Customize hidden indicators"
Hello,
How to customize a hidden indicators?

What I have:
![1](https://user-images.githubusercontent.com/5905995/61113219-e5a0c580-a4b7-11e9-86c7-3b3c332aa6bc.png)

What I want:
![1 2](https://user-images.githubusercontent.com/5905995/61113233-f05b5a80-a4b7-11e9-9e45-85bd4cccf473.png)

Is it possible?

[2019-07-18 19:16] helios66 commented on #357
Hey @hassan31, I believe this is what you're looking for.
[code]

[2019-07-18 19:21] hassan31 commented on #357
Hi @helios66 Exactly thanks a lot much appreciate.

[2019-07-21 16:36] MarcosSorribas opened #360 "Attempt to scroll to invalid index path Crash [iPad related]"
Hi all!

I've just released and **iPhone** app with a Parchment based pagination controller. Some users are using the app in iPad in the iPhone compatibility mode and the app starts crashing for them. I'm not able to reproduce the issue but I know that _**It only happens in iPad devices running my iOS app in compatibility mode.**_

This is the crash trace:

<img width="1338" alt="Screenshot 2019-0

[2019-07-31 03:15] trevinwisaksana opened #361 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler"
I cannot build my project with this library using Xcode 11 Beta. Is there a version which is up to date for this?

[2019-07-31 03:34] trevinwisaksana commented on #361
Sorry, this is a false alarm. This seems to be an issue with the our framework. Simply changing the compiler to Xcode 11 and rebuilding my project fixed this issue.

[2019-07-31 03:34] #361 closed

[2019-07-31 05:35] djleerocio commented on #357
@hassan31 i would be grateful if you close the issue

[2019-08-01 14:58] atalayasa commented on #350
I think it is calling for your current, before and after view controller. It makes my structure broken but I do not know how to prevent it.

[2019-08-01 15:04] atalayasa opened #362 "Caching before and after view controller causes crashing"
I am using `PagingViewControllerInfiniteDataSource` for my purposes and in my view controller I am using collection view. As far as I understood while doing debug library is calling 3 times for current, before and after view controller init function for caching. However, it causes a problem that is even if collection view data has been changed it can't reflect changes in my view controller because

[2019-08-03 17:59] hassan31 commented on #357
Hi, closing this now.

[2019-08-03 17:59] #357 closed

[2019-08-06 07:56] kareemarab opened #363 "InputAccessoryView Doesn't Work with Parchment"
I have two view controllers side by side using Parchment. One of them is a chat view controller  (ChannelLogController) which has a messageInputBar. I'm trying to use InputAccessoryView with the messageInputBar but I keep getting this error message:

Terminating app due to uncaught exception 'UIViewControllerHierarchyInconsistency', reason: 'child view controller:<UICompatibilityInputViewControlle

[2019-08-13 08:28] chrisk810 opened #364 "Parchment header issues when change index"
There is a glitch on the content offset of the header view when switch to another index, this also happens on your Header Example.

[2019-08-20 13:52] Silvia4 opened #365 "Gradient menu background"
Hi,
thanks for your work.
I'm trying to use a gradient for the menu (from left to right). I've put everything transparent and then added a gradient sublayer, but it doesn't show.

`pagingViewController.backgroundColor = UIColor.clear
pagingViewController.menuBackgroundColor = UIColor.clear
pagingViewController.collectionView.backgroundColor = UIColor.clear
pagingViewController.view.backgroundColor

[2019-08-21 06:21] bfstaff01 commented on #319
is it possible to use PagingViewController with storyboard item? like FixedPagingViewController?

[2019-08-22 12:50] velthune opened #366 "Header menu customization"
Hi,
is it possible to customize the height for menu?

The only way I found is:

    self.pagingViewController.menuItemSize = .sizeToFit(minWidth: width, height: height)

Specifying an height > 40, the whole menu goes behind the view of the current view controller.

[2019-08-23 02:06] ikesyo commented on #220
Ref: https://github.com/emalyak/EMPageViewController/issues/19

[2019-08-26 20:19] paulocoutinhox opened #367 "How to remove the shadow?"
Hi,

How i can remove the shadow?

![2019-08-26 jpg (750×1334)](https://user-images.githubusercontent.com/395096/63720460-a0e1ab80-c825-11e9-9c54-9ae7961ea7a8.png)

Thanks.

[2019-08-26 22:19] #367 closed, assigned to nobody

[2019-08-27 07:39] shalsuman opened #368 "All the menuItem is not getting dispalyed in pagingViewController in landscape mode on tab for iOS 12.4 version"
In PagingViewController , suppose the Paging item is 5 then only 4 is getting displayed landscape mode on iPad . The func collectionView(_ collectionView: UICollectionView, cellForItemAt indexPath: IndexPath) -> UICollectionViewCell is not getting called for 5 times and its returning after 4th call. Is it some library issue ?

[2019-08-31 13:25] seangee777 opened #369 "Value of type 'CustomPagingViewController' has no member 'menuItemSource'"
Hi,
It seems there's a mistake in your last version and "MenuItemSource" not defined and it replaced with "MenuItemClass" every where in Parchment !
e.g. below line in Parchment (where MenuItemSource should have been defined) :

`  public var menuItemClass: Parchment.PagingCell.Type `

[2019-09-01 10:18] rechsteiner commented on #243
Hi @TosinAF! Thanks for the feedback. I've been a bit busy lately so I haven't had time to focus on the `2.0` refactor, but I'm planning on finishing it up soon. Need to look a bit more into your suggestion, bit it seems like that should work 🙂

[2019-09-01 10:20] rechsteiner commented on #319
@jackklink Closing this for now, but let me know if you are still having issues with this.

@bfstaff01 Yes, that is possible. Take a look at the guide here: https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md. In `viewControllerForIndex` you need to get the view controller you want from the storyboard.

[2019-09-01 10:20] #319 closed

[2019-09-01 10:23] rechsteiner commented on #329
@sprzenus can you check what `self.pagingViewController(self.pagingViewController, pagingItemForIndex: startIndex)` is returning here?

[2019-09-01 10:24] #333 closed

[2019-09-01 10:25] rechsteiner commented on #336
@pbreah did you manage to get this working?

[2019-09-01 10:30] rechsteiner commented on #340
Hi @cwestMobile! It's a bit hard for me to tell without looking at your code. The Unsplash example should work, so maybe you can cross-reference your implementation to that one? These examples are just to illustrate what you can do with Parchment and are not actually part of the framework itself. I'm trying to keep Parchment as generic as possible, so it's up to you to figure out how this should w

[2019-09-01 10:34] rechsteiner commented on #343
Hi @jerzykiler! That's very strange. The code you posted seems correct to me. Are you doing anything else in your code related to Parchment? Are you able to reproduce this in a more isolated case, like in one of the example targets? I'm struggling to reproduce this myself.

[2019-09-01 10:37] rechsteiner commented on #332
Hi @Smiller193! I'm struggling to reproduce this. Are you able to reproduce this in one of the example targets as well?

[2019-09-01 10:38] rechsteiner commented on #349
Yes, that's possible 🙂 Check you this guide for setting up your own data source: https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md. When you want to add or remove items, just update the data source and call `reloadData`.

[2019-09-01 10:38] #349 closed

[2019-09-01 10:43] rechsteiner commented on #353
Hi @pomarec! Yeah, that should definitely be possible. I'm currently a bit busy trying to finish up version `2.0`, but I'll look into this afterwards. In the meantime, you can always create your own `PagingCell` subclass and implement this directly in your app 🙂

[2019-09-01 10:59] rechsteiner commented on #358
Hi @vijay1864! You can navigate programatically using `pagingViewController.select(index:)` or `pagingViewController.select(pagingItem:)`. Does that work for you?

[2019-09-01 11:01] rechsteiner commented on #359
Hi @LeeTwelve! If each title should have a line underneath, then the easiest would be to create your custom `PagingCell` subclass where you add that line. You can check of the CalenderExample or UnsplashExample targets for details on how to create your own cells 🙂

[2019-09-01 11:01] #359 closed

[2019-09-01 11:03] rechsteiner commented on #360
Hi @MarcosSorribas! Thanks for the detailed report. I will try to find a fix for this. Let me know if you figure out a way to reproduce this

[2019-09-01 11:06] rechsteiner commented on #362
Hi @atalayasa! One option is to call `reloadData` when something in your data source changes, but that will re-create the entire view controller, which might be a bit too expensive. Ideally, I guess you should pass something down to the view controller instances that they can subscribe to changes to directly. That way you don't need to create new view controller instances every time the data chang

[2019-09-01 11:08] rechsteiner commented on #364
Yeah, this is a duplicate of #338. As I mentioned there, those examples are just to illustrate what you can do with Parchment. I will try to fix that specific example, but it's really up to your app to determine how you want this to work.

[2019-09-01 11:08] #364 closed

[2019-09-01 11:17] rechsteiner commented on #365
Hi @Silvia4! There a couple of issues with your implementation:

- You need to use .cgColor in `gradientLayer.colors`. E.g: `[UIColor.blue.cgColor, UIColor.green.cgColor]`
- You probably want to add the layer `pagingViewController.collectionView` instead of the entire paging view. You should also do `.insertSublayer(gradientLayer, at: 0)` instead to insert the view at the bottom of the view hierar

[2019-09-01 11:17] #365 closed

[2019-09-01 12:59] rechsteiner commented on #366
Hi @velthune! Setting `menuItemSize` should work. Are you overriding the layout constraints for the paging view or something?

[2019-09-01 13:01] rechsteiner commented on #368
Hi @shalsuman! I'm not aware of any issues related to this. Do you have any screenshots and/or some ways of reproducing this?

[2019-09-01 13:05] rechsteiner commented on #369
Hi @seangee777 🙂 I'm not sure I understand exactly what the issue is. The `menuItemSource` property replaced the `menuItemClass`. I can't find any remaining references to `menuItemClass`.

[2019-09-01 13:09] rechsteiner commented on #363
Hi @kareemarab! Are you sure this is an issue related to Parchment and not just specific to your implementation? I tried setting up a view controller with a text field and an accessory view using the `inputAccessoryView` property and it seems to work just fine.

[2019-09-02 14:50] seangee777 commented on #369
I added Parchment to my App using CocoaPods,
When I'm trying to run my App I get this error :
`Value of type 'CustomPagingViewController' has no member 'menuItemSource'  `
I wanted to use "Unplash Example" from your sample project, So I exactly copied the "Unplash Example" folder contents and It just shows above error !
The error says that "MenuItemSource" has not defined !
So I compared your samp

[2019-09-03 08:16] junaidshad opened #370 "How do i change the selected indicator color from white to custom?"
<img width="410" alt="Screen Shot 2019-09-03 at 1 15 19 PM" src="https://user-images.githubusercontent.com/14823101/64155812-f8e36800-ce4c-11e9-858d-d7e5666e40c8.png">

[2019-09-03 18:02] rechsteiner commented on #355
Hi @sinhaGIT! This should be fixed in #371 🙂 You can target the `master` branch for now. Will release a new version soon!

[2019-09-03 18:02] #355 closed

[2019-09-03 18:03] rechsteiner commented on #331
Hi @lephillips! Managed to find the issue you reported here (fixed in #371). Will release a new version soon 🙂 Thanks for the report

[2019-09-03 18:03] #331 closed

[2019-09-03 18:04] rechsteiner commented on #370
Check out the `indicatorColor` property 🙂

[2019-09-03 18:04] #370 closed

[2019-09-03 18:12] rechsteiner commented on #350
Yes, that's correct. Parchment will call your data source for the current view controller and its two siblings. The is the same behaviour the `UIPageViewController` has. The reason for this is that you would see a noticeably lag when swiping between view controller if you had to allocate them on the fly. You can always allocate the view controllers up front and cache them in a property if you want

[2019-09-03 18:12] #350 closed

[2019-09-03 18:14] rechsteiner commented on #369
It sounds like your are using an old version of Parchment in your app. Can try to upgrade to the latest version?

[2019-09-03 18:18] #362 closed

[2019-09-03 18:19] rechsteiner commented on #356
Hi @nickdnk! Thank for the report. This should be fixed now (#373). Sorry for taking so long to get a fix ready – I'll release a new version soon 🙂

[2019-09-03 18:19] #356 closed

[2019-09-03 20:22] seangee777 commented on #369
I used Parchment by adding below line to my pod file :
` pod 'Parchment' `
My Xcode is updated And I think Xcode uses the latest version of Parchment automatically . .
Please correct me if I'm doing wrong.

Thanks for your nice support

[2019-09-04 05:26] Pratik948 opened #375 "Resize Menu Item After Orientation Change"
Hi @rechsteiner you've done a great job, this is an awesome library.

I'm facing one issue with size of Menu item when orientation changes, I have implemented `widthForPagingItem` for dynamic sizing cell but this method is not getting called when orientation changes and all menu item uses cached size(I guess). I have also tried to invalidate layout of collection view in `viewDidLayoutSubviews` but

[2019-09-04 05:40] junaidshad commented on #370
but it does not change the background color, it just changes the indicator. the background remains white. i want to change the indicator color to white and the background color to red.

<img width="412" alt="Screen Shot 2019-09-04 at 10 38 36 AM" src="https://user-images.githubusercontent.com/14823101/64228455-5684bc80-cf00-11e9-8d2b-51ab1ee47c94.png">

[2019-09-04 06:26] sprzenus commented on #329
It returns the first item of type `PagingIndexItem` for a new data

[2019-09-04 15:51] rechsteiner commented on #329
But what is the value of the item? If you could provide any ways of reproducing this that would be great

[2019-09-04 15:54] rechsteiner commented on #370
Ah, then you can change the `selectedBackgroundColor` property 🙂

[2019-09-04 15:55] rechsteiner commented on #369
Awesome!

[2019-09-04 15:55] #369 closed

[2019-09-05 11:24] pajtimid opened #376 "Scroll vertically"
Is it possible to scroll vertically. Thanks

[2019-09-07 14:00] ilham31 opened #377 "How to make the indicator look rounded"
I want to edit the indicator. but it seems inherit cgrect. how to make it rounded

[2019-09-07 14:01] #377 closed

[2019-09-09 07:28] hosenja commented on #145
can anyone show me example code for this

[2019-09-09 18:49] khoogheem commented on #332
interesting.. we have seen this too.. just have not had enough time to debug why

[2019-09-11 07:14] junaidshad commented on #370
![IMG_3998](https://user-images.githubusercontent.com/14823101/64675882-a37f0a80-d48d-11e9-9555-bf660e2c1219.jpeg)

How do i make the black line/separator invisible? :/ any help?

[2019-09-11 08:22] rechsteiner commented on #370
`. indicatorOptions = .hidden`

[2019-09-11 08:24] rechsteiner commented on #370
The black line is from your UINavigationBar. This is not part of Parchment. Check out stack overflow on how to get rid of that 🙂

[2019-09-11 13:48] Pratik948 commented on #161
Hey guys, I have workaround for this RTL languages. I am using datasource and delegates for `PagingViewController` and I have an array of titles for all items. when my app uses RTL semantics I reverse the array using something like this
[code]
 and when the paging controller is added to view controller I set its index to last like this
[code]

I hope this helps other people too

And @rechsteiner t

[2019-09-11 21:12] schenkty commented on #177
Hey @rechsteiner, is this still possible? I can't seem to find `menuItemClass`. I don't exactly have to use this but I need a way to make certain items stand out to the user as I'm using this for a form

[2019-09-14 07:02] Maxlufs opened #378 "Hide page menu (top CollectionView) when there's only single page"
Is there anyway to hide the page menu (on the top) when there's only one page?
something like UIPageControl
`hidesForSinglePage = true`

seems PageView sets height constraint on page menu (the CollectionView) and i couldn't find a way to override that heightAnchor except subclassing PagingView and override the entire setupConstraints()

[2019-09-14 10:43] rechsteiner commented on #378
Hi @Maxlufs! There isn't any build in way of doing it, so you would have to create a `PagingView` subclass like you mentioned 🙂

[2019-09-14 10:46] rechsteiner commented on #376
Hi @pajtimid! This is not supported at the moment. I'm very open for adding support for this, but it will probably take some time before I have time to do it.

[2019-09-14 10:47] rechsteiner commented on #375
Thanks @Pratik948! This definitely seems like a bug. I will look into getting that fixed soon 🙂

[2019-09-14 11:26] rechsteiner commented on #243
@TosinAF could you provide some more details on how I can reproduce this? I was looking into this now, but it seems to work fine for me.

[2019-09-14 12:12] Pratik948 commented on #378
Hi @Maxlufs ! I have done similar with my project, you'll have to set height of menu item to `0` when there's only one.
like this

`pagingViewController.menuItemSize = .sizeToFit(minWidth: 120, height: self.items.count == 1 ? 0 : 40)`

(@rechsteiner I think there's a built in way to do it like above code, I don't know if its a proper way or not)

[2019-09-16 10:15] Maxlufs commented on #378
@Pratik948 Thanks! `menuItemSize` works on initialization, but once it's set, I have failed to find other ways to update it. For example: re-setting `menuItemSize` wouldn't work in `viewWillAppear()`
What i'm looking for is basically `hidesForSinglePage`, a sample use case is dependent on if a user is logged in. If they are, show more tabs, if they are logged out, show one.

[2019-09-16 10:16] Maxlufs commented on #378
@rechsteiner would be really nice to have that feature if it's not to much of a change 😆

[2019-09-16 16:12] vanab commented on #210
Try it for more smooth animation

[code]

[2019-09-18 18:45] schenkty opened #382 "Disable Swipes"
Is there a way to disable the ability to swipe between VCs?

[2019-09-20 17:46] artemkalinovsky opened #383 "UISearchController compatibility"
Is it possible to add UISearchController to large navigation bar with Parchment paging controller?

[2019-09-24 06:18] pcmanik opened #384 "New version"
@rechsteiner First of all thank you for this amazing library.

I'm in process of migrating from Carthage to SPM. Can you please release new version of Parchment? Because 1.6.0 doesn't include Package.swift

Thank you.

[2019-09-24 12:04] weiyou2012 opened #385 "How to get the index of MenuItem that I click ?"
Hi, I have a question.

How to get the index of Item in menu that I click ?

Thanks.

[2019-09-26 10:19] seangee777 opened #387 "Using Unsplash Example with UITableView instead of collection view images"
Hi,
First thanks for the great design of Unsplash,
I want to use Unsplash Example with a tableview as contents source instead of collectionView images in it's body.
But I don't know how to remove that collection view images and it's constraints and where to implement my TableView ?
I don't want to define constraints and  I mean just keeping the above category imageBar and using tableview as conten

[2019-09-26 17:13] rechsteiner commented on #382
Yes, you can set `pagingViewController.contentInteraction = .none`

[2019-09-26 17:13] #382 closed

[2019-09-26 17:15] rechsteiner commented on #383
I haven't tried myself, but I'm pretty sure that should be possible. Are you running into some issues with it?

[2019-09-26 17:17] rechsteiner commented on #385
You need to use the `PagingViewControllerDelegate`. Check out this issue for an example #357

[2019-09-26 17:17] #385 closed

[2019-09-26 17:23] rechsteiner commented on #387
Hi @seangee777! You need to replace the `ImagesViewController` with your own view controller implementation. This isn't really something that's related to Parchment – it's up to you to decide how to implement your app specific view controllers.

[2019-09-26 17:23] #387 closed

[2019-09-26 17:43] rechsteiner commented on #384
Thanks @pcmanik! Published version 1.7.0 now!

[2019-09-26 17:43] #384 closed

[2019-09-26 18:51] artemkalinovsky commented on #383
Yep, UISearchController doesn't work when pagingController.collectionView is added to navigation bar:(

[2019-09-27 06:59] rechsteiner commented on #383
Can you provide a bit more details on what is not working? This doesn't sound like something that's specific to Parchment

[2019-09-27 08:51] artemkalinovsky commented on #383
Hey!
On today's morning I've figured out that it was my fault and it wasn't specific to Parchment😅

@rechsteiner thank you for help!

[2019-09-27 08:51] #383 closed

[2019-10-02 08:24] Pro2005 opened #389 "Can't update width existing menu item"
Hi there. Firstly thx for the library.
In my case when user opens ViewController I need to show only one menu item and on viewDidAppear I perform API request. When I get response from the server I need to add another tab. Everything work except I can't update width of existing first menu item. I'm using
` func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, widthForPagingI

[2019-10-03 00:20] alexdecor opened #391 "how to add pull to refresh to pageview.scrollView"
I tried to add a pull to refresh to pageview.scrollView, is there a way to do it, thank you.

[2019-10-09 02:21] AlexanderPan commented on #338
I got same issue.

[2019-10-09 08:32] destantifw opened #393 "PagingViewController only load first cell on first appear"
when page first appears, PagingViewController only show the first cell, the next cell will appear after swipe.

[first appear]
![Screen Shot 2019-10-09 at 15 16 57](https://user-images.githubusercontent.com/14884055/66464759-c4954400-eaa9-11e9-856b-aaa796774b55.png)

[after being swiped]
![Screen Shot 2019-10-09 at 15 17 04](https://user-images.githubusercontent.com/14884055/66464829-e68ec680-eaa9

[2019-10-15 03:29] Scyano opened #394 "is there anyway to make a fully filled indicator under menu item"
I need to make a rounded indicator as a background of menu item, but I have no ideal to make the indicator centered to the menu item.

[2019-10-16 06:18] #394 closed

[2019-10-18 11:13] AntoGeekz commented on #389
Same problem https://github.com/rechsteiner/Parchment/issues/341 ?

[2019-10-19 10:31] rechsteiner commented on #389
How are you reloading the menu when the data comes back? `reloadMenu()`?

[2019-10-19 10:32] rechsteiner commented on #393
Hmm, it's a bit hard to tell without seeing more of your implementation. How are you setting up the `PagingViewController`?

[2019-10-19 10:33] rechsteiner commented on #391
Hi @alexdecor! I don't think `pageView.scrollView` would be the correct place to add pull-to-refresh. That scroll view is only scrolling horizontally. If you need pull-to-refresh inside one of your tabs you need to add it to your own view controller.

[2019-10-19 10:35] rechsteiner commented on #366
Any updates on this?

[2019-10-19 10:36] rechsteiner commented on #363
Any updates on this?

[2019-10-19 10:36] #358 closed

[2019-10-19 10:37] rechsteiner commented on #343
If you have any more details on how to reproduce this that would be great. I'm not able to reproduce this myself.

[2019-10-19 10:38] #340 closed

[2019-10-19 10:41] rechsteiner commented on #338
@AlexanderPan As I mentioned above, this functionality is not part of Parchment and it's only an example of what you can do with the framework. If you need this functionality in your app, its up to you to figure out how to solve that in a good way. I will look into improving the examples, but feel free to open a PR with improvement if you solve it in your app 🙂

[2019-10-19 10:41] #336 closed

[2019-10-19 10:44] rechsteiner commented on #329
Any updates on this? I'm not able to reproduce the crash your are seeing

[2019-10-19 19:38] AntoGeekz commented on #389
Yes @rechsteiner , in my case, I call "reloadMenu" because I just want to reload the tabs content, not all the view controllers.

[2019-10-21 07:59] AntoGeekz commented on #389
Hey,

I tested again the issue in my app using this repo. I updated the repo to the last release and.... it works! The problem no longer seems to be present.

[2019-10-21 08:00] #341 closed

[2019-10-21 11:19] velthune commented on #366
Hi, I'm working on another project so I can't give you any updates, yet. I'm sorry

[2019-10-21 11:22] #366 closed

[2019-10-23 09:42] Antonyyy13 opened #396 "Default width of custom item"
Hey,

I encounter a new problem that I can't find the origin of.

The current situation : I'm using a custom data source + custom paging cell.  I want to display 2 items.

The problem: The width used for items are not the width wanted.

I'm using the protocole PagingViewControllerDelegate and the method  "func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, widthForPagingI

[2019-10-30 04:57] leacode commented on #393
I have the same issue here.

Here's my code:

`
pagingViewController = FixedPagingViewController(viewControllers: viewControllers)
        pagingViewController.menuItemSize = .fixed(width: (UIScreen.screenWidth - 16.0) / 4.0, height: 44.0)
        pagingViewController.indicatorOptions = .visible(height: 2.0,
                                                         zIndex: Int.max,

[2019-10-30 13:56] leacode commented on #393
@destantifw  It took me whole afternoon to figure this out.

`
override func viewDidLayoutSubviews() {
    super.viewDidLayoutSubviews()
    if (pagingViewController?.visibleItems.items.count ?? 0) < items.count {
        pagingViewController?.reloadMenu()
        pagingViewController?.collectionView.layoutIfNeeded()
    }
}
`

The visibleItems only return 1 at the first time.
 When you scroll it

[2019-10-30 19:16] OCEO-YJ opened #397 "Menu Item is not showing"
Hello,

First of all, thank you for sharing really good project!

I was following the basic usage by using Fixedpage method, I can swipe the view controllers, however, but the view does not show the title menu. I followed exactly same as demo, but still top of title menu is hidden.

Is there way I can make it to be shown?

[2019-11-01 20:22] mrcwbr commented on #283
For me did this work.

in the viewDidLoad:
`self.pagingVC = PagingViewController<PagingIndexItem>()`

later in the code (e. g. in the didScrollToItem delegate function):
`self.pagingVC.collectionView.backgroundColor = UIColor.red`

[2019-11-12 15:19] aerow69 commented on #161
I have second workaround. You can transform PagingViewController, PagingCell and embeded view controllers by:
`view.transform = CGAffineTransform(scaleX: -1, y: 1)`

[2019-11-13 15:07] ymkim50 opened #398 "Crash when using SwiftPM"
I recently experienced a crash.

I installed it using SwiftPM but it crashed. It's release build, not debug build.
Here's the crashing part:

[code]

To test this, I ran a manual / Cocoapods installation. But there was no problem.
So I reinstalled with Cocoapods.

Some other libraries(e.g. SwiftyUserDefaults)  had same issue. Using generic seems to be the problem.

[2019-11-14 01:32] Coastchb opened #399 "No menu showed on the second tab view"

[2019-11-14 11:16] ziad007 commented on #397
You have to put .title = "" in the init() of the view controller
and
   pagingViewController.view.topAnchor.constraint(equalTo: view.topAnchor, constant: 90)

[2019-11-14 14:31] #399 closed

[2019-11-15 20:37] pcmanik commented on #398
Experiencing the same problem. It looks like the problem is in SPM itself

[2019-11-16 07:39] ymkim50 commented on #398
You are right. From my testing, I'm having trouble with libraries that create instances using Generics in SwiftPM. As XCode is updated, the libraries generated by SwiftPM seem to be a problem. I had to move all the libraries back to Cocoapods.

[2019-11-16 11:09] rechsteiner commented on #396
Hi @AntoGeekz! When are you setting up the delegate? It sounds a bit like you are setting the delegate after then view has already been displayed.

[2019-11-16 11:12] rechsteiner commented on #393
@leacode it shouldn't be necessary to do all that. When are you calling code that you shared? It sounds a bit like you are setting it up too late, e.g. viewDidAppear. Could that be the case?

[2019-11-16 11:13] #391 closed

[2019-11-16 11:27] rechsteiner commented on #378
@Maxlufs I don't think this will be added as a built-in option to Parchment. It's not that it requires a lot of change, but Parchment would get quite bloated if we added configuration options for every specific use-case. The goal with Parchment is to keep it as generic as possible and rather provide the customisation hooks you need to create your own behaviour.

That said, I'll look into making th

[2019-11-16 11:28] rechsteiner commented on #389
Great! @Pro2005 feel free to re-open this issue if you are still seeing the issue

[2019-11-16 11:28] #389 closed

[2019-11-16 11:29] #368 closed

[2019-11-16 11:29] #363 closed

[2019-11-16 11:31] rechsteiner commented on #332
@Smiller193 any updates on this?

[2019-11-16 11:31] #329 closed

[2019-11-16 11:33] rechsteiner commented on #343
@jerzykiler any updates on this?

[2019-11-17 15:59] rechsteiner commented on #243
Version 2.0 is now available as a beta release 🥳

https://github.com/rechsteiner/Parchment/releases/tag/v2.0.0-beta

[2019-11-17 17:13] EdgarDegas commented on #398
Experiencing this *Crash on Release Build* too, **also** when using another library named Moya. I’ve found no way but to switch back to Cocoapods.

[2019-11-18 08:20] AntoGeekz commented on #396
Hey @rechsteiner, I'm initializing everything in my ViewController's viewDidLoad method. (This VC is loaded in another VC btw). And yep, I was thinking about the same issue, but I did something like in your exemple initializing everything in viewDidLoad.

[2019-11-19 10:55] Antonyyy13 commented on #396
Ok stupid problem found... an event triggered a process which restarted the initialization of the paging ^^" Fail ! (and this process was indeed started after the UI created)

[2019-11-19 10:55] #396 closed

[2019-11-21 07:18] ymkim50 commented on #398
Please refer to the following link:
https://bugs.swift.org/browse/SR-11564?focusedCommentId=51285&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-51285

[2019-11-26 11:14] #397 closed

[2019-11-26 11:14] rechsteiner commented on #398
Thanks @ymkim50! Closing this issue as it’s not really much we can do about it.

[2019-11-26 11:14] #398 closed

[2019-11-26 11:16] #343 closed

[2019-11-26 12:24] ankit0812 opened #402 "When using a HeaderView above PagingViewController how to use custom view controllers rather than UITableViewController?"
Whenever I try to use a controller from storyboard I get a crash on tvProfileList (It is a tableView on my custom view controller from storyboard). How should I initialize this as I know that IBOutlets get initialized after push/present

    func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForIndex index: Int) -> UIViewController {
        if index < cont

[2019-11-26 14:27] kirilldobr opened #403 "Disable scrolling to page"
Currently, there is no delegate method like `canShowPageAtIndex: `, which could prevent from scrolling to a specific page without reloading the whole datasource and removing that page completely.

[2019-11-28 06:45] ankit0812 commented on #402
@rechsteiner Any updates for this?

[2019-12-04 11:24] Sparrow-Iv commented on #393
I have the same issue.

I use fixedPagingVC in some tabs and add it in viewDidLoad, the first VC works well, however, when i switching the tab, the next VC shows only a single item in the menu.

don't really want to reload the menu collection in viewWillAppear

[2019-12-05 01:34] mtangri opened #404 "Reload issue for the current item. Not an ISSUE , need help"
Below is my code for HomeViewController

[code]
Below is my code for ImageViewController
[code]

Below is my code for ImageCollectionViewCell
[code]

**My question is how can I refresh the item or view controller when there is a success from RestAPI call in the imageCollectionViewCell**

[2019-12-11 04:43] YoomamaFTW opened #405 "Infinite menu except for left side like an infinite book"
I'm looking to make an ever increasing menu using infiniteDataSource. However, I would like to have a minimum of the menu so that it wouldn't be able to scroll past a certain page.

For example, if I had an infinite book with each view controller being a single page, I would still want to start at page 1 but not be able to go to page 0 or -1. How would I go about doing that?

Bonus: these view con

[2019-12-11 19:00] YoomamaFTW commented on #405
Instead, should I use a FixedPagingViewController instead by using an array? Which one would be more memory efficient? I was thinking I first add two VCs on initial load of Parchment. When user swipes to the second VC, I would add another VC. Would that conduce a crash?

[2019-12-13 03:01] #405 closed

[2019-12-13 03:04] YoomamaFTW commented on #405
I'm not sure if this is memory efficient, but I'm using the a regular PagingViewController and a button in navigation bar to add a new view controller. In addition to adding a new view controller, inside the objc func (that the UIBarButtonItem needs) is self.pagingViewController.reloadMenu()

Check the source code to see what that does. Planning on testing it further and also adding the option to

[2019-12-16 12:54] Torlopov-Andrey opened #406 "Hide separator between menu and pages."
Maybe it is already implemented. But how can I customize menu?

[2019-12-16 12:57] #406 closed

[2019-12-16 15:54] vgillestad opened #407 "Accessibility - VoiceOver"
I'll use the **cities** example on the front page as reference.

If you enable VoiceOver on your phone you can select on of the cities in the menu by tapping it. By "flicking" left or right you can navigate city-by-city in the menu (typical UICollectionView behaviour). (When you have found your city of choice you double tap and that city will get selected in the menu and the page scrolls.)

The pr

[2019-12-20 05:55] zuil7 commented on #393
i encountered this one also in IOS 13. The work around i did is this
 addChild(pagingViewController)
 containerView.addSubview(pagingViewController.view)
 containerView.constrainToEdges(pagingViewController.view)
 pagingViewController.didMove(toParent: self)
 **pagingViewController.collectionView.layoutIfNeeded()**

Hope it helps

[2019-12-20 16:14] Istroot commented on #268
snapkit worked fo me:

`
 private(set) lazy var pagingViewController: FixedPagingViewController = {
        let viewController = FixedPagingViewController(viewControllers: [ReleaseAlbumViewController(),
                                                                         ReleaseCameraViewController(),
                                                                         ReleaseVideoViewCont

[2019-12-20 16:16] Istroot commented on #268
snapkit worked fo me:

[code]

[2019-12-21 15:38] #332 closed

[2019-12-21 15:45] rechsteiner commented on #402
Hi @ankit0812. This doesn't seem to be an issue related to Parchment. Take a look at the Storyboard example if you want to see how to initialize a view controller from storyboard.

[2019-12-21 15:45] #402 closed

[2019-12-21 15:49] rechsteiner commented on #403
Hi @kirilldobr. I'm not sure how a delegate like that would work. Should you still be able to select the item in the menu or should that also be disabled for that item? If you have a page in the middle that is disabled, should you then scroll all the way to the next enable item? Would like to hear more about the use-case you are having for this type of delegate.

[2019-12-21 15:55] rechsteiner commented on #404
Hi @mtangri! I don't really have the resources to answer questions specific to your app, but in general you can reload the menu items using `reloadMenu` or `reloadData`. For your use-case it sounds like `reloadMenu` is what you need. You might need to create a delegate/callback up to the `PagingViewController` to let it know that it should reload if you are doing data fetching inside one of the co

[2019-12-21 15:55] #404 closed

[2019-12-21 16:00] rechsteiner commented on #407
Hi @vgillestad! Thanks for the report. I'm not 100% if this is the issue, but I'm guessing it's related to the fact that we're reloading the data source in the collection view when there's a lot of items. I'll look into getting this fixed.

[2019-12-21 17:25] thihaaung6245 opened #408 "Crash on iOS 12"
I am experiencing crash on iOS 12.1, 12.4.2. Please see below attachment for error log.

<img width="1519" alt="Screenshot at Dec 21 23-51-02" src="https://user-images.githubusercontent.com/10526402/71311417-3ea05c80-244d-11ea-8d57-b682365e08b1.png">
<img width="1679" alt="Screenshot at Dec 21 23-51-30" src="https://user-images.githubusercontent.com/10526402/71311446-61cb0c00-244d-11ea-92e2-9cbf41

[2019-12-24 01:02] Tawfikk commented on #408
hi, you're fixed this crash ?

[2019-12-24 22:56] RyPoints opened #409 "Ability to add logo to top menu."
Could you tell me a good method or show me to the area of code to change to add a logo to the top menu.

Essentially I am looking to add a leading constraint to the menu so I can move it to the right slightly to make room for a logo.

**From this:**
![top1](https://user-images.githubusercontent.com/10441971/71426369-48001380-265d-11ea-9a6e-47efc5ad8926.png)

**To this:**
![top2](https://user-image

[2019-12-24 23:35] RyPoints commented on #409
I figured it out with the help of this answer here: [](https://github.com/rechsteiner/Parchment/issues/268)

First you reformat that answer back to provide a CustomPagingView for the top.  Then you add a constant to the leadingAnchor.

[code]

After this you can load your logo after the CustomPagingViewController setup and add it with:

`customPagingViewController.view.addSubview(imageView)`

[2020-01-05 18:36] YoomamaFTW commented on #405
This implementation can be found here: https://github.com/YoomamaFTW/infinite-view-controllers

It turns out I'm really stupid because Parchment and EMPageViewController are basically UIPageViewControllers, so the solution is to only use a UIScrollView in order to retain the view controllers.

[2020-01-06 17:54] Smiller193 opened #410 "App crashing with 'Thread 1: Fatal error: pagingViewController:viewControllerForPagingItem: No view controller exist for PagingItem'"
So im trying to redo the unsplash example with pictures and titles that come from some backend. However everytime I try to switch viewControllers it crashes with the error mentioned in the title. Below is my current setup, do you see anything that I could possibly be doing wrong.

[code]

Here is my dataSource

[code]

Finally my delegate

[code]
Can't figure out what im doing wrong

[2020-01-06 17:55] Smiller193 commented on #410
@rechsteiner

[2020-01-07 03:16] Smiller193 commented on #410
it looks like this is returning nil
`  var viewControllerForIndex: ((Int) -> UIViewController?)?
`

why would that happen

[2020-01-07 14:27] Smiller193 commented on #410
@rechsteiner

[2020-01-07 19:51] Smiller193 commented on #410
@rechsteiner sorry for bothering you but this is giving me a lot of problems

[2020-01-08 01:21] Smiller193 commented on #410
figured it out

[2020-01-11 16:34] #410 closed

[2020-01-11 16:36] rechsteiner commented on #409
Great! Another option is to use version 2.0. There you can definitely multiple PagingItem types, so you could have one for you logo and one for the menu items. The benefit of that approach is that the logo would scroll alongside the menu items if that's something you want.

[2020-01-11 16:36] #409 closed

[2020-01-13 18:13] gowtham1094 opened #411 "How to clear the sizeCache of menu?"
My application need to show the menu equally by the width if total width is lesser than the total screen width, else it should occupy its needed space.

For Example:

[code]
[code]

Also my application supports orientation so in single view controller itself there will be possible of having two different sets of menu width.

I am using PagingViewControllerDelegate widthForPagingItem in-order to as

[2020-01-15 02:30] nathanwhy commented on #378
can we hide page menu for all the pages? `menuItemSize ` may not be a good way.

[2020-01-22 12:48] crabman448 commented on #378
Would love to see it built into Parchment 😍
Although I achieved desired behaviour it seems to me that subclassing `PagingView` and `PagingViewController` is an overkill for achieving such kinda small thing.

What I did in my project and what could be also implemented in Parchment from my point of view:
[code]

Thank you!

[2020-01-23 11:51] jvashisht commented on #403
Hi @kirilldobr , Have you find any solution for this?

[2020-01-26 09:13] hatimmakki opened #413 "Menu height is 0 by default, and looks weird when I set it"
Hi
I am facing a problem with the menu height.
- menu appears on iPhone 8 but doesn't appear on iPhone 11
- it appears on iPhone 11 when I set the height, but it looks weird.

example iPhone 11 pro without setting the height:
https://drive.google.com/file/d/1AeRp7AZz5WrFvABmegKVaKKtjYMvzaoz/view?usp=sharing

example  iPhone 11 pro after setting the height:
https://drive.google.com/file/d/17s1LXCAd

[2020-01-28 12:21] HakanSAYAR opened #414 "PagingCell menu button doesn't work"
I created ButtonPagingCell and this cell contains only buttons for menu item. Unfortunately, scrolling doesn't work when the menu items are tapped. Scrolling works when I add anything instead of a button.
How can I fix this issue?

[2020-02-05 10:25] i1020242 opened #415 "PagingViewControllerDataSource recall many times"
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForIndex index: Int) -> UIViewController
- call many times and wrong index in case of function numberOfViewControllers return value>2

[2020-02-08 13:44] HakanSAYAR commented on #415
yes you're right man, i have the same problem. Did you find any solution?

[2020-02-08 13:45] HakanSAYAR commented on #415
yes you're right man, i have the same problem. Did you find any solution?

[2020-02-08 14:13] rechsteiner commented on #415
Parchment will call the `viewControllerForIndex` methods for the currently selected view controller _and_ for the two sibling view controllers. See this comment for the reason behind that: https://github.com/rechsteiner/Parchment/issues/350#issuecomment-527575222.

Is that what's happening for you or are you seeing some other behaviour?

[2020-02-08 14:15] rechsteiner commented on #414
Can you provide some more details on your implementation? It doesn't sound like this is an issue with Parchment, but rather that the setup in your custom cell is causing the scrolling to not work.

[2020-02-08 14:18] rechsteiner commented on #413
Hi @hatimmakki! It sounds a bit like the menu is extending below the edges of the navigation bar. Could you use the view inspector in Xcode to check if that's the case?

[2020-02-08 14:21] rechsteiner commented on #408
Hmm, this looks a bit like an issue with the way you initialise your view controllers. Could you try just allocating your view controllers programatically and see if that removes the crash?

[2020-02-08 14:22] rechsteiner commented on #403
@jvashisht could you explain a bit more about the use-case your are trying to solve here? I'm still not sure what the desired behaviour should be here.

[2020-02-08 14:55] rechsteiner commented on #243
Version 2.0 is now released! Let me know if you find any issues.

[2020-02-08 14:55] #243 closed

[2020-02-08 15:11] rechsteiner commented on #320
Hi @ansonngch! If you are still seeing this issue in Parchment, could you try upgrading to v2.0.0 and see if it's fixed? 🙂

[2020-02-08 15:17] rechsteiner commented on #197
Version 2.0 is now released and makes it possible to use the `PagingMenuView` as a standalone component. This should allow you to use it with any page view controller and not just `EMPageViewController`. You need to implement the `PagingMenuDelegate` delegate methods and update your page view controller based on that. When user scrolls in your page view controller (or table view for that matter),

[2020-02-08 15:17] #197 closed

[2020-02-08 21:25] alexjameslittle opened #421 "Question: Is it possible to hide the top menu?"
I'd like to use this library as just the paging between the view controllers without the top menu, would you be open to this functionality?

[2020-02-08 21:38] rechsteiner commented on #421
It's possible to hide the menu using your own `PagingView` subclass (see #378), but I wouldn't recommend using Parchment if you're never displaying the menu. If you only need the paging of view controller you could use `UIPageViewController` directly. Another good option is https://github.com/uias/Pageboy if you have a fixed number of view controllers.

[2020-02-08 21:44] alexjameslittle commented on #421
Thank's for the tip, will just use `UIPageViewController` for custom implementation. Thanks for the quick response!

[2020-02-08 21:59] #421 closed

[2020-02-08 23:48] sevgjan commented on #320
Hi @rechsteiner , I upgraded to v2.0.0 and in StoryboardExample that you provided I added these two lines:
`pagingViewController.font = UIFont.systemFont(ofSize: 26, weight: .regular)
pagingViewController.selectedFont = UIFont.systemFont(ofSize: 30, weight: .bold)`
and unfortunately the issue still persists.

![parchment](https://user-images.githubusercontent.com/554477/74093701-e9400d80-4ad5-11ea

[2020-02-09 07:17] i1020242 commented on #415
I wanna custom header on first time when view appear, but the function return wrong index? how do I fix it?

[2020-02-11 16:22] gapl opened #422 "Indicator does not animate between items in v2.0.1"
We've upgraded from v1.7.0 to v2.0.1 and followed migration instructions under [v2.0.0 release](https://github.com/rechsteiner/Parchment/releases/tag/v2.0.0).

After changing our instances of `FixedPagingViewController` to non-generic version of `PagingViewController`, indicator does not transition smoothly in between pages.

We're using 2 view controllers in the `PagingViewController`. Here are o

[2020-02-14 05:08] shinip2 commented on #221
Thank you, you saved my day!

[2020-02-17 22:25] mavris opened #425 "Getting a white scrollable view (1px)"
Hi,
I am using my own cells for MenuItems and I get this white line on the menu. Any ideas?
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-02-18 at 00 23 58](https://user-images.githubusercontent.com/3520168/74689818-3c584580-51e5-11ea-8f4a-a79be58f28a6.png)
PS. It's scrollable if that's help

[2020-02-18 09:01] tiennv157 commented on #422
Hi @gapl
Have you fixed this bug? I got a problem like your issue.

[2020-02-18 09:02] gapl commented on #422
No, still waiting for response.

[2020-02-20 14:52] rechsteiner commented on #422
Hi! I’m away on vacation the next two weeks, so I won’t be able to look into this right now.

Are you seeing this issue in any of the example projects as well?

[2020-02-20 14:55] tiennv157 commented on #422
Hi, You can check in MultipleCellsExample with 2 or 3 items.
I think problem in sizeDelegate, after calcultor cell width, the anmation
not work

Vào Th 5, 20 thg 2, 2020 lúc 21:52 Martin Rechsteiner <
notifications@github.com> đã viết:

[2020-02-20 16:24] rechsteiner commented on #422
Okay, thanks. I’ll get this fixed as soon as I’m back.

[2020-02-20 16:25] tiennv157 commented on #422
Thank you very much.

Vào Th 5, 20 thg 2, 2020 lúc 23:24 Martin Rechsteiner <
notifications@github.com> đã viết:

[2020-02-21 12:14] msann opened #427 "item bar boundary background color change"
![未命名 2](https://user-images.githubusercontent.com/6377158/75033635-4c726c80-54e6-11ea-9e13-4cde1ea5ed6c.png)
Hi, when I drag item bar to the boundary, it's will show the background color.
How can I change the background color?
I already tried to change view background color, but it didn't change.

Or can I fixed not to drag when it's the item bar's boundary?
Thanks for help!

[2020-02-21 12:29] msann commented on #427
OK, I find it
 pagingViewController.collectionView.backgroundColor

[2020-02-21 12:29] #427 closed

[2020-02-25 16:11] amolPawar1221 opened #428 "I am not able to set select paging item for static data source I.e selecting items in parchment(2.0.1)"
Set index programmatically for static viewcontrollers array

[2020-02-26 10:32] rptoma opened #429 "Paging items do not get resized properly after reloading data"
Consider the following scenario:

1. The paging view controller gets loaded with some data.
2. The data changes (including the number of pages/paging items) .
3. So, we call reloadData on the paging view controller.

Everything gets reloaded, the number of paging items get updated but they are not sized correctly. My guess is that the function that specifies widthForPagingItem does not get recalle

[2020-02-27 13:19] XRadevFRT opened #430 "Swipe back navigation action"
Greetings everyone,

Lovely library! I've been using and modifying it in my projects for a while. I have a question tho...
How can I trigger the default navigation swipe back action when I am at the first view controller (first on the left), or any other? I've been trying some stuff, but I just can't seem to make it work...

Will appreciate your help...
Thanks!

[2020-02-28 17:38] bryan1anderson opened #431 "Paging forward resets UIViewController.view layout, paging backward does not"
I'm not even sure how to describe what I'm seeing. Basically I have a container view that houses a PagingViewController

The pages all have different heights, which tell the container view to change height on `pagingViewController: PagingViewController, didScrollToItem`

When I score forward, the appears, slides off to the left of the window, and then flies back in, its a very jarring transformati

[2020-02-28 18:47] rocxteady opened #432 "widthForPagingItem delegate method causes leak with new PagingViewControllerSizeDelegate"
Hello.

I have just migrated the project to 2.0.1 and started to use the new delegate and noticed it causes leaks. When I dismiss the view controller that has PagingViewController, the view controller is removed from memory but the child view controllers that belong to PagingViewController are stayed in the memory.

I have just created and simple code showing what I did:
https://gist.github.com/ro

[2020-02-28 23:58] rocxteady commented on #432
I have just sent a pull request which solves this issue: #433

[2020-03-03 06:33] LeeTwelve commented on #428
With non-static dataSource select don't work too.

[2020-03-03 06:49] LeeTwelve commented on #428
@amolPawar1221 You should use `select` in `viewDidAppear` but this way have a side effect. You will see swipe a page on viewController.

[2020-03-04 20:22] rechsteiner commented on #408
@thihaaung6245 did you manage to look into this?

[2020-03-04 20:24] rechsteiner commented on #413
@hatimmakki did you figure this out?

[2020-03-04 20:24] rechsteiner commented on #414
@HakanSAYAR any updates on this?

[2020-03-04 20:28] rechsteiner commented on #415
I'm not sure I understand exactly what you mean, but if you want to do something only the first time something is displayed you could probably have some kind of state variable that you set either in the `viewControllerForIndex` or have a closure/delegate from the view controller that you call in `viewDidAppear`. Does that work for you?

[2020-03-04 20:29] rechsteiner commented on #425
That's a border view that is added by default. You can remove it by setting:

[code]

[2020-03-04 20:29] #425 closed

[2020-03-04 20:31] rechsteiner commented on #429
Thanks for the report. I'll look into getting this fixed 🙂

[2020-03-04 20:33] rechsteiner commented on #432
This should be fixed now and will be included in the next release. Thanks again for the PR!

[2020-03-04 20:33] #432 closed

[2020-03-04 20:37] rechsteiner commented on #431
Hi @bryan1anderson! I'm not really sure what would be causing this. Are you able to reproduce it in a smaller case/using the example targets? I'm also struggling a bit too understand which parts are which here. What is the menu here and what is the content view controllers?

[2020-03-05 05:33] rocxteady opened #435 "Initial index not working with select(index: Int)"
Hello,

After migration to 2.0.1 I realized that starting paging view controller with initial index not working.
Please see the code: https://gist.github.com/rocxteady/a731d40a939e9f8a295326ef12d50984

Thank you.

[2020-03-05 06:40] rocxteady commented on #435
This is the commit that made the problem occurred: https://github.com/rechsteiner/Parchment/commit/15a8ba95ff70bc86a81ffa4f872101aa38266e79

But I don't know what caused it exactly.

[2020-03-05 09:34] indiraAman opened #436 "errors in Swift Package Manager v.2.0.0"
there are errors "Use of undeclared type 'UIViewController' "in files: PagingStaticDataSource,  PagingFiniteDataSource
and  in  file PagingViewController -  "Cannot convert value of type '[UIViewController]' to expected argument type '<<error type>>' "

[2020-03-05 09:44] esatgozcu commented on #435
Same problem. We are waiting for the situation to be corrected

[2020-03-05 10:27] MiteshiOS opened #437 "Add another view in navigation item titleview."
I added paging viewcontroller collection view into navigation bar.

     navigationItem.titleView = pagingViewController.collectionView
     pagingViewController.menuHorizontalAlignment = .center
     pagingViewController.selectedScrollPosition = .center
<img width="327" alt="Screenshot 2020-03-05 at 3 54 52 PM" src="https://user-images.githubusercontent.com/17427703/75972577-a832f180-5ef9-11ea-8c

[2020-03-05 11:24] rechsteiner commented on #437
Hi! It depends a bit if you want the button to be scrolling along with the menu items. If not, you should be able to just add a button using `navigationItem.leftBarButtonItem` on the view controller. If you want to button to scroll with the menu, you can create a custom `PagingCell` and add that to you data source. See the `MultipleCellsExample` target for an example of how to add multiple cell ty

[2020-03-05 11:36] MiteshiOS commented on #437
Adding as navigationItem.leftBarButtonItem leads to this type of result. Why collection view moves that much ? I don't want my button scrollable, fix will be fine.

<img width="325" alt="Screenshot 2020-03-05 at 4 59 57 PM" src="https://user-images.githubusercontent.com/17427703/75977755-17f9aa00-5f03-11ea-98e2-e5d0fa612b12.png">

Also can you please let me know it is possible to go at specific pa

[2020-03-05 11:54] rechsteiner commented on #437
You need to modify the frame of the titleView. This isn't really specific to Parchment, it would be the same regardless of the view you put in the navigation bar.

You can select items using the `select(index:)` method: https://github.com/rechsteiner/Parchment#selecting-items

[2020-03-05 12:29] MiteshiOS commented on #437
Please check below screenshot. It say has no member and also `select(index:) ` is not working in demo `MultipleCellsExample`
I tried both turn by turn.

<img width="1384" alt="Screenshot 2020-03-05 at 5 55 37 PM" src="https://user-images.githubusercontent.com/17427703/75981616-e1c02880-5f0a-11ea-9d3b-ac25807284c7.png">

[2020-03-05 12:43] rechsteiner commented on #437
Ah, that’s a bug in the latest version. Same as this one I assume #435. I’øl get that fixed as soon as possible

[2020-03-05 12:44] rechsteiner commented on #435
Thanks for the report! I’ll try to get this fixed later today

[2020-03-05 12:50] MiteshiOS commented on #437
Thank you. Please try to provide update as soon as possible. Because at the time of integration i seen methods and i thought it fits perfect as my requirement but this issue breaks me.
Thank you and will wait for update.

[2020-03-05 17:26] amolPawar1221 commented on #428
Yes that work for me but side effect is there

[2020-03-05 20:06] #428 closed

[2020-03-05 20:06] rechsteiner commented on #435
This should be fixed now. I need to do a bit more testing before creating a new release, so you need to target the `master` for now. Let me know if you find any issues!

[2020-03-05 20:06] #435 closed

[2020-03-05 20:07] rechsteiner commented on #437
This should be fixed now. I need to do a bit more testing before creating a new release, so you need to target the `master` for now. Let me know if you find any issues!

[2020-03-05 20:07] #437 closed

[2020-03-05 20:09] rechsteiner commented on #428
This should be fixed in `master` now. Will create a new release once I have done a bit more tested, but please check it out and see if it works for you 🙂

[2020-03-05 20:09] rocxteady commented on #435
Thank you @rechsteiner 🙏

[2020-03-05 21:17] rechsteiner commented on #430
Thanks @XRadevFRT! This isn't really something specific to Parchment and would be the same for any view where you want to trigger back swipe from everywhere on the screen. This thread might be a good starting point: https://stackoverflow.com/questions/22244688/navigation-pop-view-when-swipe-right-like-instagram-iphone-app-how-i-achieve-thi/22244990#22244990

[2020-03-05 21:17] #430 closed

[2020-03-05 21:21] rechsteiner commented on #436
Hi @indiraAman! This was fixed in #420. I'm planning on release a new version very soon, but in the meantime you can just target the `master` branch 🙂

[2020-03-05 21:32] rechsteiner commented on #429
Which version of Parchment are you using? I just tried reproducing this using one of the example targets, but it seems to work just fine. Here's the code I'm running (you can trigger a memory warning in the simulator to toggle the states):

[code]

Do you see anything I'm missing for reproducing this?

[2020-03-05 22:14] rechsteiner commented on #320
@sevgjan I think I misunderstood this issue here. Are you just referring to the fact that it doesn't animate between fonts? There's not built in way of doing that in UIKit, so it might a bit difficult to achieve. You have full control over animation here if you want, so if you want you can subclass `PagingCell` and perform the transition there. There's an existing issue for this (#353) so I'll jus

[2020-03-05 22:57] rechsteiner commented on #283
Looked a bit more into this and it seems like `reloadData` is the way to go. You can also use `pagingViewController.reloadMenu()` to trigger and update to just the menu items.

[2020-03-05 22:57] #283 closed

[2020-03-05 23:22] rechsteiner commented on #411
Hi @gowtham1094! This is provided by default using [menuItemSize](https://github.com/rechsteiner/Parchment/blob/master/README.md#menuitemsize):

[code]

Does that work for you?

[2020-03-06 01:47] Haeuncs commented on #435
I just tested it with the latest master and it still doesn't seem to work.
pagingViewController.select(index: 3) -> go to index 4
But in viewDidAppear it works fine.

[2020-03-06 01:54] Haeuncs opened #439 "Initial index still not working on the latest master"
I just tested it with the latest master and it still doesn't seem to work.
pagingViewController.select(index: 3) -> go to index 4
But in viewDidAppear it works fine.

_Originally posted by @Haeuncs in https://github.com/rechsteiner/Parchment/issues/435#issuecomment-595556062_

[2020-03-06 06:30] rocxteady commented on #439
Can you share the code? I have just tested and it works fine.

[2020-03-06 06:56] rocxteady commented on #439
I agree. I couldn't face the issue on my sample app but it did not work on our real app. It went to next page like you mentioned.

[2020-03-06 07:14] rptoma commented on #429
Hey,

Thanks for checking it out.

The currently used version is  2.0.1, but it happened before, too (on 1.7.0).

The differences between what we do and your example are that:
1. We are using PagingViewControllerDataSource for setting the view controllers
2. We are using custom cells for the menu items

Thanks!

[2020-03-06 08:33] rechsteiner commented on #439
Ah okay, thanks. Could you share a bit more about your implementation? I haven't been able to reproduce any issues with just the example targets

[2020-03-06 12:59] Haeuncs commented on #439
I think I found the cause of this bug.
You can see this problem by calling reloadData() before the initial selection.

    pagingViewController.reloadData()
    pagingViewController.select(index: 3)

[2020-03-06 13:26] rechsteiner commented on #439
Great, thanks! I'll get that fixed as soon as possible 🙂

[2020-03-06 20:07] rechsteiner commented on #439
Should be fixed in #440 now! @Haeuncs can you verify that it works for you as well?

[2020-03-06 20:15] rechsteiner commented on #429
Tried setting up a data source and using custom cells, but it's still not able to reproduce this. Here's the current code I'm running:

[code]

Any other ideas what might be different from your app?

[2020-03-06 20:29] rechsteiner commented on #422
This should be fixed now (#441) 🙂 I need to do a bit more testing before releasing a new version, but you can target the `master` branch for now. Let me know if you're still seeing any issues!

[2020-03-06 20:29] #422 closed

[2020-03-06 20:29] #414 closed

[2020-03-06 23:23] rocxteady commented on #439
Mine works. Thank you @rechsteiner .

[2020-03-06 23:31] Haeuncs commented on #439
It works perfectly!
Thank you. 😀

[2020-03-06 23:41] #439 closed

[2020-03-07 12:11] rechsteiner commented on #353
I tried cross-fading between two labels, but I don't think we should make this the default behaviour. Half-way between the transition both of the labels will have alpha 0.5, which adds an unnecessary fade when selecting items. It looks alright when the fonts have different weights or sizes, as they are so different anyway.

The implementation is quite simple so I think it would be better to implem

[2020-03-08 13:06] #408 closed

[2020-03-08 13:07] #353 closed

[2020-03-08 21:52] #413 closed

[2020-03-08 22:10] #415 closed

[2020-03-10 10:59] grifas commented on #429
Same issue for me but apparently it's an other library causes the bug (`pod SkeletonView`).

[2020-03-10 11:04] rptoma commented on #429
@rechsteiner Not really. Something weird that I remember I noticed was that the first cells looked OK, but after scrolling a little bit, they were starting to have the wrong dimensions (i.e. too small to fit the content).

@grifas We don't use SkeletonView and it doesn't seem to be a dependency of Parchment. 🤔

[2020-03-10 11:13] grifas commented on #429
@rptoma Yeah I know but a line of this library causes the issue for my project. I didn't dig more into that but I just comment the line and I saw no more issue. I just thought maybe you are in the same case as me.

[2020-03-10 16:07] asbis commented on #193
If someone still have this problem like i did:

Add this function in "viewDidLoad" Where you add "pagingViewController":
edgesForExtendedLayout = []

[2020-03-10 19:25] rechsteiner commented on #338
I've updated the example project with a fix for this now (#443) 🙂 All the example targets have also been combined into a single target now. You can find the header example in `HeaderViewController.swift`

[2020-03-10 19:25] #338 closed

[2020-03-10 20:47] rechsteiner commented on #429
Hmm, okay. Could you share some examples of how you are calculating the width using the size delegate? Also, are you using a custom `PagingItem` as your data source?

[2020-03-10 20:49] rechsteiner commented on #403
Closing this issue as I'm not sure how this could be done. Let me know if you have any more details on the behaviour you're trying to achieve.

[2020-03-10 20:49] #403 closed

[2020-03-10 21:14] rechsteiner commented on #375
Hi @Pratik948! This should be fixed in the latest `master` now (#444). I'll release a new version pretty soon

[2020-03-10 21:14] #375 closed

[2020-03-10 21:16] rechsteiner commented on #411
I just made some improvements to invalidating the size cache. You can now manually invalidate the size cache by calling `reloadMenu` (#444) Available in `master` until the next version is out

[2020-03-10 21:16] #411 closed

[2020-03-10 21:19] rechsteiner commented on #429
I've made some changes to the way we're invalidating the size cache now (#444). Could you try to target the `master` branch and see if this fixes the issue you're facing?

[2020-03-10 21:26] rechsteiner commented on #326
Can you provide some details on how you've set up add 3D shortcuts? Are you using `registerForPreviewing`?

[2020-03-10 21:35] rechsteiner commented on #407
I've been looking a bit more into this lately, but I haven't been able to fix it yet. The reason the jump is happening is because of reloading data. When the user reaches the edge of the collection view, we append the next batch of items and call `reloadData`. This seems to cause VoiceOver to move the focused cell. It seems to work if I manually set the focus after we call reload data like this:

[2020-03-11 05:24] rishabhntl17 opened #445 "Paging indicator stops scrolling in case collection content size is less than that of screen width."

[2020-03-11 06:38] rechsteiner commented on #445
This is fixed the latest `master` 🙂 Will release a new version soon

[2020-03-11 06:38] #445 closed

[2020-03-11 09:07] devjkkim opened #446 "Paging Indicator not scrolling when customized Paging Item Width"
Thank you for providing awesome library.

func pagingViewController(_ pagingViewController: PagingViewController, widthForPagingItem pagingItem: PagingItem, isSelected: Bool) -> CGFloat {
    guard let item = pagingItem as? PagingIndexItem else { return 0 }

    let insets = UIEdgeInsets(top: 0, left: 20, bottom: 0, right: 20)
    let size = CGSize(width: CGFloat.greatestFiniteMagnitude, height: p

[2020-03-11 09:13] rechsteiner commented on #446
Hi @devjkkim! This should be fixed in the latest `master` branch. Will release a new version soon!

[2020-03-11 09:38] srgrbth opened #447 "pagingViewController.select(index: 1) not working"
Hi, I'm poor in english.
I appreciate your library.

I modify my project source from v.1.7.0 to v2.0.1

pagingViewController.select(index: 1) work on v.1.7.0.
but, is not work on v.2.0.1.

So, I experiment some cases.

When I print("index: \(index)") in func pagingViewController(_: PagingViewController, viewControllerAt index: Int),

my project print like below.

index: 0
index: 1
index: 1
index:

[2020-03-11 09:45] rechsteiner commented on #447
Hi @srgrbth! Can you target the master branch and see if it works there? I’ll release the fixes with a new version soon!

[2020-03-11 10:15] rptoma commented on #447
It is solved now! Awesome, thanks! Looking forward to the new release.

[2020-03-11 10:16] rptoma commented on #429
It is solved now! Awesome, thanks! Looking forward to the new release.

[2020-03-11 10:20] srgrbth commented on #447
@rechsteiner Hi, in master branch, it is work. I also looking forward to new release. Thanks a lot!

[2020-03-11 11:41] #446 closed

[2020-03-11 11:41] devjkkim commented on #446
I got it. thank you :)

[2020-03-11 16:42] gowtham1094 commented on #411
@rechsteiner , Sorry for late response.
And Yes this will work Thank you so much for this fix.  When can we expect the next version?

[2020-03-11 21:00] rechsteiner commented on #447
Great! The new version was just released now: https://github.com/rechsteiner/Parchment/releases/tag/v2.1.0

[2020-03-11 21:00] #447 closed

[2020-03-11 21:00] rechsteiner commented on #436
The new version is now released: https://github.com/rechsteiner/Parchment/releases/tag/v2.1.0

[2020-03-11 21:00] #436 closed

[2020-03-11 21:01] rechsteiner commented on #429
Awesome! Thanks for helping me debug. The fix was just released in the latest version now: https://github.com/rechsteiner/Parchment/releases/tag/v2.1.0

[2020-03-11 21:01] #429 closed

[2020-03-11 21:02] rechsteiner commented on #393
A new version is available that I _think_ should fix this: https://github.com/rechsteiner/Parchment/releases/tag/v2.1.0. Let me know if you're still seeing any issues!

[2020-03-11 21:02] #393 closed

[2020-03-11 21:08] rechsteiner commented on #316
I've been thinking a bit more about this lately and I don't think it would make sense to add an API for this. When calling `reloadData` the only view controllers that are re-created is the currently selected one and its two siblings. It wouldn't make any sense to reload view controllers outside of those as they're not initialized yet anyway (unless you are caching them somewhere).

When it comes t

[2020-03-11 21:08] #316 closed

[2020-03-11 21:29] rechsteiner commented on #378
Fixed it so that the menu height constraint is now updating when setting `menuItemSize` after the initial render: #449. This should allow you to hide the menu for single items 🙂 I don't really see the need for a custom property for that.

You have to target the `master` branch for now. Will release a new version soon

[2020-03-12 08:34] MiteshiOS opened #451 "How to get list of all view controllers added in PagingViewController ?"
I wants to get list of all added view controllers in PagingViewController. Can you please let me know method name.

[2020-03-12 08:42] rechsteiner commented on #451
Hi @MiteshiOS! There's not method for getting all the view controllers. You can get the currently selected view controller from `pageViewController.selectedViewController`, or you could keep track of which view controller are initialised using the `viewControllerAt ` data source method.

[2020-03-12 13:03] MiteshiOS commented on #451
Okay. Thank you for the information. But here there is one another thing is, paging controller doesn't allow go back to specific page.

[Test.zip](https://github.com/rechsteiner/Parchment/files/4324250/Test.zip)

Please check this attached demo. I am hiding my navigation bar on 3rd controller. Now on 3rd controller i have an previous button to go back at 2nd controller. But it is not moving by usi

[2020-03-12 13:06] rechsteiner commented on #451
Thanks, will take a look. Which version of Parchment are you using?

[2020-03-12 13:08] MiteshiOS commented on #451
Latest one. Just downloaded master branch code from here and added module of Parchment into code.

[2020-03-12 17:39] rechsteiner opened #452 "Version 3.0"
The next major version of Parchment aims to include the following features:

- [x] **SwiftUI support** (#460)
It would be nice to provide a SwiftUI wrapper for Parchment. Need to figure out the API for this, but it looks like it should be possible without too many changes.

- [x] **Self-sizing cells** (#461)
Today, if you want the menu items to be based on the cell's content you need to implement

[2020-03-12 18:36] rechsteiner commented on #451
Hmm, it looks calling `setNavigationBarHidden` while scrolling seems to cause some weird issues with the page view controller. I tried with the native `UIPageViewController` as well and it's the same issue. The page view controller seem to get out of sync. I'm not sure that this is something I can fix inside Parchment, but I found a way to solve it for you app. When calling the `setNavigationBarHi

[2020-03-12 18:36] #451 closed

[2020-03-13 07:59] MiteshiOS commented on #451
Thank you for the information. But what about index is not going back ?
Have you seen third view controller button click for going back to previous ?

[2020-03-13 08:06] rechsteiner commented on #451
That worked fine when I recreated your setup. Are you sure the button @IBAction of the button is hooked up properly?

[2020-03-13 08:40] MiteshiOS commented on #451
Yes it hooked up properly. Can you please check same into my demo.
<img width="907" alt="Screenshot 2020-03-13 at 2 09 53 PM" src="https://user-images.githubusercontent.com/17427703/76604242-6545cf00-6534-11ea-9489-082ccbc01263.png">

[2020-03-13 12:24] MiteshiOS commented on #451
Did you get the issue in my demo ? Where navigation bar is hidden for 3rd controller and we are trying to go back with `select(index:)` method, it is not going back.
Otherwise if it works well at your end as you said you recreated my demo, then i request you to please share that code so i can identify my mistake. Thank you

[2020-03-18 08:40] rechsteiner commented on #431
Need more details to help with this. Would be great if you could open new issues where you explain a bit more what the actual issue is and provide a way to reproduce it 🙂

[2020-03-18 08:40] #431 closed

[2020-03-19 02:59] beilusen commented on #212
nice!!!

[2020-03-19 07:45] davidhsu1115 opened #454 "The example does not work on iOS 13"
I've downloaded the example project. It works perfectly on iOS 12, however when I switch to iOS 13, the example app always crash with the following message:

dyld: Library not loaded: @rpath/Parchment.framework/Parchment
  Referenced from: /private/var/containers/Bundle/Application/998EF613-DC4F-4A0F-972A-249D5D84349A/Example.app/Example
  Reason: no suitable image found.  Did find:
	/private/var/

[2020-03-19 07:49] rechsteiner commented on #454
Hmm, it’s working fine here. Are you using the latest beta or something?

[2020-03-19 07:51] davidhsu1115 commented on #454
Follow up: It turns out if i use person signing certificate it will cause the crash.
I change it to my team signing certificate every thing works perfectly fine.

[2020-03-19 07:53] #454 closed

[2020-03-20 20:16] rechsteiner commented on #360
@MarcosSorribas are you still seeing this crash? If so, could you share a bit about your implementation? I'm not able to reproduce this using the Example project in compatibility mode

[2020-03-21 07:25] beilusen commented on #251
I had a similar problem. When I used a button to trigger select (pagingItem: PagingItem, animated: Bool = false), I printed progress in the isScrollingFromItem currentPagingItem of the delegate and found that it did not become 1 or -1, but 0.99. As a result, item has no selection state, so it is not possible to call serelct again. Forgive me for poor english
![截屏2020-03-2115 23 01](https://user-im

[2020-03-21 15:37] rechsteiner commented on #378
The new version is now released (v2.2.0) 🙂

[2020-03-21 15:37] #378 closed

[2020-03-24 13:21] Doniyorbek opened #456 "PagingViewController tab title"
The  PagingViewController has two items when view did loaded, PagingViewController  does'nt show second title of tab

[2020-03-25 05:13] YanwuX opened #457 "IBoutlet Key not Coding-Compliant for the Key in PagingCell?"
I am using an xib for the menu cell and I have successfully set up parchment and it works just fine without connecting the IBoutlets.
However, when I connect the xib to an @IBoutlet, I have " Key Value Coding-Compliant for the Key exception".

I have double-checked the IBoutlet name and the connection name and file owner. everything seems just fine. and I am not able to find the possible cause for

[2020-03-25 07:51] rechsteiner commented on #456
Hi @Doniyorbek! Which version of Parchment are you using? This sounds a bit like an issue that was fixed recently.

[2020-03-25 16:34] MarcosSorribas commented on #360
Hi, @rechsteiner I tried to fix it but I was unable to reproduce either. In the end, I removed Parchment from my codebase and use my own solution as a replacement. Sorry.

[2020-03-25 16:36] rechsteiner commented on #360
No worries, thanks for the update! I’ll just close this one then as I haven’t heard anyone else experiencing this

[2020-03-25 16:36] #360 closed

[2020-03-26 03:34] Edward-Ryu opened #459 "pagingViewController.menuBackgroundColor didn't work at "v2.2.0""

[2020-03-26 14:49] simonzwicker commented on #459
Same problem here

[2020-03-26 19:23] rechsteiner commented on #459
Hmm, this seems to work fine in the Example target using this:

[code]

Could you share a bit more about your implementation?

[2020-03-26 19:39] rechsteiner commented on #457
Hi @YanwuX! Looks like you might have setup the outlets incorrectly. Try setting the outlets on the PagingCell subclass instead of the File's Owner:

<img width="411" alt="Screenshot 2020-03-26 at 20 37 38" src="https://user-images.githubusercontent.com/1238984/77689335-ca240f00-6fa1-11ea-8203-72a83516901f.png">

[2020-03-27 03:04] YanwuX commented on #457
Thanks so much, I have connected it to the view and everything works

[2020-03-27 03:04] #457 closed

[2020-03-29 06:51] nisit15 opened #462 "Error after update xcode."
Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2 compiler

[2020-03-29 07:04] faizannaseem96 opened #463 "Stretch Header Example"
![New Mockup 1](https://user-images.githubusercontent.com/43570403/77843316-48a4ca80-71b5-11ea-9d41-dec77ac0013f.png)
I have to design this type of screen where i have image as header, some title and description and bottom i have page menu where i can swipe between sections. When i scroll the page menu's table view whole content of screen should scroll.  Stretch Header example project is not worki

[2020-03-29 08:38] rechsteiner commented on #462
Are you using Carthage? You have to rebuild your dependencies with the new Swift compiler 🙂

[2020-03-29 08:44] rechsteiner commented on #463
Hi! It depends a bit on the behavior you need. If the entire screen should scroll, including the menu, you don’t really need Parchment. You could just use UIPageViewController directly, where each UIViewController has their own header, menu and table view. Is that what you’re trying to achieve?

[2020-03-29 10:18] faizannaseem96 commented on #463
You can assume that this is a restaurant detail page screen where we have static restaurant image, its title and description and below we have categories in menu (.i.e. Lunch, Dinner, Breakfast) and below there is a tableview where we have menu item list. I could not use UIPageViewController directly where each UIViewController has only listing. what i want is to scroll list whole content on scree

[2020-03-29 10:28] rechsteiner commented on #463
Ahh sorry, I think I misunderstood you. You just want the image on top to scroll with the rest of content? Here’s how to achieve that:

- Subclass PagingView
- Add the header image, title, description _and_ menu to a container UIView that you position above the page view controller.
- When scrolling in the table view, adjust the the top constraints of the container view based on the content offset

[2020-03-30 05:15] nisit15 commented on #462
ok, It's success. Thank you.

[2020-03-30 06:50] #462 closed

[2020-03-30 13:02] qcasxy opened #464 "“_” parameter problems in delegate methods"
I found that you ignored almost all the PagingViewController parameters in the delegate methods, which made it impossible for me to determine which pagingView triggered the delegate method when multiple PagingViewController delegate were set to the same ViewController.
For example:
`func pagingViewController(_: Parchment.PagingViewController, viewControllerAt index: Int) -> UIViewController`
I wan

[2020-03-30 13:36] rechsteiner commented on #464
Hi @qcasxy! You can just add the extra parameter name in your app and it will still conform to the data source

[2020-03-30 13:50] qcasxy commented on #464
Yes, it works. Thank you for your reply!

[2020-03-30 13:50] #464 closed

[2020-03-30 18:09] qcasxy commented on #459
The same problem occurred when I set the `menuItemSize`.
[code]

[2020-03-31 08:55] #463 closed

[2020-04-01 15:02] #456 closed

[2020-04-01 15:19] rechsteiner commented on #459
Thanks @qcasxy! This should be fixed now: #465. Will release a new version soon, but for now you can target the `master` branch 🙂

[2020-04-02 19:36] rechsteiner commented on #459
Version `v2.3.0` is available now with the fix 🙂

[2020-04-02 19:36] #459 closed

[2020-04-03 15:27] MiteshiOS opened #467 "Is there any way to change titles of page items ?"
I integrated pagingview controller in navigationbar. I wants to change titles of my page after initial load.
Let's say on successful run there are two page => View 1, View 2
Now on button click i wants to change name of `View 2` to `View 3`.
Let me know if possible

[2020-04-03 15:34] rechsteiner commented on #467
Hi @MiteshiOS! By default, Parchment uses the title of the view controllers so you can set any title that you like. If you want a different title from the view controller you need to setup your own data source like [here](https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md) 🙂

[2020-04-03 15:34] #467 closed

[2020-04-03 15:35] rechsteiner commented on #467
Oh sorry, saw that you updated the comment. You can call `reloadMenu` if you need to update the titles of the menu. If you also need to change the view controllers you can call `reloadData`

[2020-04-03 15:41] MiteshiOS commented on #467
Yes but i used storyboard. In storyboard i set titles.

       let disVC = kMainStoryBoard.instantiateViewController(withIdentifier: "DiscoverVC")
       let myFeedVC = kMainStoryBoard.instantiateViewController(withIdentifier: "MyFeedVC")
       pagingViewController = CustomPagingViewController(viewControllers: [
            disVC,
            myFeedVC,

        ])

So how can i change titles ?

[2020-04-03 16:00] rechsteiner commented on #467
Changing the title property on the view controllers and call reloadMenu should work 🙂

[2020-04-03 16:05] MiteshiOS commented on #467
Okay thank you for the information.
Also can you please let me know how can i use this datasource method along with storyboard.

    func pagingViewController(_: PagingViewController, viewControllerAt index: Int) -> UIViewController {
        return CityViewController(city: cities[index])
    }

Here how should i return my controller as my XIB is in storyboard ?

[2020-04-03 16:58] rechsteiner commented on #467
You can initialise them the same way that you did before, you just need to initialise them based on the given index:

[code]

[2020-04-03 16:59] rechsteiner commented on #467
Alternatively you put them all in an array when the view loads, and returns the view controller based on the index in the array.

[2020-04-04 05:23] MiteshiOS commented on #467
@rechsteiner Thank you for the information and support.

[2020-04-05 01:53] poopsnaggle opened #469 "SwiftUI onAppear doesn't update UI"
Hello,
Im using SwiftUI but it seem PageView doesn't update UI after onAppear perform.
Thankyou!
[code]

[2020-04-05 16:00] rechsteiner commented on #469
Hi @poopsnaggle. Thanks for the report! This should be fixed in the `master` branch now. Will release a new version in not so long

[2020-04-05 18:19] waelhameed2 opened #471 "issue in calendar"
hey I just have a problem when I use calendar so for example when I select 5-4-2020 date ContentViewController print 6-4-2020

[2020-04-05 18:42] rechsteiner commented on #471
Hi @waelhameed2! Which version are you using? Seems to be working fine in the example project

[2020-04-05 19:00] waelhameed2 commented on #471
I used last version and I tray to copy example project file and check it and I faced the same problem , thank you for help

[2020-04-05 19:13] waelhameed2 commented on #471
and also selectedBackgroundColor not work in calendar EXP when I add this line nothing change
pagingViewController.selectedBackgroundColor = .red

[2020-04-06 20:10] prsolucoes opened #472 "Changes for version 2"
Hi,

Im migrating to version 2.

Before version 2 i need use:
[code]

What i need use now?

[2020-04-07 11:41] Antonyyy13 commented on #472
Hey,

Have a look : https://github.com/rechsteiner/Parchment/releases/tag/v2.0.0

So yep, it seems correct :)

[2020-04-07 15:04] rechsteiner commented on #472
Yep, that's correct 🙂

[2020-04-07 15:04] #472 closed

[2020-04-07 15:07] rechsteiner commented on #471
Can you try running the Calendar example directly and see if the same problem is there?

Regarding `selectedBackgroundColor`, that property is only applied when using the default `PagingTitleCell`. When using a custom cell you need to handle that specifically by reading from the `PagingOptions` you receive in `setPagingItem`.

[2020-04-08 03:00] AndyWu050411 opened #473 "How do i use navigationController in the child viewController embedded in PagingViewController?"
Hello,
I embedded the PagingViewController in a navigationController with storyboard.
I use the function viewControllerAt of PagingViewControllerDataSource to setup my viewControllers, but I can't use navigationController in my viewControllers.

How do i use navigationController in my viewControllers?

[2020-04-08 20:28] YanwuX opened #474 "dyld: Symbol not found? after update to v 2.3"
I updated pods and when I run the project in devices, error message pops up.

target platform ios 12, Xcode 11.4

dyld: Symbol not found: _$s9Parchment20PagingViewControllerC7optionsAcA0B7OptionsV_tcfCTq
  Referenced from: /private/var/containers/Bundle/Application/EB8AE2C9-C6D2-4ECD-977F-2EE7F8D1509A/FistBumpSocial.app/FistBumpSocial
  Expected in: /private/var/containers/Bundle/Application/EB8AE

[2020-04-10 16:01] shakhzodurinboev opened #475 "SearchView"
I have one question. I have pagingViewController which root views are tableViewControllers.
I want to add search bar to bottom of pagingviewcontroller not to tableview header
and use in parent view

Has anybody added searchbar to PagingViewController

[2020-04-12 13:43] aviciida commented on #193
@VishnuMU
Thank you so much for your suggestion.
Been trying to figure out the same problem for hours, and finally got that right with your approach.🙌

[2020-04-14 12:15] rocxteady opened #477 "Minimum Item Width For Self Sizing Cells"
Hello. Is it possible to set minimum width for self sizing cells? Because sometimes I want the items fill the all view's width if there are a few items.

[2020-04-16 13:25] yakupad opened #478 "Select(index: {number}) initial load problem"
Hello,

When I call the 'select' function after the new update, I can't touch the other menu buttons for initial load. After scrolling the pages, I can touch the menu buttons. I am waiting for your suggestions for the solution of this problem. Otherwise I will have to go back to the old version.

[2020-04-18 01:03] rocxteady commented on #478
You should share your code so we can see what you did and try to make the same situation again on our side.

[2020-04-22 11:15] ibrahimyilmaz7 opened #479 "PagingTitleCell fixed label constraints"
Hi,

Thank you for great repo.

I'm using it and constraints below (_"H:|-20-[label]-20-|"_) is not suitable for my project.

I can create pull request for this. Would you mind if I make this constraint parametric (like menuItemLabelSpacing)?

https://github.com/rechsteiner/Parchment/blob/f44eb430bb3688ed39ca6893c0e85d56610fc3df/Parchment/Classes/PagingTitleCell.swift#L45-L49

[2020-04-22 17:25] rechsteiner commented on #471
@waelhameed2 did you get a change to look more into this?

[2020-04-22 17:27] rechsteiner commented on #473
Hi @AndyWu050411! Why can't you use navigation controllers? I don't why that should not work, although it seems a bit weird to have the navigation controller inside the page view controller. Usually, you would put it around the PagingViewController.

[2020-04-22 17:29] rechsteiner commented on #475
Hi @shakhzodurinboev! You can create a custom `PagingView` subclass where you add the search bar. Check out the [Header example](https://github.com/rechsteiner/Parchment/blob/cc6b08b1747d0c75cb35fc907591a5e259bd0a32/Example/Examples/Header/HeaderViewController.swift) for instance. Does that work for you?

[2020-04-22 17:35] rechsteiner commented on #477
Hi @rocxteady! This isn't possible at the moment, but you can probably achieve it by implementing the [size delegate](https://github.com/rechsteiner/Parchment/blob/cc6b08b1747d0c75cb35fc907591a5e259bd0a32/Example/Examples/Header/HeaderViewController.swift). I agree that it would be nice to have build-in support for this though. The `sizeToFit` option has provided this functionality before, but I t

[2020-04-22 18:36] rechsteiner commented on #474
Hi @YanwuX! I just tried setting up a fresh CocoaPods project with target platform to iOS 12 using Xcode 11.4 and it works just fine for me. Could it be related to something like [this](https://stackoverflow.com/a/42349549)? Any other details you could share about your setup that might be relevant?

[2020-04-23 00:01] AndyWu050411 commented on #473
Thanks for your reply. I already have solved this issue by just setting a delegate for my own view controllers. Actually I want to use the navigation controller whose root controller is PagingViewController for my own view controllers. Not setup a navigation for each my view controller.

[2020-04-23 05:23] kodeflow commented on #287
`menuItemSource = .nib(nib: UINib)`

[2020-04-24 08:09] rechsteiner commented on #479
Thanks for fixing this! Will release a new version soon

[2020-04-24 08:09] #479 closed

[2020-04-24 19:37] #473 closed

[2020-04-24 19:38] #326 closed

[2020-04-24 19:39] rechsteiner commented on #80
This has been implemented now (#468) and will be part of the `3.0` release

[2020-04-24 19:39] #80 closed

[2020-04-24 19:40] #475 closed

[2020-04-25 14:07] rechsteiner commented on #478
I'm not able to reproduce this. When are you calling select? Which version of Parchment are you using?

[2020-04-26 17:56] c941010623 opened #481 "How can i use swiftUI do unsplashView"
I want use unsplashView
How can i do it in swiftUI ?

[2020-04-27 08:31] ThuanNgo-Belive opened #482 "Can't run viewDidLoad again."
I'm using FixedPagingViewController. But I got the problem. The "override func viewDidLoad()" only run one time. Steps:
I show (present) the view controller that holds viewpager. Then exit (dismiss) view controller. After that, I show this view controller again....  Only run viewDidLoad's main viewcontroller. The sub views (pager view) don't call again. Anyone can help me ?  Thank you.

[2020-04-27 08:31] #482 closed

[2020-04-27 11:15] Myste1 opened #483 "Select paging item + scroll to item"
Hey!

Two questions/feedbacks :)

In the readme, about the "Selecting items" section, you mention :

`override func viewDidLoad() {
  super.viewDidLoad()
  if let first = pagingViewController.items.first {
    pagingViewController.select(pagingItem: first)
  }
}`

But it seems there isn't a property "items". The property seems to be accessible only from the dataSource property. Or do I'm missing s

[2020-04-27 11:26] Antonyyy13 commented on #483
Btw, the only way seems to do :

`
                self.pagingViewController.collectionView.scrollToItem(at: IndexPath(index: 0), at: .left, animated: true)`

To be able to scroll the menu to an item already selected.

[2020-04-27 13:13] wwwdotfa commented on #148
@rechsteiner I encountered a similar problem with @qiaqiaxian, u used horizontal scrollview to contain pages, so `scrollView.panGestureRecognizer.require(toFail: recognizer)` never failed. This seems to be a very common problem. I hook the problem temporarily using the following method:

[code]

I think it would be more elegant to use a custom view inherit ScrollView in EMPageViewController, becau

[2020-04-27 13:18] wwwdotfa opened #484 "reopen: UIScreenEdgePanGesture has no effect with Parchment"
@rechsteiner I encountered a similar problem with @qiaqiaxian, u used horizontal scrollview to contain pages, so `scrollView.panGestureRecognizer.require(toFail: recognizer)` never failed. This seems to be a very common problem. I hook the problem temporarily using the following method:

[code]

I think it would be more elegant to use a custom view inherit ScrollView in EMPageViewController, becau

[2020-04-28 09:09] hugehoge opened #485 "menuInteraction property may not work properly"
Hello,

It seems the custom setting of `menuInteracion = .swipe` hasn't worked properly since version 2.0.0.

A comparison version 1.7.0 and 2.0.0 is below.

<details>
<summary><b>GIF comparison</b></summary>
<table>
<tr>
<th>ver 1.7.0</th>
<th>ver 2.0.0</th>
</tr>
<tr>
<td><img width="320" alt="v1.7.0 behavior" src="https://user-images.githubusercontent.com/29995702/80466903-16cf8100-8978-11ea-80

[2020-04-28 09:18] hugehoge commented on #485
If this is a bug, I tried to fix it at #486 .

[2020-05-01 02:31] derens99 commented on #473
I actually am having this problem too. How did you solve it? I have child view controllers in my class, and want to push a view controller when an element is clicked. I'm having a hard time accessing my navigation controller in parent classes.

[2020-05-02 12:32] AndyWu050411 commented on #473
Hello @derens99 , I wrote a protocol for the paging view controller, and set a delegate for each child view controller. It looks like:
`
protocol ParentDelegate {
    func push(vc: UIViewController)
}
ParentVC: ParentDelegate {
    func push(vc: UIViewController) {
        navigationController?.pushViewController(vc, animated: true)
    }

    func pagingViewController(_: PagingViewController, vie

[2020-05-02 12:50] AndyWu050411 commented on #473
Hello @derens99 , I wrote a protocol for the paging view controller, and set a delegate for each child view controller. It looks like:

[code]

You can call `delegate?.push(destinationViewController)` in your child view controller to push another view controller.

[2020-05-03 14:27] onisiforos7 opened #487 "SwiftUI PageView not found"
Hello,
I am using Xcode 11.2 beta 2. IOS 13.

I did a simple initialisation for swiftUI as found in the source code:

<img width="633" alt="Screenshot 2020-05-03 at 17 24 04" src="https://user-images.githubusercontent.com/9930898/80916680-ea927680-8d62-11ea-879c-88c51976c607.png">

 I get the following error:  `Use of unresolved identifier 'PageView'`
Compiler cant find the PageView

Any help is r

[2020-05-05 18:56] #485 closed

[2020-05-05 18:57] #471 closed

[2020-05-05 19:41] #487 closed

[2020-05-12 09:34] alperkayabasi commented on #479
@rechsteiner Hello, we are using Parchment in our project and this fix is highly important for us. When are you planning to release a new release?

[2020-05-12 09:40] rechsteiner commented on #479
Hi @alperkayabasi! I dont have any ETA at the moment, but if it’s very urgent you can just copy the PagingTitleCell implementation here and register it as a custom cell: https://github.com/rechsteiner/Parchment/blob/master/README.md#custom-cells

[2020-05-12 16:41] KrzysztofGuz opened #488 "init with viewControllers don't work"
` public convenience init(
    options: PagingOptions = PagingOptions(),
    viewControllers: [UIViewController]) {
    self.init(options: options)
    configureDataSource(for: viewControllers)
  }
`

its that function was remove from PagingViewController? if I get it from cocapod its not shown

[2020-05-18 07:26] zhuangxq opened #489 "menuItemLabelSpacing was removed?"
I want to change the PagingTitleCell.label's leading and trailing constant, I found menuItemLabelSpacing in the document,  but menuItemLabelSpacing is not appear in the project. Version 2.3.0

[2020-05-27 15:00] rechsteiner commented on #474
@YanwuX did you manage to get this working?

[2020-05-27 15:01] rechsteiner commented on #478
@yakupad any updates on this?

[2020-05-27 16:07] ankit0812 commented on #368
@shalsuman  +1
I have the same issue. I am using a containerview which points to a view controller that is using PagingViewController<PagingIndexItem>. After dragging towards the next controller then i see the item to be visible

[2020-05-29 11:47] ibrahimyilmaz7 commented on #489
It's not released yet. You can use master branch.

[2020-05-29 13:20] louischeminant opened #490 "SwiftUI NavigationView appear even if is hidden"
When adding a NavigationView above PageView and hide the navigation bar, and you try a switch from one index to another but you stay in the same view, the navigation bar appear. If I replace in the code below by  `navigationBarTitle("")`, no text appear but you can still see that the view get an unexpected top padding.

What's happening (Video):

![Screen Recording 2020-05-29 at 9 10 49 AM](https:

[2020-06-01 11:03] rechsteiner commented on #474
Closing this for now as I'm not able to reproduce. Please let me know if anyone still is having issues with this.

[2020-06-01 11:03] #474 closed

[2020-06-01 11:04] rechsteiner commented on #478
Closing this as I'm not able to reproduce. Let me know if you're still having issues with this 🙂

[2020-06-01 11:04] #478 closed

[2020-06-01 11:10] rechsteiner commented on #481
Hi @c941010623! It's currently not possible to get the same behaviour as the Unsplash example with the built-in `PageView` wrapper. I'm looking in to adding support for registering custom cells when using SwiftUI and it will be part of the `3.0` release. The scrolling behaviour in the Unsplash where the images stretch while scrolling is also not possible with the built-in wrapper.

That said, you

[2020-06-01 11:19] rechsteiner commented on #489
Sorry for the delay. This is available in the `2.4.0` release now 🙂

[2020-06-01 11:19] #489 closed

[2020-06-01 11:19] rechsteiner commented on #469
This is available in the `2.4.0` release now 🙂

[2020-06-01 11:19] #469 closed

[2020-06-01 11:24] rechsteiner commented on #483
Hi @Myste1. Looks like the documentation is wrong. The items are available under the `visibleItems` property. E.g:

[code]

Regarding the other issue you are having, I'm not sure I understand exactly. Is the problem that the collection view doesn't scroll to the selected item when using the `select(pagingItem:)` method? Do you have some code examples you could share?

[2020-06-01 11:30] rechsteiner commented on #488
Hi @KrzysztofGuz! I just tested with a clean project using CocoaPods now and it seems to work just fine. Which version of Parchment are you using? Can you try to clean the cache from CocoaPods?

[2020-06-01 11:34] rechsteiner commented on #484
Thanks for the report! I'm working on completely new page view controller implementation for the `3.0` release and I'll consider making this change for that. I need to look a bit more into this first though. I'm a bit worried about moving the scroll view as it could break a lot of existing apps.

Can you explain a bit more how to reproduce this issue? When I've been testing it's been working fine

[2020-06-01 11:38] rechsteiner commented on #490
That's very strange! Given the state of SwiftUI I wouldn't be surprised of this is just a bug there. I'll look a bit more into it, but I'm quite busy with the 3.0 release at the moment so it might take some time before I can prioritize this. If you figure out what might be causing this please let me know.

[2020-06-01 15:48] zhuangxq commented on #489
Thank you very much. this is a concise, powerful, nice design project.  thanks😁　

[2020-06-02 07:31] Myste1 commented on #483
Hi,

Yep it should be nice to change the doc about that :)

Regarding the other issuee, the code will not help I think. I should record the problem but I can't do it bc it's a private app :/

Maybe I can describe the issue in another way:

- If my first item is selected, but I scroll to the last item on the paging and so I don't see anymore the first item selected. Is there any method to be able t

[2020-06-03 09:14] simonzwicker opened #493 "Menu scrolling broken 2.4.0"
Hey Guys, since I update from 2.3.0 to 2.4.0 the Scrolling of the Parchment Menu is not working anymore. Is there something what I should to or is this a bug in this version?

[2020-06-03 09:57] ankit0812 opened #494 "Crash on EMPageViewController.scrollViewDidScroll(_:) line 631"
Crashed: com.apple.main-thread
EXC_BREAKPOINT 0x000000010332c848
EMPageViewController.scrollViewDidScroll(_:)

![Screenshot 2020-06-03 at 3 23 31 PM](https://user-images.githubusercontent.com/21132111/83622902-3a589d80-a5ae-11ea-92fc-29d3c7af9477.png)

EMPageViewController.swift - Line 631
EMPageViewController.scrollViewDidScroll(_:) + 631

My Scenario is that I am using PagingViewController<Pagin

[2020-06-03 10:18] rechsteiner commented on #494
Thanks for the report! I've been working on a new version that doesn't use EMPageViewController. Can you try targeting the `3.0` and see if the crash also happens there?

[2020-06-03 10:19] rechsteiner commented on #493
That sounds like a bug. I'll look into getting that fixes as soon as possible 🙂

[2020-06-03 10:21] ankit0812 commented on #494
I will try to update the dependency in the coming release and let you know. For the time being any workaround ?

[2020-06-03 10:35] rechsteiner commented on #494
I haven't seen this crash before, so I don't have any workaround at the moment. Will need to look into it and get back to you on that

[2020-06-03 15:17] ankit0812 commented on #494
Cool.

[2020-06-04 15:20] Wistas23 opened #495 "Different gesture recognizer for first page"
Can I create and use UIScreenEdgePanGestureRecognizer to change scroll behaviour only on first page?
I need to interact with chart on that page, so scroll to second page needed to recongnised only from the edge of screen.

[2020-06-06 12:18] rechsteiner commented on #493
Hmm, I'm not able to reproduce this. Can you share a bit more about your setup and if you have any ways to reproduce the issue?

[2020-06-06 12:26] rechsteiner commented on #483
Do you have a lot of items in the menu? The `visibleItems` property will only contain the items that are currently on the screen, so that might be the problem you're having. Have you tried using the `select(index:)` method? If you're using the `infiniteDataSource` you can't use that method, but you can select the first paging item by creating the actual `PagingItem` struct you're using and selecti

[2020-06-08 07:49] Myste1 commented on #483
Ok, I didn't know the method "`select(index:)`" was not available for `infiniteDataSource`. Maybe it should be specificied in the method description ?

Otherwise, I'm using `PagingViewControllerDataSource` and it doesn't work :/  But I checked quickly in the `func select(pagingItem: PagingItem, animated: Bool)` method and it seems you're are trying to use "visibleItems" in the method. So, if this

[2020-06-09 05:17] coobing17 opened #497 "Collectionview Background Color"
i have change collecltionview background color to black, but it still white. What should i do?

<img width="548" alt="Screen Shot 2020-06-09 at 12 10 43" src="https://user-images.githubusercontent.com/22907007/84108748-251abd80-aa4b-11ea-91f4-32ee729b3cb7.png">

[2020-06-09 07:54] mnightingale opened #498 "CalendarView in SwiftUI create menu items"
I've been trying to adapt the Calendar example for SwiftUI based on PageView.

I currently have https://gist.github.com/mnightingale/d5a214f8eae1ec4111d6b2008f5a69f9 (mines a little different because I need to pick by week not day)
So the callback is used to create the page content in PagingViewControllerInfiniteDataSource using a SwiftUI view wrapped in a UIHostingController.

But `pagingViewCont

[2020-06-11 03:10] coobing17 commented on #497
this happens if i use menuItemSize = .selfSizing

[2020-06-11 10:54] kfoau9h39 opened #499 "Could I to add some viewController dynamically?"
Hey!
I would like appending controllers(pages) on receive message from backend.
I found fixed initialiser for it.

How I can to add it?

[2020-06-11 17:44] rohanvasishth opened #500 "Swiping Issues and Table View Cell Distortion Occurs When Using a Header View Controller Like Implementation of Parchment"
First of all, thank you so much for creating this library!

I am trying to implement something similar to your header view controller example (https://github.com/rechsteiner/Parchment/blob/master/Example/Examples/Header/HeaderViewController.swift)

However, I am running into some issues. The first one is that the horizontal scrolling/swiping between the table view controllers is very glitchy. I sa

[2020-06-15 01:51] minaMagedNaeem opened #501 "after reloadMenu the first menu item is always selected"
I have a paging view controller that contains two child view controllers, each view controller will update its menu item text so i have the new text stored in an array of strings of length 2, when i update the strings, i call reloadMenu to refresh menu items labels, the issue that it always selects the first menu item without even switching to the first view controller, just the bottom selection l

[2020-06-15 03:02] minaMagedNaeem commented on #501
I figured something that might help us.
I want to edit the title of the PagingIndexItem but its a constant, I just need a version of this pod where the title property is a var, Thank you

[2020-06-15 03:14] minaMagedNaeem commented on #501
To furthur explain, I am trying to change menu items label text in runtime by specifying new strings and then calling reloadMenu which then selects the first menu item losing sync ex: i am standing in the second view controller and after calling reloadMenu, selected menu item is the first

[2020-06-15 18:04] ageevvalentin opened #503 "Self-sizing and infiniteDataSource"
I am trying to use the new self-sizing api, but it does not work with the infinity data source, cell width always 0. Is it bug or by design?

[2020-06-22 15:09] ageevvalentin opened #504 "Observing current selected controller"
Any way to observe current selected controller? Delegate not called for initial select().

[2020-06-22 16:31] #504 closed

[2020-06-25 07:57] garciaish opened #505 "How do I access viewControllers now?"
The last version we've used is 1.6.0, and at that time we can do pagingViewController.viewControllers to get the view controllers' reference.

We updated to 2.4.0, conformed to the changes (FixedPagingViewController being obsoleted, generics removed), but now pagingViewController.childen return only a single EMPagingViewController, and I can't use pagingViewController.viewControllers. How do I acc

[2020-06-25 17:36] MikeDonahue commented on #505
I'm also seeing this issue updating an old inherited project. I'm digging through versions and releases/tags and am not finding anything

[2020-06-29 16:03] chaserunner commented on #497
Did you change `menuBackgroundColor` to black as well?

[2020-06-30 11:30] coobing17 commented on #497
Thanks @chaserunner , its work.

[2020-07-05 09:04] rechsteiner commented on #505
Hey! That's true, the viewControllers property is no longer available. But since you're already passing the view controllers into Parchment you already have a reference to them. Any reason you need to read it from PagingViewController?

[2020-07-05 09:14] rechsteiner commented on #503
Hi @ageevvalentin! I just tried using self-sizing with the infinite data source and it seems to be working fine. Are you sure you have setup the correct constraints on you cell?

[2020-07-05 09:30] rechsteiner commented on #500
Hi @rohanvasishth! This doesn't really sound like an issue with Parchment and it's a bit too much work for me to help you debug your own app implementation. The example projects are there to show what's possible with Parchment, but most of the implementation is just standard UIKit and you need to decide yourself how to handle these things in your app. I'm happy to help if you think it's an issue w

[2020-07-05 09:30] #500 closed

[2020-07-05 09:36] rechsteiner commented on #501
Hi @minaMagedNaeem! When calling reloadMenu it keeps the current selection as long as the selected PagingItem does not become a new item. For instance, if you are using `PagingIndexItem` it uses the title property to determine the uniqueness of the item. This means that if you change the title of that item, it counts as a new completely new item and the selection is reset to the first item. If you

[2020-07-05 09:38] rechsteiner commented on #498
Hi @mnightingale! There's not built-in way of using SwiftUI for the menu views, but it should be possible if you create your own `PagingCell` subclass that embeds a SwiftUI view

[2020-07-05 09:38] #497 closed

[2020-07-05 09:40] rechsteiner commented on #495
Hi @Wistas23! That should be possible. The UIScrollView for the content view controllers is available on the `pageViewController.scrollView` property. You can use that to override the behaviour with your own gesture recogniser

[2020-07-05 09:40] #495 closed

[2020-07-05 09:41] rechsteiner commented on #493
@simonzwicker any updates on this?

[2020-07-05 09:42] rechsteiner commented on #490
@louischeminant did you figure out any solution to this? Have you tried with the latest Xcode beta?

[2020-07-05 09:42] #488 closed

[2020-07-05 09:43] rechsteiner commented on #481
Here's an example of someone implementing the Calendar example using SwiftUI: https://gist.github.com/mnightingale/d5a214f8eae1ec4111d6b2008f5a69f9

[2020-07-05 09:43] #481 closed

[2020-07-05 11:31] rechsteiner commented on #499
Hey @kfoau9h39! You need to setup your own data source to dynamically add pages. See [Using the data source](https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md). Once you receive your message from the backend you can call `reloadData` and the new view controller will be added.

[2020-07-05 11:31] #499 closed

[2020-07-05 15:18] LuckyRoc opened #506 "[Header above menu] When HeaderView uses UIView instead of UIImageVIew can not scroll"
![image](https://user-images.githubusercontent.com/10631829/86535842-c1829380-bf15-11ea-912e-3e693e7ec830.png)

[2020-07-05 18:19] louischeminant commented on #490
I haven't had time to work on it these last few weeks, but I notice that the bug is still persistent on Xcode 12.

[2020-07-05 18:33] louischeminant commented on #490
![Untitled2](https://user-images.githubusercontent.com/16012869/86539648-45179280-becc-11ea-828c-17d5e02f4b5e.gif)
Now the navigation title seems to appear right after you return to the front page.

[2020-07-06 05:43] simonzwicker commented on #493
Hey, will check it today again.

[2020-07-07 07:18] simonzwicker commented on #493
So i checked again and scrolling not working here some details:

Properties:
`fileprivate let assets = [
	  "A",
	  "B",
	  "C",
	  "D",
	  "E",
	  "F",
	  "G",
	  "H",
	  "I",
	  "J",
	  "K",
	  "L",
	  "M"
	]

	var pagingViewController = PagingViewController()
	var pagingViewControllerSelectedIndex = 0

	public var controllers = [Int: UIViewController]()`

In ViewDidLoad:
`pagingViewController.d

[2020-07-09 10:10] Denok137 commented on #291
When i create viewcontroller programatically without init ->

class MyViewController: UIViewController {
    override func viewDidLoad() {
        super.viewDidLoad()

        title = "My name"
}
}

title not set

but when i create by this way ->

class MyViewController: UIViewController  {

    init() {
        super.init(nibName: nil, bundle: nil)
        title = "My name"
    }

    required in

[2020-07-14 08:15] ageevvalentin commented on #503
I will check it when I have a little more time.

[2020-07-14 08:15] #503 closed

[2020-07-16 07:27] Scyano opened #507 "Crash in color transition when I use UIColor(patternImage:)"
I set my item.backgroundColor with API  UIColor(patternImage:), and when I scroll items, the color transition will invoke  function:

[code]

and I find out that UIColor made with UIColor(patternImage:) only contains one CGColor component,  and cause crash.

[code]

[2020-07-16 10:28] alasmanis commented on #501
@rechsteiner could you please give more info on washable. e.g. in IconItem (from example), I'm using hasher like:
`    func hash(into hasher: inout Hasher) {
        hasher.combine(index)
    }
`
but it still reloads the entire menu (on reloadMenu()). I'm trying to add a badge to each item that (atm using tier to update badge info and reloadMenu()), but as above - sets menu 1st item as selected bu

[2020-07-18 21:07] pratikgajbhiye222 commented on #503
@ageevvalentin do you achieve that

[2020-07-18 21:28] pratikgajbhiye222 commented on #404
@mtangri Have to got this?

[2020-07-18 21:33] pratikgajbhiye222 commented on #375
@Pratik948  Have to got this?

[2020-07-18 22:19] pratikgajbhiye222 commented on #404
@mtangri  can you help me?

[2020-07-18 23:58] mtangri commented on #404
What kind of help u need ?
On Jul 18, 2020, 6:19 PM -0400, Pratik Gajbhiye <notifications@github.com>, wrote:

[2020-07-19 11:24] pratikgajbhiye222 commented on #404
Actually I have to set data through API but not having clear vision , Can You Suggest me how to use this library with backend

[2020-07-19 17:31] mtangri commented on #404
I wasn’t able to get this thing to work as well. So I have used tabman, it is pretty straight forward. Also for the api stuff I have used almofire. There is a lot of documentation about it and easy to use
Let me know where are u stuck and I might be able to help u
On Jul 19, 2020, 7:24 AM -0400, Pratik Gajbhiye <notifications@github.com>, wrote:

[2020-07-22 06:28] pratikgajbhiye222 commented on #404
Can You please ping me on my email to connect because I need your help in parchment implementation

[2020-07-29 05:30] davidhsu1115 opened #508 "Using menu as standalone view."
Hey, I've been trying to use the menu in a view controller.
I believe this feature was added in Version 2.0, however I am struggling with finding any guideline using it.
Is there any example for us to implement this feature?

Thx.

[2020-08-04 03:50] Dfmarulanda opened #509 "itemSize or sizeForItemAt not working when my UICollectionView is inside a controller inside PagingViewController."
I've a problem with a collection view with a fixed size; when i have the collection view outside PagingViewController it works as expected; but when is inside, is not getting the expected size;

EDIT: OK. it seems it changes the parentViewContainerViewController when is inside PagingViewController.

[2020-08-04 04:35] #509 closed

[2020-08-04 06:42] LZRight123 opened #510 "如果能支持 自定义swith就好了"
如果能支持 自定义swith就好了

[2020-08-06 09:04] Sofia92f opened #511 "Use of unresolved identifier 'FixedPagingViewController'"
Hi to all!
I have to work on a project developed by others.

The project use Parchment.
But after updated and installed pods, it isn't build anymore.

In particular it's showing this message
`Use of unresolved identifier 'FixedPagingViewController'`

How I can fix it?

On the podfile there isn't any specific version, only` pod 'Parchment'`.

Thank you all!

[2020-08-06 09:13] rechsteiner commented on #511
Hey @Sofia92f! `FixedPagingViewController` was renamed to just `PagingViewController` in v2.0.0: https://github.com/rechsteiner/Parchment/releases/tag/v2.0.0

[2020-08-06 09:13] #511 closed

[2020-08-06 09:15] rechsteiner commented on #508
Hey @davidhsu1115! There's not really any good documentation for this at the moment. I can try to write up something pretty soon, but in the meantime I suggest looking at the `PagingViewController` implementation. It uses the `PagingMenu` internally.

[2020-08-06 09:15] rechsteiner commented on #507
Thanks for reporting! I'll look into getting this fixed soon

[2020-08-06 09:17] rechsteiner commented on #506
Hey @LuckyRoc! I'm not sure I understand exactly the issue your facing. You can't scroll in the table view or in the menu? This isn't really something specific to Parchment. Could it be that the header view you've added covers the scroll views?

[2020-08-06 09:19] rechsteiner commented on #510
Hey @LZRight123! Could you explain in English what the issue is? I tried translating it, but I don't really understand

[2020-08-06 23:51] afrade commented on #467
Change your controllers title, then reloadMenu:

`pagingViewController.reloadMenu()`

It worked for me

[2020-08-14 09:22] MiteshiOS opened #512 "menuHorizontalAlignment & selectedScrollPosition is center but not working proper"
I set menuHorizontalAlignment & selectedScrollPosition both to center but it is not working proper. Any suggestion please to make it right ? I want it center

![Screenshot 2020-08-14 at 2 48 32 PM](https://user-images.githubusercontent.com/17427703/90234700-b76d8200-de3d-11ea-8a88-06bcc662586b.png)
![Screenshot 2020-08-14 at 2 48 45 PM](https://user-images.githubusercontent.com/17427703/90234703-b

[2020-08-17 14:27] tanbayev opened #513 "Set speed of transition"
Hi! Is there any way to make transition between view controllers faster or slowly?

[2020-08-18 18:55] rishabhntl17 opened #514 "Crash - Nil properties of view controller"
Sometimes it crashes when we try to access an attribute of the viewcontroller like an outlet or something, and the reason is that it is found as nil.

[2020-08-19 06:10] rishabhntl17 opened #515 "View Controller Initialisation Issue"
It only loads viewcontroller that are adjacent to the currently selected tab initially, is there any way I can initialise the viewcontrollers right away, as I need to access their properties without scrolling to them first.

[2020-08-19 07:01] lygon55555 commented on #406
Do you know how to hide separator?

[2020-08-19 07:07] lygon55555 opened #516 "Is it possible to hide separator between menu and view?"
Hi, thank you for amazing library!
I really appreciate it 😀
But I' like to know whether it's possible to hide separator between menu and view.

[2020-08-19 07:28] #514 closed

[2020-08-19 07:30] rishabhntl17 commented on #516
Try this:
parchmentView?.borderOptions = PagingBorderOptions.hidden

[2020-08-19 07:42] rishabhntl17 commented on #515
I resolved this by calling loadViewIfNeeded for the viewcontroller that I needed to initialise right after adding to parchment.

[2020-08-19 07:42] #515 closed

[2020-08-20 00:18] lygon55555 commented on #516
@rishabhntl17 Thank you so much!
It worked!

[2020-08-20 00:18] #516 closed

[2020-08-21 17:17] yccheok opened #517 "Is there a way to avoid delay call on setPagingItem, when tapping on a tab?"
Thank you for creating such a useful and high quality scrollable tab library.

I notice that, when I tap on a tap, it will delay some time, till multiple calls on `setPagingItem` being triggered.

I wish to avoid the delay, as I would like the highlight background & foreground on selected tab, to happen immediately.

First, I though bottom indicator animation, is the reason of why such delay is re

[2020-08-26 08:25] yermukhanbet commented on #506
I am trying to implement something similar. In my case, I used Parchment as a subview in UIViewController, and put it in the middle of the view. On top of it, I put UIView, with images and labels inside of it. So my point was to make it scrollable together with UITableViews(which are inside of the parchment). I have tried using your example header, but the result was the same with my current situa

[2020-08-31 07:27] Flybor commented on #510
maybe you can use the protocol of PagingViewControllerSizeDelegate

[2020-08-31 07:31] Flybor opened #520 "Can the indicator width be a constant？the indicatorOptions setting is not"
Can the indicator width be a constant？the indicatorOptions setting is not

[2020-09-02 00:49] htnha opened #521 "Error when register cell with Nib"
Hi,

I got this error:
*** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<NSObject 0x280a2fc00> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key canvasView.'

My code:
[code]

class with xib:
[code]

class LetterItem:
[code]

[2020-09-02 18:59] rechsteiner commented on #484
@wwwdotfa do you have any more details on this?

[2020-09-02 19:04] rechsteiner commented on #452
Decided to remove vertical layouts from the 3.0 release. A pre-release of 3.0 is now available: https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0-beta. Please let me know if anyone finds any issues

[2020-09-02 19:05] rechsteiner commented on #494
Version 3.0 is now available as a pre-release: https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0-beta. It should be stable enough to use, but please let me know if you find any issues.

[2020-09-02 19:05] #494 closed

[2020-09-02 19:05] #498 closed

[2020-09-02 19:06] #505 closed

[2020-09-02 19:09] rechsteiner commented on #506
@yermukhanbet this sounds like an issues specific to your app and not really related to the original issue. I would take another look at the example targets and see how it differs from your own implementation. If you think that it's an issue with Parchment itself, please open a new issue with more details 🙂

[2020-09-02 19:09] #506 closed

[2020-09-02 19:10] rechsteiner commented on #510
@LZRight123 closing this for now, but let me know if you're still having some issues

[2020-09-02 19:10] #510 closed

[2020-09-02 19:12] #512 closed

[2020-09-03 03:34] htnha commented on #521
Please help me!

[2020-09-03 08:59] piaozhx commented on #490
I found a simple solution for this problem:

add
[code]
in `func makeUIViewController` and `func updateUIViewController` of `PageView`

By the way, SwiftUI has many strange results of `NavigationBarHidden`, I also think it is bug.

[2020-09-10 09:08] gvn-technology opened #522 "scrolling looping or multiple indicator"
if I have a fixed data,I mean for example for 5 items, can I have an infinite logic?

[2020-09-12 15:20] musashiM82 opened #523 "Use of undeclared type, swiftui"
Hi
I installed version 3 in this way

[code]

but I received this errors during build

[code]

what is the issue?

[2020-09-19 14:42] AashimaAnand opened #524 "protocol witness for PagingViewControllerDataSource.pagingViewController(_:viewControllerAt:) in conformance crash"
closure #1 in PagingViewController.configureDataSource() + 534 (PagingViewController.swift:534)

Lines:
 dataSource.viewControllerForIndex = { [unowned self] in
      return self.dataSource?.pagingViewController(self, viewControllerAt: $0)
    }

[2020-09-21 21:49] Jorge-Palomino commented on #332
Same things happens to me. I'm in the fourth tab, select the first and it loads the content on the second index, then if you try to swipe to another index the order of the content is wrong and menu selecting item says it's not the one I've selected. Swiping between controllers has a smooth animation, but selecting an index takes a lot of time because I think it loads the VC between current and new

[2020-09-25 11:46] devanshi-sheth1 opened #525 "Select paging item + scroll to item not working for fixed datasource"

[2020-09-27 16:29] sgmtal commented on #452
I have tried this new version and I get 2 errors ... any ideas?
<img width="1051" alt="Captura de pantalla 2020-09-27 a las 18 27 51" src="https://user-images.githubusercontent.com/20724496/94370269-53520500-00ef-11eb-8069-fb3e0a267ebb.png">
<img width="1060" alt="Captura de pantalla 2020-09-27 a las 18 28 01" src="https://user-images.githubusercontent.com/20724496/94370277-5947e600-00ef-11eb-8c8a

[2020-09-27 16:38] sgmtal commented on #494
I have tried this new version with iOS 14 and I get 2 errors ... any ideas? I think it would be solved by adding import UIKit..

<img width="1051" alt="Captura de pantalla 2020-09-27 a las 18 27 51" src="https://user-images.githubusercontent.com/20724496/94370480-92cd2100-00f0-11eb-9e09-901e740ad2f9.png">
<img width="1060" alt="Captura de pantalla 2020-09-27 a las 18 28 01" src="https://user-image

[2020-09-28 17:25] rechsteiner commented on #452
Thanks for letting me know @sgmtal! There's a new beta release out now called `3.0.0-beta2`: https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0-beta2

[2020-09-28 17:37] rechsteiner commented on #525
Hi @devanshi-sheth1! Could you explain a bit more how to reproduce this issues? Which version are you using?

[2020-09-28 17:38] rechsteiner commented on #524
Hi @AashimaAnand! Do you have any way of reproducing this crash?

[2020-09-28 17:46] rechsteiner commented on #523
Hi @ciroanni! I just tried setting up a clean CocoaPods project targeting `v3.0.0-beta` like you did, but I'm not getting this error. Could you share a bit more details on your setup?

[2020-09-28 18:07] rechsteiner commented on #521
Hi @htnha! This looks like an issue with how you're outlets have been configured in you xib/storyboard. Check this for more details: https://stackoverflow.com/questions/3088059/xcode-how-to-fix-nsunknownkeyexception-reason-this-class-is-not-key-valu

[2020-09-28 18:07] #521 closed

[2020-09-28 18:09] rechsteiner commented on #520
Hi @Flybor! You mean having a constant indicator, but a dynamic width on the menu items? In that case, that is not supported by Parchment.

[2020-09-28 18:10] rechsteiner commented on #513
Hi @tanbayev! Sorry, this is not possible with Parchment at the moment

[2020-09-28 18:32] rechsteiner commented on #517
Hi @yccheok! Sorry for the late response. I'm not sure it's possible to make this change to Parchment without substantially changing the internal implementation. One option is to override `apply(layoutAttibutes:)` and gradually fade in the selected color while the menu is scrolling. E.g:

[code]

It's also possible to immediately update the selected cell by implementing the `PagingViewControllerDe

[2020-09-29 10:23] rocxteady commented on #452
<img width="846" alt="Screen Shot 2020-09-29 at 13 22 14" src="https://user-images.githubusercontent.com/3393424/94546638-d93c9000-0256-11eb-9713-63d799532571.png">

I am getting this errors. Can you help?

[2020-10-07 15:54] FrancoisLefevre12 opened #527 "Crash on EMPageViewController.layoutViews() + 536"
Hello there !

We are using your library since few months now and we are having just one big issue with it.

We create an instance of `PagingViewController`, we insert it into a view controller which is presented modally.
In this `PagingViewController` instance we add some sub view controllers which have tableViews inside for some of them.

It appears that the crash occurs when we call the `reload

[2020-10-12 13:17] marinofaggiana opened #528 "Disable a single item"
It's possible disable a single index ?

Thanks

[2020-10-18 04:46] dobiho5 opened #529 "How to scroll weekly CalendarPagingCell when scroll ?"
Thanks for sharing great code, first of all.

I'd like to make daily calendar view using Calendar example.

CalendarPagingCell of Calendar example behave like this.

<Img src="https://camo.githubusercontent.com/8419a34bf656fa5fa2bcf2d4fbe2f15c2e06f419/68747470733a2f2f72656368737465696e65722d70617263686d656e742e73332e65752d63656e7472616c2d312e616d617a6f6e6177732e636f6d2f70617263686d656e742d63616c65

[2020-10-18 15:28] rechsteiner commented on #527
Hi @FrancoisLefevre12! I've moved away from using EMPageViewController in Parchment in version 3.0. Could you try to target the v3.0.0-beta2 release and see if the crash goes away? The new version should be stable enough to use in production.

[2020-10-18 15:38] rechsteiner commented on #528
Hi @marinofaggiana! There's no build-in way of disabling an item. For the menu it should be possible to disable selections by overriding the `didSelectIndexPath` method on `PagingViewController`:

[code]

You can visually style the disabled menu item by making your own `PagingCell` subclass. But for the page view controller I'm not really sure how it should work. What should happen if you try to s

[2020-10-18 15:39] rechsteiner commented on #523
@ciroanni do you have any more details on this?

[2020-10-18 15:39] #517 closed

[2020-10-18 15:40] #484 closed

[2020-10-19 08:22] FrancoisLefevre12 commented on #527
Hello !

Okay cool ! We will try this beta then, alright !
Do you know the release schedule for this 3.0?
Thanks for your answer 👍

Regards,
François

[2020-10-19 09:42] rechsteiner commented on #527
No specific release date, but probably in a few weeks or so 🙂

[2020-11-06 10:31] olegtatarciuc opened #531 "Have a UISegmentedControl as the menu?"
I would like to have a UISegmentedControl as the menu.
How would I do that?
I have the idea of replacing the UICollectionView that is representing the menu now, and use the UISegmentedControl, but to be honest, not sure where to start. Or, maybe have the collectionView with only 1 cell with the width equal to the screen width, and add as a subview the UISegmentedControl, and selecting segments bas

[2020-11-06 10:38] olegtatarciuc commented on #529
Hi.
Don't forget, that each `date` in the calendar is a `UICollectionViewCell`. It is not possible to scroll multiple cells by 1 swipe.
Maybe you can create your own version of the calendar using Parchment.
Let your MenuItem be the width of the screen, in that Item you would type 7 dates (representing a week), and when you would scroll, it would scroll weekly.

[2020-11-17 10:34] baptistedajon commented on #527
Hello,
How can we target the beta with SPM ?
Thanks

[2020-11-19 17:58] motasay opened #533 "Is it possible to programmatically select an item in SwiftUI?"
Hi,

Thanks for the library and the SwiftUI wrapper.

I'm using the wrapper and it's flawless and the options that I've tried are working great. But I'm wondering if it's possible to set the initial selected item as well? As far as I know, this is not part of the options and we need to use the `select` function, but I'm not sure how to go about that.

Any tip would be greatly appreciated.

[2020-11-23 01:55] yermukhanbet commented on #504
Try this:

        `
        guard let indexItem = pagingViewController.state.currentPagingItem as? PagingIndexItem else {
            return
        }
        print(indexItem.index
       `

[2020-11-24 11:11] sakshigidwani93 opened #534 "How to provide datasource in case custom cell is used"
I am using custom UI for paging item. I have provided the first view controller through the data source but I want to pass different view controller for different tabs. So how can I pass other view controllers

There are four items
[code]
Initialisation for PagingViewController
[code]

Passing the first view controller through datasource
[code]

[2020-11-25 07:32] #534 closed

[2020-11-26 08:43] MrKang commented on #520
This code can help you:
[code]
then:
[code]

[2020-11-28 10:22] motasay commented on #533
In case someone else is trying to solve this - here's a simple solution by modifying [the wrapper](https://github.com/rechsteiner/Parchment/blob/master/Parchment/Structs/PageView.swift#L16):

1. Pass the `PagingItem` you'd want to be set as selected down to the `PagingController`.
2. Modify the `makeUIViewController` method as following:

[code]

`select` has to be executed on the main thread.

[2020-11-28 10:22] #533 closed

[2020-11-30 15:33] hasankamrul commented on #529
just go to CalendarViewController.swift in example project and paste the bellow code
func pagingViewController(_: PagingViewController, itemAfter pagingItem: PagingItem) -> PagingItem? {
        let calendarItem = pagingItem as! CalendarItem
        var futureMonth = Calendar.current.date(byAdding: .month, value: 1, to: calendarItem.date)!
        return CalendarItem(date: futureMonth)
    }

[2020-12-01 14:34] marinofaggiana commented on #528
good thank a lot

[2020-12-01 14:34] #528 closed

[2020-12-02 04:44] galblank opened #535 "Reusing view controller for dataSource"
Trying to reuse class member viewController will fail to display properly and messes up pagination
[code]

why do I need to instantiate new controller every time I change page ?
thank you

[2020-12-02 09:34] marinofaggiana commented on #528
@rechsteiner only a little speed help for a custom PagingCell for change only the title colors.

thx

[2020-12-03 19:12] rechsteiner commented on #452
Hi @rocxteady! I'm not able to reproduce that error you are seeing. I've tried setting up multiple fresh projects, but all the different ways of installing seems fine. Could you share a bit more on your setup?

[2020-12-03 19:18] #523 closed

[2020-12-03 20:04] rechsteiner commented on #527
The new version is out now 🥳 https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0

[2020-12-03 20:04] #527 closed

[2020-12-03 20:05] #524 closed

[2020-12-03 20:05] rechsteiner commented on #520
Thanks for tip @MrKang! Closing this now then

[2020-12-03 20:05] #520 closed

[2020-12-03 20:06] rechsteiner commented on #161
The new version with proper RTL support is finally out now! https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0

[2020-12-03 20:06] #161 closed

[2020-12-03 20:09] rechsteiner commented on #493
Hi @simonzwicker! I finally got a new version of Parchment out now: https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0. Could you check if this is still a problem?

[2020-12-03 20:10] #513 closed

[2020-12-03 20:11] #525 closed

[2020-12-03 20:13] rechsteiner commented on #531
Hi @olegtatarciuc! I don't think you really need Parchment for this. It would probably be better to use `UIPageViewController` directly with a `UISegmentedControl` on top. If you need detailed delegate methods for the page view controller (which is really buggy with `UIPageViewController`), you could use only the `PageViewController` class in Parchment. Hope that helps!

[2020-12-03 20:13] #531 closed

[2020-12-03 20:15] rechsteiner commented on #535
Hi @galblank! It's not possible to display two instances of the same view controller in UIKit, so when you swipe to the next screen it needs to be a different instance. This is the exact same behaviour as `UIPageViewController` etc. If you want to display the exact same view controller, you either need to initialize it in the data source method or create a new instance by running `.copy()` on it.

[2020-12-03 20:15] #535 closed

[2020-12-03 20:16] rechsteiner commented on #452
New version is out now! https://github.com/rechsteiner/Parchment/releases/tag/v3.0.0

[2020-12-03 20:16] #452 closed

[2020-12-03 20:54] galblank commented on #535
I guess my issue is that it should refresh it , rather than keep trying to add it to the stack. @rechsteiner
I guess this isn't what I'm looking for, for my needs. I just need a paging menu that I can hookup to and do X when a menu item is being tapped.
By X I mean refreshing an existing ViewController rather than keep adding it to the stackView.
I assumed that since there is an initialization fun

[2020-12-03 20:55] rechsteiner commented on #507
Hi @Scyano! I started looking into this, but I'm not really sure how to handle it. You could initialize a color using any type of image, so I don't really know the color here. I'm thinking of defaulting to black in this case, just so we prevent it from crashing at least. What do you think?

[2020-12-03 20:57] rechsteiner commented on #535
Ah, I see. Yeah, then you don't really need the page view controller part. You could use the menu as a standalone view using the `PagingMenu` class. When selecting the items you could then just update your view controller.

[2020-12-04 08:41] Scyano commented on #507
It's fine! When someone use patternImage, he do not need color transition actually

[2020-12-04 08:41] #507 closed

[2020-12-07 12:53] Pavan96 commented on #149
same here ?

[2020-12-07 17:54] imJithin777 opened #539 "scroll to another item on button click"
I have a slider and have listed some categories in it, so if i click any of categories the from it,  the parchment should be scrolled to that particular item...whatever I do the parchment line under the category name and the category tab does not move to that selected item. If anyone knows about it please give a solution asap.

[2020-12-09 07:15] alperkayabasi opened #540 "PagingViewController shows last page after init and select(at: index) doesn't work."
I'm using this code for nearly one year and it was working fine.
After version 3.0.0 released, my code isn't working anymore, something is broken.
I create my `PagingViewController` with the code below. It only shows `secondViewController` on screen.
I tried selecting first item or first index manually after init but it didn't work. I tried calling `select` after a minor delay, that didn't work ei

[2020-12-09 09:11] #539 closed

[2020-12-09 09:39] shaj04 commented on #540
I've met the same problem, the reason may be in the following codes

[code]

I guess because  `view.constrainToEdges(scrollView)`  in `ViewDidLoad` doesn't make sense at such cases

[2020-12-10 00:01] mnfro commented on #540
Same issue here! after updating to 3.0.0, `PagingViewController` shows always the last page as first, `select(index:0)` has no effect and a physical tapping on the `menu item` is required to go back to the first page.

[2020-12-10 03:18] Hastingou commented on #540
I got some similar bug in version 3.0.0.
When my viewControllers datasource changed, I need rebuild a new PagingViewController, but the page of new PagingViewController doesn't show the first page.
Found a solution. After PagingViewController rebuild, firstly use reloadData func.

        if pagingViewController != nil {
            pagingViewController.willMove(toParent: nil)
            pagingVi

[2020-12-10 19:48] rechsteiner commented on #540
Thanks for reporting! I'm looking into this right now, but I'm struggling to reproduce it. Is there anything you could think of that is different from the example targets in your setup?

[2020-12-11 04:34] toptomsk opened #541 "Autolayout go wrong on 3.0.0"
On childViewController i add a subview constraint with bottomlayoutGuide, and when first time I push to pagingVC it's seem that subview frame go wrong, it below the egde of screen, but when i scroll to other page then back, everything back to normal. Or at viewdidAppear of pagingVC i call pagingViewController.reloadData() its flash to apprear at right position
It's only happened on version 3.0.0,

[2020-12-11 10:45] Hastingou commented on #540
I make a simple demo to show the bug.
[https://github.com/Hastingou/ParchmentTest](url)

[2020-12-11 11:18] rechsteiner commented on #540
Thanks 🙌 I'll get that fixed soon

[2020-12-14 14:33] RomanTysiachnik commented on #541
I confirm that I've also faced some weird behavior on the 3.0.0.

The flow looked like this:
- Pushed a screen that has a paging view controller as a child and his top constraint aligned to the top with 250.0 offset
- After some action, I switch 250.0 offset to 0

Expected: paging screen aligns to the top safe area and fills the entire screen
Achieved: paging screen aligns to the top safe area but

[2020-12-15 07:50] estebanmons opened #542 "Swipe to delete on a tableView that is inside a PagingViewController"
When I slide the delete action into a TableView cell it doesn't work. Switch to the other ViewController in Paging:

func tableView(_ tableView: UITableView, trailingSwipeActionsConfigurationForRowAt indexPath: IndexPath) -> UISwipeActionsConfiguration? {

        let deleteAction = UIContextualAction(style: .destructive, title: nil) { (_, _, _) in
              //Action
        }

        deleteA

[2020-12-15 19:49] rechsteiner commented on #542
Hey @estebanmons! Do you want to support both swipe actions and swiping between pages? From a UX perspective it sounds a bit like you should disable the page swiping using `contentInteraction = .none`. If you really want to support both swiping gestures at the same time you need to cancel the gesture recognizer for the `pageViewController.scrollView` when starting to the table view swipe. Take loo

[2020-12-15 19:49] #542 closed

[2020-12-15 20:11] rechsteiner commented on #541
Thanks for reporting! This should be fixed now in v3.0.1. Let me know if you are still seeing any issue

[2020-12-15 20:11] rechsteiner commented on #540
A new version is out now (v3.0.1) which should fix these issues. Please let me know if you are still seeing any issues

[2020-12-15 20:11] #540 closed

[2020-12-17 07:51] DanielYK opened #546 "Hi, What should I do if I want to hide the menu when there is only one element in pagingvc ?"
I tried to hide the menu dynamically, but the layout is wrong when I switch back and forth

[2020-12-17 15:03] DanielYK opened #547 "When using the selfsizing method to create 50 PageItems, the indicator will have problems"
sliding the menu, the menu will occasionally disappear, and the indicator will have problems

[2020-12-23 09:12] Liya86 opened #548 "The afterViewController property of PageViewController is private"
The afterViewController property of PageViewController is private

[2020-12-23 15:32] RomanTysiachnik commented on #541
In my case, the issue is not fixed in 3.0.1 =\

[2020-12-30 02:21] ninholli opened #549 "How can I add a subview at the bottom of menu view?"

[2021-01-03 01:24] #490 closed

[2021-01-04 06:27] Liya86 opened #550 "When clicking the left-side menu item, the page scrolls in the wrong direction"
When clicking the left-side menu item, the page scrolls in the wrong direction（from right to left）

[2021-02-01 19:28] rechsteiner commented on #546
Hi @DanielYK! How are you hiding the menu? It should be possible to hide it by setting the height to zero for the `menuItemSize` property. See this discussion for more details: https://github.com/rechsteiner/Parchment/issues/378

[2021-02-01 19:28] rechsteiner commented on #547
What are you using as the `estimatedWidth`?

[2021-02-01 19:31] rechsteiner commented on #549
Hi @ninholli! You can make your own `PagingView` subclass where you add any view you like below the menu view. For instance, here's an example of adding a header view above the menu: https://github.com/rechsteiner/Parchment/blob/master/Example/Examples/Header/HeaderViewController.swift

[2021-02-01 19:31] #549 closed

[2021-02-01 19:32] rechsteiner commented on #550
Hi @Liya86! Could you share a bit more about your setup? Are you using a custom `PagingItem`?

[2021-02-01 19:32] #493 closed

[2021-02-02 10:13] RomanTysiachnik commented on #541
@rechsteiner any progress on that?

[2021-02-02 10:53] rechsteiner commented on #541
Hmm, need to look a bit more into this

[2021-02-02 23:14] iiggnnaacciioo opened #552 "Is there a way to add the collectionView menu to another view?"
I'm trying to remove the collectionView from its superView to add it to another view above the container which holds the pages, but when I try to, it also removes the pageView.
Anyway, thanks for sharing this awesome tool!

[2021-02-03 00:41] #552 closed

[2021-02-08 01:55] MonipichMP commented on #501
any progress here? I met this problem too!

[2021-02-14 14:26] CharlemagneVI opened #553 "Scroll View on child views"
![image](https://user-images.githubusercontent.com/7468260/107879350-51be8900-6ea6-11eb-93e0-f4f53a160780.png)

Is it possible to add UIScrollViews to view controllers within a PagingViewController? It appears that the paging scroll view takes interaction priority over the child scroll views. I'm looking to add a scroll view that allows for vertical scrolling for the view in the above screenshot.

[2021-02-18 09:25] GuriSarao opened #554 "Detail Page error"
I am using contentViewController in which i am showing a list from array. but when I am click on any index to get its detail(newViewController) it showing me wrong data as there is always next contentViewController loaded when I swipe to change viewController. How can I get the data only for visible contentViewController? so when i click on a list to show its detail in will get a exact index of li

[2021-02-25 09:35] Odyflame opened #555 "Example codes Error"
there's some error in Example -> Header -> HeaderView.

i don't analyze deeply, but i build example app and run, app runs well except headerview.

when i click header above menu, the view is show. after then, i touch any cells, the above photo is dismissed suddenly. just one time, others is fine.

i move back to first Examples tableview, and touch Header above menu, touch any cell. the issue that

[2021-02-27 08:06] tridorje opened #556 "In root view controller on infinity mode, when present a landscape view controller then dismiss, the infinity tab bar is shown the wrong tab."

[2021-02-27 08:12] tridorje commented on #556
In root view controller on infinity mode, when present a landscape view controller then dismiss, the infinity tab bar is shown the wrong tab.
I have the error video capture
Please help me.

[2021-03-02 10:46] marinofaggiana opened #557 "SPM Warning"
The iOS deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.4.99.

[2021-03-05 08:05] oNguyenNgocBan opened #559 "InfiniteDataSource for list viewControllers fixed get bug when scroll menu item."
Bug reproducibility conditions
- use InfiniteDataSource with list viewControllers fixed
- number of viewControllers is small

The bug phenomenon see the following image:
![bug](https://user-images.githubusercontent.com/29974488/110085514-c7da4f80-7dc3-11eb-9d44-cf6f9bebc219.gif)

This is bug example code:

[code]

Menu cell
[code]

ContentViewController
[code]
Does anyone know how to fix this bug?

[2021-03-05 10:31] HuuLiang commented on #501
struct CSRecordItem:PagingItem{

    public let index: Int

    public var title: String

    public init(index: Int, title: String) {
        self.index = index
        self.title = title
    }

    func isEqual(to item: PagingItem) -> Bool {
        guard let recordItem = item as? CSRecordItem else {
            return false
        }
        return self.index == recordItem.index
    }

    func

[2021-03-11 20:35] yildirimatcioglu opened #560 "is there any way to make menu corner radius without custom cell?"
Hello,
I just want to make menu view itself(not menu items) with corner radius without custom cells. Here is the sample design:
<img width="226" alt="Screen Shot 2021-03-11 at 23 35 10" src="https://user-images.githubusercontent.com/17345325/110851709-71d54280-82c2-11eb-8912-2ec23233cca6.png">

[2021-03-14 15:01] yutoyazaki commented on #550
I found the same behavior and was able to reproduce it with the Example.app.

1. Go to "Size delegate" page in the Example app
2. Swipe the menu all the way to the right and tap "Sydney"
3. Swipe back to the left and tap "Tokyo"

The paging animation should be reversed but it's going to forward.
I think this is something related to the `visibleItems` caches. When you select the left side of the cu

[2021-03-16 02:05] wangjunjx8868 opened #561 "How to prohibit the left and right sliding auto, I want to manually control sliding？"

[2021-03-16 20:16] machorro opened #562 "Rotating resets the current index"
Hi, I'm having an issue with rotation on 2 different cases

when I load the pages and select an index, then rotate, the `PagingViewController` goes back to the index 0

The 2nd issue here is if I push a new view controller and rotate, coming back triggers this weird bug (plus goes back to index 0 if index 1 was selected)
![Screen Shot 2021-03-16 at 3 55 56 PM](https://user-images.githubusercontent

[2021-03-17 09:32] peter-szucs opened #563 "Weird scrolling bug"
Hi!
First of all thanks for a great library!

We recently decided to try and incorporate this into our app since it would suit our needs perfectly.
We also added a collapsing header effect with it.
So we first made a test project to test it out and just as we had refactored it into our own app we noticed a very strange bug that we just can't seem to pinpoint the problem with.
At first we thought m

[2021-03-18 19:25] skydivedan opened #564 "Would like to keep View Controllers in memory, until I hit a low-memory condition"
Apologies if this documented, and I just haven't hit it yet. But here's what I'd like to do...

I have a Parchment view with 7 tabs.
If I tap on item-2, then the view controllers get loaded for item-2, but also for item-1 and item-3 (before and after). Item-1 contains a collection-view. And let's say I scroll that view a few cells.

Then, if I quickly tap on item-5, and then back to item-1... well

[2021-03-19 09:27] ageevvalentin commented on #563
This is not reproduced in version 2.4.0

[2021-03-19 12:57] peter-szucs commented on #563
Thanks for telling us this. We'll use this version until its fixed hopefully in v. 3.

[2021-03-19 17:31] skydivedan commented on #564
OK cool. Thanks for the advice. I'll try it out.

[2021-03-22 02:04] wangjunjx8868 commented on #561
To be precise, I want to swipe by clicking on the menu, not by swiping gestures

[2021-03-22 15:15] PavanMaddineni opened #565 "Unable to set frame with navigation Bar"
Hi,

Please resolve this issue. Unable to set frame. Menu bar hiding in Navigationbar

[2021-04-02 13:38] #564 closed

[2021-04-05 10:13] #508 closed

[2021-04-05 10:14] #546 closed

[2021-04-05 10:14] #547 closed

[2021-04-05 10:18] rechsteiner commented on #553
Hi @CharlemagneVI! That should definitely be possible. Both the Header and LargeTitle examples have vertical scrolling in the  content view controllers, so you can take a look at them for implementation details. The concept should be the same of a plain UIScrollView

[2021-04-05 10:18] #553 closed

[2021-04-05 10:21] rechsteiner commented on #554
Hi @GuriSarao! You can get the data for a given view controller by using the delegate: https://github.com/rechsteiner/Parchment#delegate. If you need the currently selected view controller, you can also access it on `pagingViewController.pageViewController. selectedViewController `

[2021-04-05 10:21] #554 closed

[2021-04-05 10:23] rechsteiner commented on #555
This is just an example of what you can do with Parchment, and not part of the actual library. I will look into improving the examples, but you have to implement your own app yourself

[2021-04-05 10:23] #555 closed

[2021-04-05 10:24] rechsteiner commented on #556
Hi @tridorje! It's a bit hard say what the issue is based on just the video. Could you share some details on your implementation?

[2021-04-05 10:29] rechsteiner commented on #560
Hi @yildirimatcioglu! There's no way to do this without a custom cell, but it really shouldn't be that many lines of code. The easiest way is probably to subclass `PagingCell` and apply the corner radius in `setPagingItem` based on the index.

I'm not that keen on adding this directly to Parchment, as I'm trying to keep it pretty generic. The library quickly gets messy if we add support for all ki

[2021-04-05 10:29] #560 closed

[2021-04-05 10:31] rechsteiner commented on #561
Hi @wangjunjx8868! You can do this by setting `pagingViewController.contentInteraction = .none`

[2021-04-05 10:31] #561 closed

[2021-04-05 10:32] rechsteiner commented on #565
Hi @PavanMaddineni. Check out the NavigationBar example for how to do this: https://github.com/rechsteiner/Parchment/blob/master/Example/Examples/NavigationBar/NavigationBarViewController.swift

[2021-04-05 10:32] #565 closed

[2021-04-05 10:42] rechsteiner commented on #562
Hi @machorro! This sounds like an issue that was fixed some time ago. Which version are you using?

[2021-04-05 10:43] rechsteiner commented on #562
I tried running your example locally with version 3.0.1 and it seems to work fine

[2021-04-05 10:53] rechsteiner commented on #563
Hi @peter-szucs! Which version are you using? There was a fix for this in 3.0.1. I tried implementing you example locally, with a header view on the top and using SnapKit in the same way, and it seems to work fine here.

[2021-04-05 10:54] rechsteiner commented on #541
@RomanTysiachnik could you share some details on your implementation? Are you able to reproduce this in one of the examples? I'm not able to reproduce it myself

[2021-04-05 11:00] rechsteiner commented on #548
Hi @Liya86! This was removed in version 3.0.0 when we moved away from EMPageViewController. The reason it was made private was to keep the public API as similar to UIPageViewController as possible.

[2021-04-05 11:00] #548 closed

[2021-04-05 11:03] rechsteiner commented on #557
Hi @marinofaggiana! Where do you see the "supported deployment target versions"? From what I can see both IPHONEOS_DEPLOYMENT_TARGET and Package.swift is set to 8.2

[2021-04-05 11:06] rechsteiner commented on #529
@dobiho5 is the solution @hasankamrul mentioned what you're looking for? Or are you thinking of showing one day at the time, but only scrolling in the header when you move to the next week (e.g. the Calendar app on iOS)?

[2021-04-06 07:52] PavanMaddineni opened #566 "How to get all controllers?"
I need to all controllers in any screen inside Page menu

[2021-04-06 08:00] peter-szucs commented on #563
Hello @rechsteiner ! Thanks for your reply,
We are using 3.0.1 when getting the bug.
After downgrading to 2.4.0 the bug did dissapear though.
Let me know if you want some more code or something to look at that could help troubleshoot the issue.

[2021-04-06 08:20] rechsteiner commented on #563
Okay, thanks. Are you able to reproduce it in one of the example projects? That would be very helpful

[2021-04-07 12:50] peter-szucs commented on #563
We didn't try out the example projects, and now that i've cloned it down could you tell me how to actually run it ? I can't really figure out how, it builds and thats it.
I'm still very much a beginner in iOS development. :)

[2021-04-07 14:40] ZaVyLoN commented on #550
Hi @rechsteiner. Is there a solution to this problem?

[2021-04-07 15:23] rechsteiner commented on #550
The problem seems to be related to the direction calculation here: https://github.com/rechsteiner/Parchment/blob/master/Parchment/Structs/PagingItems.swift#L53. Removing the first check there fixes the issue, but I can't remember why that was added in the first place. Trying to verify whether removing it will break something else before I push the fix.

[2021-04-07 15:43] rechsteiner commented on #550
Pushed a fix to the `fix-page-animation` branch, so you can target that until this has been released

[2021-04-07 15:46] rechsteiner commented on #566
Hi @PavanMaddineni! Parchment only shows the view controllers that you tell it to show, so you should already have access to all the controllers. For instance, if you are using `init(viewControllers:)` initializer you have the view controllers there. If you are using `dataSource`, you either need initialize all your view controllers up-front or add them to a property when the view controller metho

[2021-04-07 15:46] #566 closed

[2021-04-07 15:51] rechsteiner commented on #557
Looks like Xcode 12 doesn't support building for iOS 8 anymore. I guess we need to drop iOS 8 support then 😅

[2021-04-07 16:02] rechsteiner commented on #557
Dropped #568. Will release a new version soon!

[2021-04-07 16:02] #557 closed

[2021-04-07 16:23] rechsteiner commented on #522
Hi @gvn-technology! Unfortunately, this doesn't seem to be possible at the moment. I'm looking into doing some changes that would make this possible, but might take some time before that is ready.

[2021-04-07 20:49] rechsteiner commented on #522
Ah managed to get it working 😅 Pushed to the `infinite-looping` branch. You can check out the InfiniteLooping example for implementation details. I still need to do a bit more testing and clean this up, but I should be able to release a new version with this pretty soon.

[2021-04-08 12:54] rechsteiner commented on #559
Hi @oNguyenNgocBan! I'm working on some improvements to Parchment that I think should fix this. Could you target the `infinite-looping` branch and see if the issue is fixed for you there?

[2021-04-08 13:20] mishaPetrus commented on #563
Hello @rechsteiner.
First of all thanks for a perfect library!

In general, I have the same problem with scrolling. I found the place in the library, where it can be fixed. As you can see on the screenshot **scrollView.contentOffset** has vertical and horizontal offset. If you uncomment the code, horizontal scrolling will work well.

![Screenshot 2021-04-08 at 16 04 58](https://user-images.githubu

[2021-04-08 14:52] rechsteiner commented on #563
Thanks! Are you able to reproduce the bug in one of the examples? I haven't been able to reproduce it myself, so I can't verify that the changes are actually fixing it

[2021-04-08 16:01] mishaPetrus commented on #563
A very strange thing, because I can't reproduce this with an Example project. I'm probably setting something wrong.

[2021-04-08 16:38] rechsteiner commented on #563
I’m quite sure it's a problem with Parchment, because it wasn’t an issue in v2.4. I just need to reproduce it to fix it

[2021-04-09 01:04] oNguyenNgocBan commented on #559
@rechsteiner when using the `infinite-looping` branch there is no longer bug. Thanks for your support. 👍

[2021-04-09 01:04] #559 closed

[2021-04-11 10:10] yasuntimure opened #570 "ImageViewController without tableview cells"
Hi , I'm trying to make a menu collectionView with icons at the top and under that I need to scroll my viewControllers synchronously. I checked your "Images" folder. It's kind of same but its using the tableViews. Is there any way to make it  with viewControllers which's are designed in storyboard.

[2021-04-11 17:59] rechsteiner commented on #570
Hi @yasuntimure! Yes, you can use storyboards by getting the view controllers and passing it into the `init(viewController:)` initialiser. Check out the Storyboard example here: https://github.com/rechsteiner/Parchment/blob/master/Example/Examples/Storyboard/StoryboardViewController.swift

[2021-04-11 17:59] #570 closed

[2021-04-15 06:37] yasuntimure commented on #570
Yeah, I saw it but I couldn't combine them. My another question is how we are going to scroll to another viewcontroller programmatically. I mean when I clicked my button with an IBAction I would like scroll next page. I used delagates but it didn't work .

[2021-04-15 07:04] rechsteiner commented on #570
Check out this one: https://github.com/rechsteiner/Parchment#selecting-items

[2021-04-28 17:21] rechsteiner commented on #562
Closing for now, but let me know if this is still an issue in the latest version

[2021-04-28 17:21] #562 closed

[2021-05-03 11:28] diilarakaymak opened #573 "menuInsets not working"
Hi, we were using the version 1.7.0 of your library in our application. We have updated your library to version 3.0.1 but "menuInsets" property not working correctly this version.

I also tried it on class CalendarViewController in your sample project and encountered the same error. Briefly, I get the same error when I try not only in class CalendarViewController but also in other classes.

I shar

[2021-05-15 14:12] #529 closed

[2021-05-15 14:12] #556 closed

[2021-05-18 06:52] Scyano commented on #573
I have the same issue. and this is a bug, you can check the bad code below
[code]

heightConstraint will be change to `options.menuItemSize.height` when we set options, it should change to
[code]
which is a calculate property contains itemHeight and insets
[code]

@diilarakaymak
Maybe you can get the constraint by `pagingVC.collectionView.constaints`, and change it directly

[2021-05-18 08:05] rechsteiner commented on #573
Thanks @Scyano! I'll look into getting this fixed soon

[2021-05-21 11:39] varuntotlani opened #574 "Crashing in the beginning itself"
Hello, Awesome library and thank you for that.

However, when I have just made a demo out of it, it crashes. Here is what I have done.

- Created a new Project
- installed pod Parchment
- added this code, TabViewController in the code is the initial view controller in storyboard as well.

[code]

Check out the error

 *** Assertion failure in -[UICollectionView _dequeueReusableViewOfKind:withIdent