[2016-12-15 21:58] IVANKRUPSKI opened #15 "Icos of different size and color for selected and not selected items."
Hello,

Is it possible with this framework to do something similar to what is below in gif?
And also make paging menu scroll horizontally to the left/ right margins? Currently it's not scrolled but rather move to the next (left/ right) item.
![example](https://cloud.githubusercontent.com/assets/16180201/21243629/f6faee82-c319-11e6-913c-e48a4f60b19d.gif)

[2016-12-20 23:33] kmyn opened #16 "Controller menu missing with different initial screen"
Hi,

In the Delegate Example (cities), I've added in a new controller (HomeViewController) as the initial view controller. From which, I need to navigate to the cities controller (ViewController). Layout as in screen shot

<img width="684" alt="ss" src="https://cloud.githubusercontent.com/assets/18484353/21371916/003eab7a-c6e2-11e6-80f1-c7c01d55e30b.png">

When I wire the "Go to cities" button to

[2017-01-25 13:57] rechsteiner opened #17 "Add progress value to menu items"
Right now the menu items are only updated after a transition has completed. Adding a progress on the PagingCell based on how much the content is scrolled would allow us to smoothly transition between size/color etc.

[2017-01-25 13:57] rechsteiner opened #18 "Scroll menu items alongside content"
The position of menu items are only updated after a transition has completed. Updating the scroll offset based on how much the content is scrolled would make the transition much smoother. We could still keep the current behaviour as an option.

[2017-01-25 13:58] rechsteiner opened #19 "Allow scrolling in the menu items header"
Currently, the menu items only have a swipe gesture to switch between pages. It would be nice to be able to scroll freely inside the menu items collection view.

[2017-01-25 13:59] rechsteiner commented on #15
Hey. So sorry for the late response! This isn't really possible at the moment, but I'm working on an update that will fix these issues. I've broken them into three separate issues:

- #17 Add progress value to menu items
- #18 Scroll menu items alongside content
- #19 Allow scrolling in the menu header

When these are fixed it should be trivial do get the behaviour you want. You basically need to

[2017-01-25 14:10] rechsteiner commented on #16
Sorry for the late response!

Did you figure this out? It sounds a bit like the menu items appear below the navigation bar. Just to validate, maybe try setting the navigation bar `translucent` property to false and see if the menu items appear.

[2017-01-25 14:49] IVANKRUPSKI commented on #15
Great!
I am thankful for that.

[2017-01-25 16:29] #17 closed

[2017-01-25 21:53] rechsteiner commented on #15
Sorry, closed the wrong issue!

[2017-01-25 21:55] #18 closed

[2017-01-25 22:27] rechsteiner commented on #15
Alright, #17 and #18 should be done now. I've added a new example project called `IconsExample` that implements pretty much the same behaviour as you described.

Scrolling in the header is still not completed, but you can enable it yourself by setting this:

[code]

This should work perfectly fine if you don't have too many elements. The problem with having a lot of menu items is that the collecti

[2017-02-01 03:12] kmyn commented on #16
It works now after turning off translucent. Thanks!

[2017-02-01 03:12] #16 closed

[2017-02-02 19:05] IVANKRUPSKI commented on #15
Hey!

Thank you very much for this upgrade. It's very much appreciated.

Shall I close it, or you want to finish #19 first?

P.S.There is another small issue, but I will create separate case for it.

[2017-02-02 19:47] IVANKRUPSKI opened #24 "Not possible to have transparent/ translucent nav. bar"
Hello!

We tried but didn't succeed in making the effect when what is vertically scrolled in the view appears underneath the nav. bar in order to have transparency/translucency effect.

Our idea was to make

1. Fully transparent nav. bar
2. Make fully transparent menu (horizontal collection view with icons).
3. Than add custom view (nav. bar view) of a certain height and level of translucency.
We,

[2017-02-02 20:34] rechsteiner commented on #15
Awesome! You can just leave it open for now. I'm quite close to completing the scrolling issue as well–just some minor tweaks left.

[2017-02-02 21:05] rechsteiner commented on #24
Yeah, this should definitely be possible. You would have to subclass `PagingView` and setup your custom constraints something like this:

[code]

Then you need to subclass `PagingViewController` and set your custom view:

[code]

This should make the menu items appear above the paging views. Let me know if this is working for you!

[2017-02-02 21:34] IVANKRUPSKI opened #25 "Different width for a selected cell"
Do you think it's possible to have different width for a selected cell?

And update it (width) dynamically (with animation) moving from current to the next cell.

[2017-02-03 08:31] rechsteiner commented on #25
This isn't possible at the moment, but it shouldn't be that difficult to get this working. We probably need to add some `progress` value to the `widthForPagingItem pagingItem:` delegate method, so that we can return different a width based on how far you've scrolled.

[2017-02-03 14:02] IVANKRUPSKI commented on #24
Worked well. Thank you!

[2017-02-03 14:02] #24 closed

[2017-02-03 16:58] IVANKRUPSKI commented on #25
Ok. Understood.

Would be great to have it in the next update.
Thank you!

[2017-02-03 22:38] IVANKRUPSKI opened #26 "Occasionally doesn't recognise swipe when swiping rapidly many controllers from one to another, one direction."
Occasionally doesn't recognise swipe when swiping rapidly many controllers from one to another, one direction.

It's just for some parts of a second.

But when you want to swipe rapidly many screens that might be annoying.

[2017-02-09 16:36] rechsteiner commented on #26
Looks like there is an issue with the `EMPageViewController` library I'm using. If you swipe very fast it doesn't seem to recognize some of the swipes. I'm planning to place that library with a custom implementation, but it might take a while before that's ready.

[2017-02-09 17:56] IVANKRUPSKI commented on #26
Got it. Thanks for the answer!

Looking forward for the update.

2017-02-09 17:36 GMT+01:00 Martin Rechsteiner <notifications@github.com>:

[2017-02-19 04:12] kmyn opened #28 "Load controllers from storyboard"
Hi,

Is it possible for loading view controllers from the storyboard rather? i.e., each tab would be a viewcontroller from the storyboard. If so, can you provide an example?

Thanks,
Karthik

[2017-02-19 15:07] rechsteiner commented on #28
Yes, you need to load each view controller using `instantiateViewController:` on the storyboard and then manually setup a `PagingViewController`. Here's an example:

[code]

I will look into other ways of setting up a PagingViewController directly in the storyboard in the future. I've added a `StoryboardExample` to the project that you can check out if you want to see how the setup looks like in t

[2017-02-19 19:58] kmyn commented on #28
@rechsteiner thanks for the quick response and the example.

I tried the above code (StoryboardExample) it works fine as is. So, I tried extending it a bit by adding a class (swift file) to one of the controllers (FirstViewController) as below:

`
import UIKit

class FirstViewController: UIViewController {

    override func viewDidLoad() {
        super.viewDidLoad()

        print("In first VC")

[2017-02-19 20:19] rechsteiner commented on #28
Yeah, you need to set class type for that view controller. You can just select the view controller in the storyboard and then set the `Custom Class` property to be `FirstViewController` like this:

<img width="280" alt="screen shot 2017-02-19 at 21 14 53" src="https://cloud.githubusercontent.com/assets/1238984/23106128/f905d158-f6e8-11e6-8ce0-0d1e381ba7a3.png">

[2017-02-20 02:44] kmyn commented on #28
I did set the class. The issue seems to be with the compiler. It worked perfectly after I ran it after a clean build.  Thanks again for the quick response and the example.

[2017-02-20 02:44] #28 closed

[2017-02-20 08:21] rechsteiner commented on #15
Turns out adding scrolling to the menu items was much more complicated than I originally thought. I'm getting quite close, but there is still a bunch of small issues I need to fix. I'm just going to close this in order to clean up the issues a bit, but I will let you know in #19 when it's ready ✌️

[2017-02-20 08:21] #15 closed

[2017-03-08 20:36] Rhodesyork opened #40 "Background Color Attribute Not Working"
The backgroundColor attribute under the PagingTheme does not seem to be working when I change it through my structure, it remains white.
![screen shot 2017-03-08 at 20 34 07](https://cloud.githubusercontent.com/assets/17065930/23722869/ebd26114-043e-11e7-971c-b51b52b71b14.png)

[2017-03-10 09:37] rechsteiner commented on #40
Yeah, sorry about that. I've forgotten to actually handle that option. Will push a fix this weekend 🙌

[2017-03-11 18:12] Rhodesyork commented on #40
Thanks a lot, awersome project by the way! 👏🏻

[2017-03-12 13:58] rechsteiner commented on #40
Thanks! Fixed in #41. Releasing a new version `v0.3.0` now 👍

[2017-03-12 13:58] #40 closed

[2017-03-23 12:29] IVANKRUPSKI opened #43 "Menu items (at least in the IconsExample) appear with slight delay when segue -> present modally"
![ezgif-1-305e6aaf58](https://cloud.githubusercontent.com/assets/16180201/24247627/beddd1d6-0fcc-11e7-8358-c3c9c4f12371.gif)

[2017-04-01 18:53] AYastrebov opened #44 "[Question] track current selected viewController"
Hello @rechsteiner !

Is there a way to track the index of currently selected viewController, when using `FixedPagingViewController `?

[2017-05-02 18:05] IVANKRUPSKI commented on #43
Hey there!
No ideas so far why this happens? I would really appreciate your help.

[2017-05-02 21:18] rechsteiner commented on #43
Hi! Sorry for the late response 🙌 This is probably happening because I'm calculating the menu items in `viewDidAppear`, which is trigged too late and causes that delay you're seeing. I'm pretty sure it should work to just move the rendring into `viewDidLayoutSubviews`. I'll take a look at tomorrow and see if I can get a fix out ✌️

[2017-05-03 17:30] IVANKRUPSKI commented on #43
Thank you!

[2017-05-03 20:43] rechsteiner commented on #44
Hi! It's currently not possible, but I will add this to the next release. I'm planning on adding a delegate that looks like this:

[code]

[2017-05-04 20:39] rechsteiner commented on #43
Should be fixed in #45

[2017-05-04 20:39] #43 closed

[2017-05-04 20:59] rechsteiner commented on #44
Added in #46. This lets you set a `FixedPagingViewControllerDelegate` on the `itemDelegate` property, which gives you a `ViewControllerItem` struct that contains the selected view controller ✌️

[2017-05-04 20:59] #44 closed

[2017-05-07 10:27] IVANKRUPSKI commented on #43
Yes, it's fixed.
Thank you, much appreciated.

[2017-06-26 06:40] IVANKRUPSKI commented on #19
Hey, Martin!

Hope you are Ok. Any plans to finalise proper scrolling in the menu items header?

I applied temporarily, as you recommended,
pagingViewController.collectionView.isScrollEnabled = true
pagingViewController.collectionView.showsHorizontalScrollIndicator = false

But, as you wrote here, there is a bug when there are too many items in the menu, which sometimes is the case with our app.
!

[2017-07-04 21:42] rechsteiner commented on #19
Hey! Sorry that this is taking so long–I kinda got stuck on some tricky edge-cases. I plan to spend some more time on this during the next couple of weeks, so hopefully I'll get this done pretty soon 🙌

[2017-07-05 23:51] IVANKRUPSKI commented on #19
Great! Thanks!

[2017-08-19 19:09] rechsteiner commented on #19
Hey!  Getting very close to releasing this now ✌️You can check out the `scrolling` branch if you want to try it out right now. You should be able to point both carthage and CocoaPods to a specific branch from your project. Let me know if you need any help with that.

I had to make quite a lot of changes to get this working properly, and there are some breaking changes in this release. If you're us

[2017-08-20 17:41] rechsteiner commented on #19
Fixed the issue with the width delegate, so it should be ready to use now. Need to do a bit more testing before releasing the new version, but it looks like everything should be working fine now ✌️

[2017-08-22 18:21] rechsteiner commented on #19
New version is released now!

[2017-08-22 18:21] #19 closed

[2017-08-22 18:37] IVANKRUPSKI commented on #19
Thanks you, Martin!

Very much appreciated. We'll upgrade to new release shortly, and let you know if any.

[2017-09-18 08:44] tungdx opened #51 "deinit() of ViewControllers inside FixedPagingViewController is never called"
Hello, thanks for creating an awesome library!

In my app, I have a ViewController (let's call: A) that contains FixedPagingViewController that is initialized with 2 viewcontrollers (X & Y). As I just tested, when A is popped off, the function deinit() in X & Y is not called at all. I think if it might lead to a leak memory issue.

[2017-09-18 08:56] tungdx commented on #51
Sorry, it's my mistake. There is a memory leak in X & Y. After I fixed it, this issue won't happen anymore.

[2017-09-18 08:56] #51 closed

[2017-09-21 10:31] miguelalvescosta commented on #25
Hi, and if possible different background menu color on each menu tab?

[2017-09-21 11:00] rechsteiner commented on #25
@miguelalvescosta could you open a separate issue with a bit more details on what you're trying to achieve? Do you want the background color to change based on which item is selected or do you want each cell to always have a specific color? Both should be possible with the current version 🙂

[2017-09-21 12:10] miguelalvescosta opened #52 "Background color"
i want the background color to change based on which item is selected

[2017-09-21 12:45] rechsteiner commented on #52
There is no built in option for defining this, but you can achieve it pretty easily by subclassing `PagingCell` and setting the background color based on the selected state. Just create your own subclass and override `setPagingItem`:

[code]

Then set the `menuItemClass` property to `CustomPagingCell.self`:

[code]

And pass that into the `PagingViewController`:

[code]

This will set the backgrou

[2017-09-22 08:36] miguelalvescosta commented on #52
huum thanks, one more question, oh i get click on menu cell?

[2017-09-22 08:52] rechsteiner commented on #52
If you are using `FixedPagingViewController` you can use the `FixedPagingViewControllerDelegate` to get notified when an item was scrolled to:

[code]

Or if you need the actual select event you create your own subclass and override `didSelectItem`:

[code]

[2017-09-22 09:56] miguelalvescosta commented on #52
class ViewController: UIViewController {

  override func viewDidLoad() {
    super.viewDidLoad()

    // Load each of the view controllers you want to embed
    // from the storyboard.
    let storyboard = UIStoryboard(name: "Main", bundle: nil)
    let firstViewController = storyboard.instantiateViewController(withIdentifier: "FirstViewController")
    let secondViewController = storyboard.insta

[2017-09-22 10:04] rechsteiner commented on #52
You need to create a new class outside `ViewController` – like the `MyPagingViewController` snippet above – and replace this line:

[code]

with this:

[code]

[2017-09-22 10:52] miguelalvescosta commented on #52
thanks for support :)

[2017-09-22 11:37] rechsteiner commented on #52
No problem, happy to help!

[2017-09-22 11:37] #52 closed

[2017-09-25 20:25] IVANKRUPSKI opened #53 "Swift 4 migration"
Hello Martin,

Any plans for swift 4.
Even though Swift 3.x and Swift 4 are interchangeable, it would be great if there were a Swift 4 version!

Thank you! 😄

[2017-09-25 21:44] rechsteiner commented on #53
Hey! Just merged an upgrade to Swift 4: #54 . Releasing a new version now ✌️

[2017-09-25 21:59] IVANKRUPSKI commented on #53
Great! Thanks!

[2017-09-25 21:59] rechsteiner commented on #53
New version should be out now 💫

[2017-09-25 21:59] #53 closed

[2017-09-26 12:34] AdAvAn opened #58 "Memory leak"
**If you build  Parchment (r.0.5.0)  with the "leak checker" tool, you can see a memory leak, if I'm not mistaken, the method is:**

` override open func layoutAttributesForElements (in rect: CGRect) -> [UICollectionViewLayoutAttributes]? {}`

![screenshot at sep 26 15-13-36](https://user-images.githubusercontent.com/13752342/30859662-4d044ce0-a2cd-11e7-925e-79b6469c88d8.png)

### I may be wrong,

[2017-09-26 18:32] rechsteiner commented on #58
Hi! I don’t see how that would cause a memory leak. I’m struggling to produce a memory leak at all, but I will investigate a bit more 👍

[2017-09-26 20:54] helloimtony opened #59 "Paging menu items are not centered initially"
I initialized a FixedPagingViewController with two controllers, both with icons. I setup everything inside of viewDidLoad but then I noticed that they are not centered correctly. They only are properly centered after clicking on the other icon or swiping to the other tab. Is this possible a bug? or am I just using it incorrectly

**How it looks Initially**
<img width="272" alt="screen shot 2017-09

[2017-09-26 21:25] rechsteiner commented on #59
Hmm, seems to work just fine here. What options are you using?

[2017-09-26 21:34] helloimtony commented on #59
here's my options

[code]

here's how I use it

[code]

[2017-09-26 21:49] rechsteiner commented on #59
Weird, just tried it out with exactly those options and it still works. Which version of Parchment and iOS are you using?

[2017-09-26 22:05] helloimtony commented on #59
iOS 11 and i'm using the latest version. Could it be because I'm possibly using a custom tab bar controller ? where the first tab is pretty much this paging menu controller? It seems to be working when I switch to another tab (i have other tabs that are using this library, they seem to be working but not on the first tab).

[2017-09-26 22:22] rechsteiner commented on #59
Just tried to wrap this in a `UITabBarController`, but it still works just fine. Are you doing anything else that might affect how the view is displayed?

[2017-09-26 22:28] helloimtony commented on #59
Unfortunately no, that's the entire code pretty much that I posted (aside from the custom tab bar). All I do is initialize the the paging menu controller and in the child view controllers they have zero logic in them at all. Basically just a view with text in the middle.

[2017-09-26 22:48] rechsteiner commented on #59
Sure, that might be helpful

[2017-09-27 14:30] helloimtony commented on #59
Thanks for the quick replies, here's my code below for the custom tab bar maybe it is the cause of all of it, however, i'm not sure why.
[code]

i left out some small bits of code, but nothing related to changing views

[2017-09-27 15:19] rechsteiner commented on #59
When you call `didPressTab:` from `viewDidLoad` the `contentView` bounds will be `.zero`.  Could it have something to do with the frame not being configured correctly? Are you setting the frame somewhere else as well?

[2017-09-27 16:03] helloimtony commented on #59
That might be it, I tried moving the call to `didPressTab` to `viewDidAppear` instead and the tabs were centered correctly but I can't put it in viewDidAppear because then they views inside that need to draw themselves will be drawn late and the user will see it being transitioned from incorrect to correct. Not sure what's the best solution here, what do you recommend? Thanks!

[2017-09-27 17:46] rechsteiner commented on #59
I would try to constrain the view using auto layout. That way the frame will be correct when the view appears, and it will also support transitioning to other sizes. Another option is to store the currently visible view as a property and set the frame in `viewWillLayoutSubviews`.

[2017-09-27 19:30] helloimtony commented on #59
I decided to constrain it to the edges instead like you said, seems to have worked but now for some reason the first page in the Parch page controller frame seems to be wrong and only seems to be correct when I leave the page and come back. I printed out the frame of the page in `viewDidAppear` to ensure that I was properly getting the frame and I got `(750.0, 0.0, 375.0, 667.0)` and then after I

[2017-09-27 20:22] rechsteiner commented on #59
Is it one of the views inside `FixedPagingViewController` or `pagingMenuVC.view` that has the wrong frame? And are the initial menu items layout out correctly now?

You can select other items by calling `selectPagingItem:` with the item that you want to select. The items are available in the `items` property on `FixedPagingViewController`. Let's say you want to select the last one you could do:

[

[2017-09-27 20:27] helloimtony commented on #59
One of the views inside of `FixedPagingViewController` to be more specific here is my code once again that shows how I initialize

[code]

inside of `PresetsViewController` I print out the frame in `viewDidAppear` and the frame is incorrect initially

also thanks for the code for switching to another item! Appreciate it a lot

[2017-09-27 20:44] rechsteiner commented on #59
Hmm, that's odd. Is the view for `pagingMenuVC.view` correct?

[2017-09-27 20:49] helloimtony commented on #59
Not sure, how would I go about making sure that it's correct?

[2017-09-27 20:54] rechsteiner commented on #59
You can just print out `pagingMenuVC.view.frame` like you did with the other views. Just curious to see if the `FixedPagingViewController` itself is displayed correctly.

[2017-09-27 21:07] helloimtony commented on #59
I printed out the frame in `viewDidAppear` in the view controller I initialized it in and I got `(0.0, 0.0, 375.0, 553.0)` it seems to be correct. the `viewDidAppear` for `PresetsViewController` runs before the `viewDidAppear` where I print out the frames of `pagingMenuVC`. Not sure if that helps or not

[2017-09-28 10:32] Blaze349 opened #61 "UIFont has no member weight"
<img width="270" alt="screen shot 2017-09-28 at 8 01 14 pm" src="https://user-images.githubusercontent.com/16263611/30962146-d7955794-a487-11e7-9de0-568f55a5fa85.png">
It is strange because it still exists in the UIKit documentation. I've tried using it in  Playground but it refuses to work.

[2017-09-28 10:41] rechsteiner commented on #61
This was changed when updating to Swift 4. Are you using the latest version of Xcode?

[2017-09-28 10:42] Blaze349 commented on #61
I believe so.

[2017-09-28 10:42] Blaze349 commented on #61
I'm reinstalling Xcode at the moment

[2017-09-28 12:12] rechsteiner commented on #61
Okay, let me know if that fixes it!

[2017-09-28 21:07] rechsteiner commented on #61
Did you manage to get it working?

[2017-09-28 22:03] Blaze349 commented on #61
Parchment successfully compiles now

[2017-09-28 22:44] rechsteiner commented on #61
Awesome 👌

[2017-09-28 22:44] #61 closed

[2017-09-29 07:51] Blaze349 opened #62 "Parchment does not work with navigation bars"
I'm sorry to bother you yet again but I found this problem.
I had a viewcontroller embed in a uinavigationcontroller and in a uitabbarcontroller.

I compiled the example project you listed and it worked. Then I embed it within a navigation bar but it becomes hidden under the bar. I'm confused because your examples render it correctly.

<img width="414" alt="screen shot 2017-09-29 at 5 21 25 pm" sr

[2017-09-29 13:56] miguelalvescosta commented on #52
hi, its me again..... can u explain me "If you are using FixedPagingViewController you can use the FixedPagingViewControllerDelegate to get notified when an item was scrolled to", i dnt know who to use delegate :/..

[2017-09-29 15:11] rechsteiner commented on #52
No worries, the documentation for this isn't very good. You need to conform to the `FixedPagingViewControllerDelegate` protocol in you `ViewController` class. Here an example:

[code]

Then set the `itemDelegate` property in `viewDidLoad`:

[code]

[2017-09-29 15:21] rechsteiner commented on #62
Hi! The default behaviour on iOS is that the content appear underneath the navigation bar. You can set `edgesForExtendedLayout = []` in your view controller to prevent this, or if you're using Storyboard you can disable the `Extend edges: Under Top Bars` option. With iOS 11, you can constrain the view to the `safeAreaLayoutGuide` instead, which is recommended by Apple:

https://developer.apple.com

[2017-09-29 15:25] rechsteiner commented on #59
Sorry, I'm struggling to get this reproduced and it's not really obvious to me what would cause this. Are you doing anything inside `PresetsViewController`?

[2017-09-29 21:29] Blaze349 commented on #62
Thank you so much. I won't bother you anymore. :)

[2017-09-29 21:29] #62 closed

[2017-09-30 07:46] Blaze349 commented on #62
My actual solution to the problem was to manually constrain the childViewController below the statusBar and navBar. This retained the translucent effect

[2017-10-02 22:24] TonyPNguyen commented on #59
I was finally able to fix it. I initialized it in `viewWillLayoutSubviews` instead of `viewDidLoad` and `viewDidAppear`. It's working perfectly now in iOS11 but for some reason it's not working in iOS9. It's having the same sort of effect. (will be testing it in iOS10 shortly)

[2017-10-03 10:14] miguelalvescosta commented on #52
hi, i think i found a bug, in fixedPageViewController u have :
  open override func em_pageViewController(_ pageViewController: EMPageViewController, didFinishScrollingFrom startingViewController: UIViewController?, destinationViewController: UIViewController, transitionSuccessful: Bool) {
    super.em_pageViewController(pageViewController, didFinishScrollingFrom: startingViewController, destinati

[2017-10-03 20:26] rechsteiner commented on #52
Yeah, that's definitely a bug. I also found another bug were the `willScrollItemItem` was not called at all. Fixed in #63 – will release a new version soon. Thanks for catching that 🙌

[2017-10-04 13:37] miguelalvescosta commented on #52
u welcome :)

[2017-10-04 14:22] miguelalvescosta opened #64 "(Question) swipe menu with button"
its possible navigate to next menu tab with button in storyboard?

[2017-10-04 19:55] rechsteiner commented on #64
Yes, you can change to another item using `selectPagingItem`. You can get the item you want to select from the `items` property on `FixedPagingViewController`. Let's say you want to select the second item in the list you could do something like this:

[code]

If you always want to select the next item, you have to manually keep track of the current index and select the upcoming item based on that.

[2017-10-08 09:04] Omarbasaleh opened #65 "Load viewcontroller at specific index ?"
How Load viewcontroller at specific index ?
ex: load 3rd viewcontroller in viewdidload

[2017-10-08 13:40] rechsteiner commented on #65
You can select other items by using `selectPagingItem:`. There is a property on `FixedPagingViewController` that contains all the items and you can use this to select the one you want. So if you want to select the third view controller you can do something like this:

[code]

[2017-10-09 15:29] rechsteiner commented on #65
@Omarbasaleh did you manage to get it working?

[2017-10-09 15:29] rechsteiner commented on #64
Did you get it working?

[2017-10-10 08:13] miguelalvescosta commented on #64
yes, ty for support :)

[2017-10-10 09:41] #64 closed

[2017-10-15 23:05] IVANKRUPSKI commented on #58
Hey Martin!

Have you found this bug?

[2017-10-17 08:43] miguelalvescosta opened #66 "Swipe in last item bug"
Hi :),
i think i found a bug, example: if u are in the last menu item on the left or right and swipe to left or right, after swipe u cant select menu items

[2017-10-17 10:11] rechsteiner commented on #66
Hey! This was supposed to be fixed in [v0.6.0](https://github.com/rechsteiner/Parchment/releases/tag/v0.6.0). Which version are you using?

[2017-10-17 14:07] miguelalvescosta commented on #66
oh ok, thanks :). is good now

[2017-10-17 15:34] #66 closed

[2017-10-17 22:06] rechsteiner commented on #65
Closing this, but feel free to ask any questions if you can't get it working ✌️

[2017-10-17 22:06] #65 closed

[2017-10-17 22:11] rechsteiner commented on #58
Hey! I still haven't been able to re-produce it. Are you seeing the same in your project?

@AdAvAn are you getting the same results every time you run the Leaks debugger, or do you have any other ways of re-reproducing it?

[2017-10-17 22:57] AdAvAn commented on #58
To reproduce the leak, I use your sample code example. I download it from the link https://github.com/rechsteiner/Parchment/archive/v0.5.0.zip.
I make a choice of an example, then I press "Command + I", I select "Leaks".

<img width="434" alt="screenshot at oct 18 01-49-10" src="https://user-images.githubusercontent.com/13752342/31693484-8bff545e-b3a7-11e7-82f3-0a864dfcbf84.png">

<img width="596"

[2017-10-19 16:43] miguelalvescosta opened #69 "[Question] width menu"
hi, is possible modify menu width? for not to occupy the whole screen?

[2017-10-19 16:51] rechsteiner commented on #69
Hi! Yeah, that should be possible, but it depends a bit on what your trying to achieve. Do you want to just inset the menu items, or do you want to change the actual frame of the menu view?

[2017-10-19 16:52] miguelalvescosta commented on #69
i need modify width the frame of menu view if possible

[2017-10-19 17:02] rechsteiner commented on #69
Okay, that's not a problem. The menu view is setup using auto-layout, so you need to create your own subclass of `PagingView` and override those constraints. Here an example:

[code]

Then you need to subclass `FixedPagingViewController` and tell it to use your custom view:

[code]

[2017-10-19 17:42] miguelalvescosta commented on #69
thank you for help again :)

[2017-10-19 18:05] rechsteiner commented on #69
No problem 🙂

[2017-10-19 18:05] #69 closed

[2017-10-25 13:49] miguelalvescosta commented on #64
Hi again, i have 2 controller one for my storyboard and another too my menu, how i can access to my menu to change page in my viewcontroller associate to my storyboard? is possible?

[2017-10-25 20:43] miguelalvescosta commented on #64
hum, i think i found a solution, with delegate created at my viewcontroller menu. is a good solution?

[2017-11-01 10:09] JeromeCHA opened #70 "min iOS version"
I was wondering, why does this pod min iOS version is 8.2? I think 8.0 should be fine.
If it is possible, to have the min iOS version set to 8.0 please?

[2017-11-02 16:39] AdAvAn opened #71 "Is it possible to change access for the method"
Is it possible to do an **open** method:
 
`public func em_pageViewController (_ pageViewController: EMPageViewController, willStartScrollingFrom startingViewController: UIViewController, destinationViewController: UIViewController) {}`

I would like to use his heirs class PaguingViivcontroller.

Many thanks.

[2017-11-07 21:05] rechsteiner commented on #71
Hi! Not sure why that wasn't `open` like the other ones. Fixed in #72 and released in v0.7.0 👍

[2017-11-07 21:05] #71 closed

[2017-11-07 21:12] rechsteiner commented on #70
Hi!

It was done because of a bug in `UICollectionView` that got fixed in version 8.2. I can't remember exactly what the bug was, but it would require some work to reliably change to min version to 8.0. According to [this](https://david-smith.org/iosversionstats/) the usage percentage for 8.x is just 0.9%, so I'm tempted to just leave this as it is.

[2017-11-07 21:12] #70 closed

[2017-11-07 21:33] rechsteiner commented on #58
I’ve been looking some more into this and I really can’t find the any memory leaks. Have you managed to get the same results when profiling against an actual device? The simulator doesn’t behave in the same way as real devices as they run on completely different hardware.

[2017-11-07 21:39] rechsteiner commented on #59
Hi! Sorry for the late response. Are you still seeing the bug with iOS 9? If that's the case, are you able to create a minimal bug report that re-reproduces the issue?

[2017-11-08 02:00] IVANKRUPSKI opened #74 "buggy scrolling in pageViewController on iOS 11 / iPhone X"
There is a buggy scrolling in pageViewController on iOS 11 / iPhone X. It scrolls in all directions.
Don't know why but this bug is present on all our devices with our project, and only on iPhone X with your example (icon Example)

![simulator screen shot - iphone x - 2017-11-08 at 02 52 34](https://user-images.githubusercontent.com/16180201/32527902-7a1b88a4-c430-11e7-9f5a-b55e302e9e0c.png)

Appa

[2017-11-09 08:45] rechsteiner commented on #74
Hi! Looks like an issue with the new `safeAreaInsets`. Setting `contentInsetAdjustmentBehavior = .never` seems to fix the issue, but according to [this](https://twitter.com/smileyborg/status/910656113653116928) it's probably best to avoid using that with scroll views. Need to do a bit more testing to figure out if that's actually an issue here though.

[2017-11-10 15:57] miguelalvescosta opened #75 "[Question]"
Hi, is possible remove click on menu item?

[2017-11-12 13:33] rechsteiner commented on #75
Hi! Yes, you can just set `pagingViewController.collectionView.isUserInteractionEnabled = false`

[2017-11-12 15:11] bozo4 opened #76 "Error"
why i got this error ?

`ld: warning: ignoring file /Users/bozo/Desktop/*****/Parchment.framework/Parchment, file was built for x86_64 which is not the architecture being linked (arm64): /Users/bozo/Desktop/*****/Parchment.framework/Parchment
ld: '/Users/bozo/Library/Developer/Xcode/DerivedData/*****-dhuanbzszeeilpdafoqmheorglne/Build/Products/Debug-iphoneos/Nimble/Nimble.framework/Nimble' does no

[2017-11-14 07:42] mkelowna commented on #65
I am using the following code to try and select a view controller - but its data structure is empty in

        let controllers = viewcontrollers(from: pagingItems)
        pagingViewController =  FixedPagingViewController(viewControllers: controllers, options:    CustomOptions())
       addChildViewController(pagingViewController!)
        viewHolder.addSubview((pagingViewController?.view)!)

[2017-11-17 07:12] mkelowna opened #77 "Loading Current Controller not updating"
I am using the following code to try and select a view controller - but its data structure is empty in

        let controllers = viewcontrollers(from: pagingItems)
        pagingViewController =  FixedPagingViewController(viewControllers: controllers, options:    CustomOptions())
       addChildViewController(pagingViewController!)
        viewHolder.addSubview((pagingViewController?.view)!)

[2017-11-17 16:47] AdAvAn commented on #58
OK, I will check on the real device.

[2017-11-18 10:11] fatosdagdevir commented on #77
I found a temporary solution for this problem.
It works in viewDidAppear.

 override func viewDidAppear(_ animated: Bool) {     pagingViewController.selectPagingItem(pagingViewController.items[2], animated: true)
    }

[2017-11-18 22:48] rechsteiner commented on #77
Looks like there was a bug when selecting items before the view had appeared. Should be fixed in #79. Thanks for catching that!

[2017-11-18 22:48] #77 closed

[2017-11-18 22:48] #75 closed

[2017-11-18 22:52] rechsteiner commented on #59
Closing this for now, but feel free to open if you're able to reproduce this!

[2017-11-18 22:52] #59 closed

[2017-11-18 22:53] rechsteiner commented on #76
Hi! When are you getting this error? If you're trying to run the test suite you have to install the dependencies using `carthage bootstrap`.

[2017-11-18 23:03] rechsteiner opened #80 "Add custom page view implementation"
We're currently using [`EMPageViewController`](https://github.com/emalyak/EMPageViewController) as a replacement for `UIPageViewController`, as it’s more predictable and provides us with much better delegate methods at every step.

Ideally, we would replace this library with our own custom implementation to have even more fined grained control. This would also fix an issue with `EMPageViewControll

[2017-11-18 23:05] rechsteiner commented on #26
Closing in favour of this #80. It's quite hard to create a page view controller that works really well, so it might take while before this is ready.

[2017-11-18 23:05] #26 closed

[2017-11-19 15:50] #74 closed

[2017-11-19 15:51] rechsteiner commented on #74
Seems to be working fine with `contentInsetAdjustmentBehavior = .never`. Will release a new version soon. Thanks for catching this!

[2017-11-19 15:55] IVANKRUPSKI commented on #74
Ok. Welcome!

[2017-11-20 18:27] AdAvAn commented on #58
I did a test on a real device using iOS 11 and Parchment v0.7.0.
Yes, I do not see a memory leak, maybe the problem was in v.0.5.0.
This is no longer relevant.
Thank you!

[2017-11-20 18:27] #58 closed

[2017-11-20 18:31] rechsteiner commented on #58
Awesome, thanks for checking!

[2017-11-22 05:01] mkelowna opened #83 "willScrollToItem delegate method is not getting called."
`open class PagingViewController<T: PagingItem>:`

is not declaring the optional function

        @objc  optional func em_pageViewController(_ pageViewController: EMPageViewController, willStartScrollingFrom startingViewController: UIViewController, destinationViewController:UIViewController)

Which require overriding the function in FixedPagingViewController:

    open override func em_pageViewC

[2017-11-22 07:07] mkelowna opened #84 "FixedPagingViewControllerDelegate does not recognize an aborted scroll"
Currently FixedPagingViewControllerDelegate does not recognize an aborted scroll. Running the code as noted below increments the index even when a scroll is not completed.

    extension UIViewController: FixedPagingViewControllerDelegate{
    func fixedPagingViewController(fixedPagingViewController: FixedPagingViewController, willScrollToItem: ViewControllerItem, atIndex index: Int) {
        pri

[2017-11-22 20:22] rechsteiner commented on #83
Which version are you using? This should be fixed in #63 which was released in v0.7.0.

[2017-11-22 20:23] rechsteiner commented on #84
This should also be fixed in v0.7.0 👍

[2017-11-25 15:15] rechsteiner commented on #25
Finally got this working now!

The `widthForPagingItem` delegate method now has a `isSelected` argument that you can use to return a different width for the selected cell. You can check out the `DelegateExample` target for more details. Here's the PR: #85

And sorry for taking so long – it turned out to be much harder than I originally thought.  Will release a new version pretty soon ✌️

[2017-11-25 15:15] #25 closed

[2017-11-25 17:40] IVANKRUPSKI commented on #25
Cool!
Looking forward to seeing that working.

[2017-11-27 00:48] atlcodecommandr opened #86 "Parent controller data"
Is there a way to get access to the parent controller from the containerView?

[2017-11-27 12:39] IVANKRUPSKI opened #87 "Scrolling bug in the pagingViewController (IconsExample) when applying different width for selected cell in IconsExample"
Hey,

I have tried to set up different width for selected cell in IconsExample, wIth selected 60pt and not selected 80pt.

When I slide from controller to controller, relatively fast, pagingViewController on the top occasionally jumps from icon to icon without scrolling animation.

I have added

this
[code]

and this

[code]

 to the IconsExample ViewController. Did I miss anything? Was that corre

[2017-12-08 21:26] IVANKRUPSKI opened #88 "Is possible to have paging cell respond to touches for animation (touchesBegan, touchesEnded, ...)?"

[2017-12-11 16:52] rechsteiner commented on #76
Closing this, but let me know if you still need any help!

[2017-12-11 16:52] #76 closed

[2017-12-11 16:52] #83 closed

[2017-12-11 16:52] #84 closed

[2017-12-11 16:53] rechsteiner commented on #86
Hi! Sorry, I completely missed this one. Could you explain a bit more what you're trying to achieve? Not sure if I understand what you're trying to do

[2017-12-11 16:56] rechsteiner commented on #87
Yeah, that's correct. I get same bug here as well. Not sure what could be causing that, but I'll try to get that fixed pretty soon 👍

[2017-12-11 17:08] rechsteiner commented on #88
I'm not really sure, but I don't think that's possible. What are you trying to achieve?

[2017-12-11 17:30] IVANKRUPSKI commented on #88
I am trying to achieve some touchDown, touchUp animation of text/ icon when touching the cell.

[2017-12-11 22:02] rechsteiner commented on #88
Ah okay. If you create you're own `PagingCell` subclass, you can override the `isHighlighted` property which will be set whenever the cell is being pressed. Here's an example:

[code]

Does that work for you?

[2017-12-12 17:27] IVANKRUPSKI commented on #88
Cool!
It does work. Thanks!

[2017-12-12 17:27] #88 closed

[2017-12-13 15:37] TonyPNguyen opened #89 "Is it possible to limit switching between tabs only through the menu items?"
in other words, users can only switch between pagesthrough clicking on the tabs and not being able to switch in any other way (athough only other way I know right now is swiping between the pages themselves)

[2017-12-13 16:16] rechsteiner commented on #89
Hi! Yes, you can disable user interaction on the page view controller like this:

[code]

[2017-12-13 16:25] TonyPNguyen commented on #89
It works but the view controller it's showing can't interact with the user anymore. Any ideas what I could do?

[2017-12-13 16:31] rechsteiner commented on #89
Oh yeah that's true. Disabling scrolling on the scroll view should work:

[code]

[2017-12-13 16:58] TonyPNguyen commented on #89
works like a charm! thanks for the speedy reply as always

[2017-12-13 17:06] rechsteiner commented on #89
No problem 🙂

[2017-12-13 17:06] #89 closed

[2017-12-18 10:40] phanvandinh opened #90 "hi all!"

[2017-12-18 10:41] phanvandinh opened #91 "hi, i have a problem with lib, please help me"

[2017-12-18 10:42] phanvandinh opened #92 "Reload Cell in Collectionview"
hi, i have a problem with lib, please help me, how to reload collectionView in pagingView? i try call pagingViewController.collectionView.reloadData() but not work.

[2017-12-18 12:08] rechsteiner commented on #92
Hi! That should work just fine. Just tested using the Example target and it works as expected. Are you sure it’s acutally being called?

[2017-12-18 12:09] #91 closed

[2017-12-18 12:09] #90 closed

[2017-12-19 04:05] phanvandinh commented on #92
yes, setPagingItem method have call from PagingCell, sorry i mistake.
i have class extend PagingViewControllerDataSource, i have to try change [pagingItem] model with new Values([PagingItem] = getNewArrayPagingItem()) and call pagingViewController.collectionView.reloadData() but pagingItem still have old values in method setPagingItem, please tell me how to update dataSource [pagingItem]

[2017-12-23 08:46] qiaqiaxian opened #93 "Menu on navigationbar"
Hi,i want to add menu on navigationbar , how to work it out.
Or Parchment can't do it like that?
I'll be waiting for your reply.

[2017-12-23 12:09] rechsteiner commented on #92
Sorry, looks like this isn't actually possible with the current version. I added another method called `reloadData(around:)` in #94 that you can use to trigger a reload. Could you try this out and let me know if this works for you? I will release a new version soon, but you can also target the master branch directly if you want to use it right away.

[2017-12-23 12:22] rechsteiner commented on #93
Yeah this is definitely possible!

You basically need to move the `collectionView` into the navigation bar by setting the `titleView` property on the `navigationItem`, like this:

[code]

Then you need to set the frame of the title view. For example, if you always want it to be the same size as the navigation bar:

[code]

You also need to update constraints of the `PagingView`, as the default imp

[2017-12-23 12:24] rechsteiner commented on #86
Closing this now, but feel free to open if you're still having issues with this.

[2017-12-23 12:24] #86 closed

[2017-12-23 22:37] qiaqiaxian commented on #93
Thanks! It's very helpful.
I've solved my problem.
Thank you again.

[2017-12-24 02:12] #93 closed

[2017-12-25 14:50] rechsteiner commented on #87
I suspect this might have something to do with a bug I just fixed in #96, but I'm not 100% sure. At least I'm not able to reproduce the jumping after that fix. Could try out the latest master branch and see if you're still seeing this?

[2017-12-26 08:05] phanvandinh commented on #92
hi, thank your very much, method that ready woking for me.

[2017-12-26 10:36] #92 closed

[2017-12-27 09:28] IVANKRUPSKI commented on #87
Unfortunately, bug is still there. I have 12 icons each 40 points in width, selected icon is 60 points in width.
I scroll the content controller one by one and selected paging menu item changes one by one, and when it reaches the middle, menu should scroll itself a bit, but it's slightly delayed and here is the flicker.

[2017-12-27 11:25] IVANKRUPSKI commented on #87
But you are right, there is no longer bug in your IconExample.
I will investigate why it is still there in our project.

[2017-12-27 13:24] IVANKRUPSKI commented on #87
Ok, I have noticed that it has definitely become better, however this flickering behavior is still there.
And the heavier the content controllers the buggier the behavior.

In your IconExample content controllers are empty, so you will hardly see any flicker.

In our case we have 12 collectionViews with hundreds of cells in each, so this does have an impact.
I reduced the number of cells to one pe

[2017-12-27 17:28] IVANKRUPSKI commented on #87
And in order to see this bug one should scroll controllers rather fast one by one.

[2018-01-05 16:23] rechsteiner commented on #87
Managed to figure out what was causing this; seems to be a performance issue with the way I was updating the content offset when the user is scrolling. Should be fixed it #106 ✌️

Let me know if this fixes your issue!

[2018-01-08 16:45] miguelalvescosta commented on #65
hi, pagingViewController.selectPagingItem(pagingViewControler.items[2]) dnt work on viewDidLoad()...

[2018-01-08 16:56] rechsteiner commented on #65
Hm, seems to work just fine here. Which version are you using?

[2018-01-08 16:58] mkelowna commented on #65
On Mon, Jan 8, 2018 at 8:56 AM Martin Rechsteiner <notifications@github.com>
wrote:

It does now. Thanks.

[2018-01-10 16:34] IVANKRUPSKI commented on #87
Yes, now it works smoothly. Thanks!

[2018-01-10 17:18] rechsteiner commented on #87
Awesome 👍

[2018-01-10 17:18] #87 closed

[2018-01-16 08:19] serhatsezer opened #115 "Autolayout issue"
I tried to use this library explained in the onboarding page but it gives me a auto-layout warning:

`[LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint or

[2018-01-16 14:39] rechsteiner commented on #115
Hi! I'm not able to reproduce the warning you're seeing. Could you provide a bit more details on your setup? Are you running one of the example targets? And which version of iOS and Parchment are you using?

[2018-01-16 15:12] serhatsezer commented on #115
@rechsteiner Yeah sorry I couldn't give you more detail about the error. But I didn't do any customization or adjustment. I went through readme file. I tried to add both inside custom view and view controller's view but it still gave me above layout error. I tried to investigate the error but I couldn't  do it because I have little time.

[2018-01-16 15:20] rechsteiner commented on #115
Okay, no worries. Have you added any constraints to the `PagingViewController` so that it's attached to its parent view? I realize now that the README doesn't include anything about setting up the constraints, but if you look at the Example target I'm setting up the constraint using a convenience helper like this:

[code]

[2018-01-16 18:32] rechsteiner commented on #115
Ah okay. Are you using the latest version of iOS and Parchment? Is there anything else you’re doing that might be relevant, like subclassing PagingViewController?

[2018-01-29 17:12] rechsteiner commented on #115
Are you still having issues with this?

[2018-01-29 19:02] mikehobi opened #121 "Swift Compiler Error - Installing via Cocoapods"
Hello.

I just installed this module via Cocoapods and keep getting `No such module 'Parchment'` error, when importing in my ViewController.

I also get 4 errors within the Parchment lib itself:

![screen shot 2018-01-29 at 10 59 54 am](https://user-images.githubusercontent.com/3231913/35528714-9ec4f8b8-04e3-11e8-81a5-ad54dd23674a.png)

I haven't made any changes to the files. I've cleaned out and

[2018-01-29 19:15] rechsteiner commented on #121
Hi! I was just releasing a new version, so maybe it could be related to that? I just tried setting up a new project with CocoaPods and seems to work fine. Can you try to run `pod repo update` before running `pod install` again?

[2018-01-29 19:30] mikehobi commented on #121
Ah cool. Perfect timing.

Looks like it's working, thanks!

[2018-01-29 19:30] rechsteiner commented on #121
Awesome 👌

[2018-01-29 19:30] #121 closed

[2018-01-29 19:43] mikehobi commented on #115
Back again.

I got the same auto-layout warning as @serhatsezer,

When I try to add the `view.constrainToEdges(pagingViewController.view)` bit, I get this:

![screen shot 2018-01-29 at 11 37 03 am](https://user-images.githubusercontent.com/3231913/35530534-36998d34-04e9-11e8-8d33-84e6cf80d037.png)

[2018-01-29 19:57] rechsteiner commented on #115
Oh, that's because `constraintToEdges` is not available as part of Parchment. It's only an extension that I made to use in the example targets. You can copy the extension from `UIView+constraints.swift` in the example target or setup the constraint manually with something like this:

[code]

[2018-01-29 20:14] mikehobi commented on #115
Fixed my issue 👍 , you're the best.

[2018-01-30 10:16] serhatsezer commented on #115
@rechsteiner Great. I think this library is pretty neat. Will you fix this framework its as well? or We can make a pull request for it. People who want to use this library may not see this issue.

[2018-01-30 11:09] rechsteiner commented on #115
Thanks! I still haven't been able to reproduce the issue you're seeing, but if you could provide some steps for reproducing it I can fix it right away. And feel free to open a pull-request if you already have a fix for it.

[2018-01-30 19:41] saldous opened #122 "NavigationBarExample doesn't work"
Two errors in the example project for NavigationBar:

1) Initializer for conditional binding must have Optional type, not 'UIView'
and
2) Cannot convert value of type 'Paging Options' to expected argument type 'NSCoder'

[2018-01-30 21:49] saldous opened #123 "How to programmatically select item?"
Take the storyboard example project, if I want to programmatically select the secondVC, how do I do it?

If I do:
`pagingViewController.select(index: 1)`

When I run the app, secondVC isn't shown and the top menu still shows the first one and can't navigate anymore. What am I missing?

Sorry if this is a stupid question, I just can't figure it out!

[2018-01-31 08:24] rechsteiner commented on #122
Should be fixed with #124 now. Thanks for catching that!

[2018-01-31 08:24] #122 closed

[2018-01-31 08:29] rechsteiner commented on #123
Looks like there is a bug in Parchment. For now, it should work to select items in `viewDidAppear`. Will get a fix out shortly!

[2018-01-31 21:45] rechsteiner commented on #123
Should be fixed in #125 now. Will release a new version very soon!

[2018-01-31 22:16] rechsteiner commented on #115
@serhatsezer I think I managed to get this fixed now with #125. Can you check out the `master` branch and see if you're still seeing the layout warnings? 🙏

If you're using CocoaPods you can target the master branch like this:

`pod 'Parchment', :git => 'https://github.com/rechsteiner/Parchment.git', :branch => 'master'`

Or this if you're using Carthage:

`github "rechsteiner/Parchment" "master"`

[2018-02-03 14:30] serhatsezer commented on #115
@rechsteiner Okay it is worked. But there is another problem which I face now. I implemented via pod file which you provided me. Menu items collapsed when I didn't give any title label for FixedPagingViewController. But when I rotate the device in landscape mode it works well.

<img width="296" alt="screen shot 2018-02-03 at 17 16 54" src="https://user-images.githubusercontent.com/1409961/35768090

[2018-02-03 20:21] rechsteiner commented on #115
Thanks for the detailed report! Looks like you found a bug that was introduced a while ago (#81). Should be fixed in #127! Will release a new version today ✌️

[2018-02-03 20:39] rechsteiner commented on #115
New version with both fixes is out now. Let me know if you find any other issues!

[2018-02-03 20:39] #115 closed

[2018-02-03 20:41] rechsteiner commented on #123
Just released version 1.0.1 with a fix for this. Thanks for catching that 🙌

[2018-02-03 20:41] #123 closed

[2018-02-04 15:27] serhatsezer commented on #115
@rechsteiner Great thanks. I'll use this framework for future projects. I'm also thinking to contribute to new features. Cheers!

[2018-02-04 16:12] rechsteiner commented on #115
Awesome!

[2018-02-05 15:08] DSanzh opened #129 "Highlighting when scrolling between items"
Some strange highlighting in previous and current item when scrolling?
How to remove that ?
Impementation
[code]

[2018-02-05 15:27] rechsteiner commented on #129
By default, Parchment interpolates between the `backgroundColor` and the `selectedBackgroundColor` property. In your case you can probably just set the `menuBackgroundColor` instead of the `backgroundColor`:

[code]

Does that work for you?

[2018-02-05 15:34] DSanzh commented on #129
Awesome!!!!!
Thanks for quick response)

[2018-02-05 15:34] #129 closed

[2018-02-10 23:58] saldous opened #130 "Possible to change position of the menu to bottom of screen?"
Is it possible to change the position of the menu to the bottom of the screen?

[2018-02-14 09:03] rechsteiner commented on #130
Yes! There is not built in options for that, but you can subclass `PagingView` and override `setupConstraints` like this:

[code]

[2018-02-14 13:01] saldous commented on #130
Great, thank you!

[2018-02-14 16:53] #130 closed

[2018-02-26 13:09] ahmetalsan opened #133 "How I can use it with objc?"

[2018-02-27 08:46] rechsteiner commented on #133
Hi! Sorry, Parchment only works with Swift. It relies pretty heavily on generics, so it would require a substantial rewrite to get it working for Objective-C. I don't have any plans to support objc at the moment, but I might consider that in the future.

[2018-02-27 09:24] ahmetalsan commented on #133
@rechsteiner thanks. Thank you btw. It's a great library.

[2018-02-27 10:53] rechsteiner commented on #133
Thanks 🙌

[2018-02-27 10:53] #133 closed

[2018-03-01 14:57] Narek1994 opened #134 "Delegate not working in infinite case"
Hi, i just tried to use self size logic in calendar example, I mean use approach in delegate example to have cell size fit to text, but my delegate functions dont fire.
Is it possible to have self size cells for infinite usage?

[2018-03-01 15:19] Narek1994 commented on #134
and second question, if I have a fixed data,I mean for example for 5 items, can I have an infinite logic?
becuase as I understood infinite example is really relays on infinite data, but can we achive same logic none infinite data?

[2018-03-01 22:15] rechsteiner commented on #134
Yeah, turns out there was a bug with the way I registered the size delegate. Should be fixed in #135. Will have a new release out shortly ✌️

As for the infinite behavior you’re describing it is _kind of_ possible. Items in Parchment have to be unique so you can’t rely solely on the title, but you can create a data source that subtracts or adds to an index and take the modulo of that index to get

[2018-03-01 22:35] rechsteiner commented on #134
Released v1.0.3 with the fix now!

[2018-03-02 07:25] Narek1994 commented on #134
First of all thanks for help, this is what I need.
in my case I dont have a scroll option in header, so its fully ok for me ) but I guess it would be nice to have that option.
Thanks a lot

[2018-03-02 12:13] Gargo opened #137 "Doesn't compile because of inner library error"
Added via cocoapods
Version: 0.9.x and 1.0.3
.../Pods/Parchment/Parchment/Classes/PagingOptions.swift:76:50: Type 'UIFont' has no member 'Weight'

In the same time on another pc downloaded this repo and ran examples - they work

[2018-03-02 13:58] rechsteiner commented on #137
Which version of Swift are you using?

[2018-03-02 14:00] rechsteiner commented on #134
Awesome! I'll create another issue for the looping scrolling 👍

[2018-03-02 14:00] #134 closed

[2018-03-02 14:06] Narek1994 commented on #134
Thanks, also I would suggest in this type of implementation to have an option to use already created controllers in list, I mean
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForPagingItem pagingItem: T) -> UIViewController {
        let item = pagingItem as! PagingIndexItem
        return controllers[item.index]
    }
to not create each view controlle

[2018-03-02 14:09] rechsteiner commented on #134
You could use the same approach as above where you take the modulo of the index:

[code]

[2018-03-02 14:32] Narek1994 commented on #134
Yea I have tried it, but its not working properly
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForPagingItem pagingItem: T) -> UIViewController {
        let item = pagingItem as! PagingIndexItem
        let index = item.index
        print(abs(index % cities.count))
        return controllers[abs(index % cities.count)]
    }
in this case when I am sw

[2018-03-02 15:59] rechsteiner commented on #134
The white empty view controller sounds like you are trying to navigate to the same view controller that you are currently on. I'm not sure exactly what's causing this for you, but here is an example of how you could achieve this:

[code]

Here I've replaced the titles array with just an array of view controllers and then use the `title` property for the menu items. Does that work for you?

[2018-03-02 16:38] Narek1994 commented on #134
Unfortunately no, if you try this code in that example, and change CityViewController view background color for example to black, and swipe to right, you will see that bug when it shows white screens.
I dont know how to upload recorded video here

[2018-03-02 16:43] rechsteiner commented on #134
Oh okay. I’ll take look and see if I can find a solution 👍

[2018-03-02 16:43] Narek1994 commented on #134
Its correctly working when you are swiping to left(viewing next items), and its starting to work correctly if we swipe right few items(I guess after 5 or 6 items) but when you are swiping previus 6 items it has this bug

[2018-03-02 16:43] Narek1994 commented on #134
ok Thanks a lot

[2018-03-02 18:10] Narek1994 commented on #134
I just find the way to fix this, very hacky way, just putted first selected item index to be Int.max/2 ))
the problem is with -index 0 and +index,when I put selected item to be Int.max/2 I just dont have that problem with -index))

[2018-03-02 18:18] Narek1994 commented on #134
Just wanted to know,if in this case will I have increasing memory usage? or its reuse already created viewcontrollers and cells?

[2018-03-02 18:31] rechsteiner commented on #134
Ah yeah that makes sense. There shouldn’t be any increased memory usage of that approach, so that sounds like a good solution for now. The only thing you need to think about is how many view controllers you are allocating up-front by storing it in an array. But it shouldn’t be an issue with the number of view controllers you’re having.

I’ll explore some ways of making this easier in the future 👍

[2018-03-02 18:32] Narek1994 commented on #134
great, thanks a lot

[2018-03-02 18:53] Gargo commented on #137
@rechsteiner
xcode 9.2 so the swift should be the latest. Maybe you are using beta xcode?

[2018-03-02 18:57] rechsteiner commented on #137
Hmm, no I’m also using 9.2 and Swift 4. Are you sure you are using v1.0.3? Can you try to run `pod repo update` before running `pod install` again?

[2018-03-02 19:03] Gargo commented on #137
@rechsteiner I don't sure with Swift 4 only (if it has a separate switch).

I didn't try your pod combinations. Instead I used even better ones:
[code]
The only change is it downloaded 1.0.3 instead of 0.9.x

[2018-03-02 19:15] rechsteiner commented on #137
Okay. But it still doesn’t work for you? Are you using Swift 4? Parchment only works with the latest version of Swift. You could try out v0.5.0, but it’s quite an old version.

[2018-03-03 09:10] chapayGhub opened #138 "Crash in UnplashExample sample"
<img width="939" alt="screen shot 2018-03-03 at 12 09 22" src="https://user-images.githubusercontent.com/878464/36932579-e86c2dbc-1edb-11e8-8ad4-4e05494f106a.png">

[2018-03-03 09:34] chapayGhub commented on #138
May be this is a solution

[code]

And I Found another one issue in this sample:

[code]

[2018-03-03 09:54] chapayGhub opened #139 "Can I use only "highly customizable menu"?"
In some cases I need only top part of Parchment (show only possible options and get user choice)
Is it possible?

[2018-03-03 09:56] rechsteiner commented on #138
Thanks for the report. I’ll take a look!

[2018-03-03 09:58] rechsteiner commented on #139
No, sorry this isn’t possible at the moment. But I’m planning on adding it in the next version 👍

[2018-03-03 11:57] chapayGhub commented on #139
Thank you!

[2018-03-03 11:58] #139 closed

[2018-03-03 12:43] rechsteiner commented on #138
Yeah, looks like the hashValue implementation causes an integer overflow on older devices. Added a fix for this in #140. Thanks for catching that 🙌

[2018-03-03 12:43] #138 closed

[2018-03-03 14:58] Gargo commented on #137
My mistake is I thought swift version is automatically updated with xcode

[2018-03-03 14:58] #137 closed

[2018-03-07 09:38] gerchicov-bp opened #141 "Hashable and Comparable protocols built-in into PagingItem?"
In general `PagingItem` is a bad choice for protocol name but ok. As I understand `PagingItem` can't be used without `Hashable` and `Comparable`. Why not to use inheritance between protocols?
Or you could create a proxy class which implements these methods by default (for example hash and comparison using "index").

[2018-03-07 12:21] gerchicov-bp opened #142 "Feature request: reload all data"
Currently you have only methods "reload around element". What if I need to change the source items and reload all the data (because I don't know how the items were changed)?

[2018-03-08 08:33] rechsteiner commented on #142
Hi! This is needed since Parchment supports infinitely large data sources, so we need to give it the initial item to reload the data around. If not, it doesn't know where to start. The element you pass in doesn't have to be in the menu from before, so you can for instance pass in the middle element of your updated data.

I guess we could add another `reloadData()` method that only works when using

[2018-03-08 08:54] rechsteiner commented on #141
Hi! Thanks for the feedback. There is a default implementation called `PagingIndexItem` that is used for the default behaviour that you can use if you only need to display a title.

If you need anything else you need to create your own model that conforms to `Hashable` and `Comparable`. The reason for this that we want the data for the menu items to be completely flexible and possible to use with

[2018-03-09 21:23] Gargo commented on #142
@rechsteiner hello
for example default `UITableView` has "visible elements" and reloads them only on `reloadData`.
Another strange thing is in most cases user needs to reload items around current active page. So specifying of an index may be extra

[2018-03-15 19:04] gmogames commented on #137
Doesn't UIFont.Weight only works on ios 11+ so even if using Swift 4 but targeting ios 10, it does not work @rechsteiner

[2018-03-15 19:04] gmogames commented on #137
https://developer.apple.com/documentation/uikit/uifont.weight for reference

[2018-03-15 23:15] hdmoncue opened #144 "Overlay instead of pushing childviews down"
Question - right now it would appear that Parchment pushes its children viewcontrollers down by an amount equal to the size of its height.  Is it possible to, instead of pushing those viewcontrollers down to instead overlay itself on top of the child viewcontrollers without pushing them down?

[2018-03-16 12:30] rechsteiner commented on #144
Not sure if I understand exactly what you mean. Do you mean showing the menu items overlayed on top of the view controllers?

[2018-03-16 12:52] hdmoncue commented on #144
Yes that is exactly what I’m looking to do. Ultimately I want a transparent background for the menu items so you can see the view controller underneath.

- Tharp

On Mar 16, 2018, 5:30 AM -0700, Martin Rechsteiner <notifications@github.com>, wrote:

[2018-03-16 13:03] rechsteiner commented on #144
Okay, that's definitely possible! You can completely customize how to display the menu items by subclassing `PagingView` and override `setupConstraints` like this:

[code]

Then you can make the menu items completely transparent by setting these values:

[code]

Let me know if that works for you!

[2018-03-17 03:31] wanhmr opened #145 "Feature request: Menu can sticky"
Like twitter's profile page, the menu  can sticky.

[2018-03-19 06:59] quanguyen opened #146 "how to change menu item title"
Hi,

I have integrated `PagingViewController` into my project as below:

[code]

MyItemVC

[code]

What should I do to change the menu item title?

I tried: `vc.title = "some title"` but not work!
Where `vc` is the view controller that I found in my `pagingViewController`'s data source.

Regards,

[2018-03-20 11:31] firattemel commented on #146
What is the difference between `MyItemVC` and `Garage` classes?

[2018-03-20 21:48] IVANKRUPSKI opened #147 "Bug: Redundant move/ jump of a pagingViewController at the end of swipe scrolling"
Parchment v.1.0.3 / based on the IconsExample

When swiping left/right, there is a strange delay at the end of the horiz. scrolling and then sharp move of a pagingViewController to reach the necessary position.

Here is the video:

[parch.mov.zip](https://github.com/rechsteiner/Parchment/files/1831323/parch.mov.zip)

Apparently, this bug appears on more complex pagingViewControllers than in the ex

[2018-03-21 01:52] quanguyen commented on #146
Oh, sorry.

`Garage` is actually `MyItemVC`. I just forgot to rename for your ease of reading.

Regards

[2018-03-21 10:42] qiaqiaxian opened #148 "UIScreenEdgePanGesture has no effect with Parchment"
hello,
my child viewcontrolle are tableviews
but UIScreenEdgePanGesture has no effect
how to solve the issue?
thank you

[2018-03-23 02:11] LinusGeffarth commented on #142
Hey there. Thanks for your awesome repo! Chipping in to second this request. I'd really appreciate if you could add this feature.
Please, please do! 🙏

[2018-03-23 08:54] leniyadav opened #149 "Need to change to next view controller programmatically."
I have used the storyboard example to set up pageviewer for two controllers.In first controller i have an button when on clicked it will be scrolled to next page.But i am not able to get set page index for FixedPagingViewController.How to move to next page on custom button click?

[2018-03-23 09:09] rechsteiner commented on #142
Hi! I will look into adding it this weekend ✌️

[2018-03-23 09:11] rechsteiner commented on #149
Hi! You can select items programatically like this:

[code]

[2018-03-23 09:11] rechsteiner commented on #141
Closing this for now, but let me know if you have any other questions ✌️

[2018-03-23 09:11] #141 closed

[2018-03-23 09:11] rechsteiner commented on #144
@hdmoncue did you manage to get it working?

[2018-03-23 09:16] rechsteiner commented on #145
Hi! I don't think this is something that should be part of Parchment, but I'm pretty sure it should be possible to implement with the current version. It's possible  to subclass `PagingView` and override the default behaviour like this:

[code]

Then you could listen for scroll events for the visible view controller and update the position of the menu when scrolling. Would that work for you?

[2018-03-23 09:25] rechsteiner commented on #147
Thanks for the report! I'll take a look and see if I can find a fix for that.

[2018-03-23 09:39] leniyadav commented on #149
Thanks @rechsteiner
Currently i have Maincontroller which has pagingViewController initialized. I have a button in Firstviewcontroller which i need to scroll to second view controller manually.How to call pagingViewController and set pagingViewController.select(index: 1, animated: true).

    let pagingViewController = FixedPagingViewController(viewControllers: [
      firstViewController,
      s

[2018-03-23 09:52] rechsteiner commented on #148
Hello! You can require the page view controller gesture recognizer to fail when the `UIScreenEdgePanGestureRecognizer` is trigged like this:

[code]

Another options is to allow both recognizers to be triggered simultaneously:

[code]

Does that work for you?

[2018-03-23 09:59] rechsteiner commented on #149
I guess that depends a lot on your implementation. You could have a delegate on the `firstViewController` class and trigger `select(index:)` from there. E.g. something like this:

[code]

Then make sure you make `pagingViewController` an instance variable on `Maincontroller`, so you can access it from the delegate function.

[2018-03-23 10:25] leniyadav commented on #149
Thanks for the help @rechsteiner. Will try and let you know.

[2018-03-23 10:46] igorkaryi commented on #142
will it be possible to update all the data? not only in a certain index?

[2018-03-23 10:47] LinusGeffarth commented on #142
To be more specific on what I'd love to see:
My app features different types of accounts, for which different navigation items are being shown. Since the user can change their account type at runtime, I need to update the navigation bar respectively: add / remove view controllers and items.
Thanks!

[2018-03-23 10:48] igorkaryi commented on #142
my number of indices can vary. And the application crashes after the reload

[2018-03-23 10:57] qiaqiaxian commented on #148
Thanks for your reply.
Neither of them does not work.
Actually, i use 'handleNavigationTransition' in my custom NavigationController.
So, it's a FullScreen pop.

[2018-03-23 11:06] rechsteiner commented on #142
@LinusGeffarth I don't think it should be any problems adding support for that. I guess it would be nice to add support for animations when reloading the data as well. Just curious; have you tried using the current `reloadData(around:)` method or it that not working for you? You should be able to pass in the first item in the updated data and reload the data.

[2018-03-23 11:06] LinusGeffarth commented on #142
Yes, I have. It doesn't seem to do anything, though. I also checked with breakpoints to see whether the data source methods are being called: they're not...

[2018-03-23 11:06] rechsteiner commented on #142
@igorkaryi that's not good! Do you have any more details on the crash? I will try to get a fix out as soon as possible 🙂

[2018-03-23 11:11] rechsteiner commented on #142
Hmm, okay. I'll look into why that's not working 😕

[2018-03-23 11:15] rechsteiner commented on #148
Ah okay. Does it work to require it to fail on the `interactivePopGestureRecognizer` property? E.g. something like this:

[code]

[2018-03-23 11:19] rechsteiner commented on #146
Looks like there is a bug with reloading data when using `PagingViewControllerDataSource`. I'll let you know when I have a fix ready!

[2018-03-23 11:25] qiaqiaxian commented on #148
i tried this before, it didn't work.

[2018-03-23 11:49] rechsteiner commented on #148
Does the interactive pop recognizer work when using it without the PagingViewController? Just tried it locally with a default navigation controller and it seems to work just fine.

[2018-03-23 11:59] qiaqiaxian commented on #148
Yes.it works with other viewcontrollers.
i tried to use default navigation controller a moment ago.
and didn't work ...
i am sorry

[2018-03-23 18:05] mikehobi opened #150 "Creating a Scrolling/Collapsing Menu?"
Hello, first off I want to say this is great project!

I'm trying to recreate a "scrolling/collapsing" effect for my menu items, similar to this project: https://github.com/andreamazz/AMScrollingNavbar

I'm able to target `pagingViewController.collectionView` and animate it's frame/translation, but there is a gap of whitespace left behind. I'm guessing that I need to update the constraints, but I'

[2018-03-23 18:16] rechsteiner commented on #150
Thanks! I guess one option would be to set collection view as the `titleView` on the navigation item and updating the frame of the navigation bar. You could probably even reuse that framework then. You can check out the `NavigationBarExample` target for an example.

Does that work for you?

[2018-03-23 18:20] mikehobi commented on #150
Ah sorry I didn't clarify, I actually have a separate nav bar that is fixed on top, and the pagingViewController is below it. And would like the collection view to translate behind my nav bar

[2018-03-23 18:57] rechsteiner commented on #150
Ah okay, I guess that’s the same as this one: #145. Have you tried doing something like I suggested there?

[2018-03-23 22:37] mikehobi commented on #150
Got it working using what you suggested in #145, the scrollView contentOffset updates the topAnchor constraint of the `collectionView`, working great! Also had to add a reveal function for when the user starts scrolling the pagingView

[2018-03-24 04:43] steve21124 commented on #146
yes, I did experience the same when using PagingViewControllerDataSource

[2018-03-24 05:33] vksid opened #151 "How to change the number of viewcontrollers ?"
I want to change the number of viewcontrollers programmatically. How this can be achieved? I tried following code, but It didn't worked.

`
self.pagingController.collectionView.reloadData()
`

[2018-03-24 06:37] igorkaryi commented on #142
it turned out to reload the data. each time to create a PageViewController

[2018-03-24 08:40] rechsteiner commented on #150
Awesome 👌

[2018-03-24 08:40] #150 closed

[2018-03-24 09:47] LinusGeffarth commented on #142
Well that's more like a bad workaround rather than a solution. You would experience very bad memory issues, I'm guessing.

[2018-03-24 14:20] LinusGeffarth opened #152 "Self-sizing PagingTitleCells"
Can we have self-sizing for cells of type `PagingTitleCell`s based on the title without resizing the collection view to full width?
Ideally, that would be a `case` in `PagingMenuItemSize`, like: `case auto`.

Currently, I am using `PagingViewController` the following way:

    pagingViewController = PagingViewController<PagingIndexItem>()
    pagingViewController.menuItemSize = .sizeToFit(minWidth

[2018-03-24 17:33] rechsteiner commented on #152
Hey! This is definitely something I want to support add out of the box. I'm planning on adding `selfSizing(estimatedWidth: CGFloat)` as an option to `PagingMenuItemSize` like you suggested 🙂

For now though, you should be able to get the same behavior by using the `widthForPagingItem` delegate you mentioned. I'm not sure why it's not being called for you – it seems to work fine in the `DelegateExa

[2018-03-24 17:49] LinusGeffarth commented on #152
Sure!

This is the full code for initializing the paging view controller, and setting all the properties:

    pagingViewController = PagingViewController<PagingIndexItem>()
    pagingViewController.delegate   = self
    pagingViewController.dataSource = self
    pagingViewController.menuInteraction = .none
    pagingViewController.menuInsets = UIEdgeInsets(top: 40, left: 36, bottom: 0, right: 0)

[2018-03-24 18:18] rechsteiner commented on #152
Thanks for the detailed report! Are you using the latest version of Parchment? I fixed a bug with this in 1.0.3, but it could be that it’s still not working.

[2018-03-24 18:20] LinusGeffarth commented on #152
Oh, umm it's 1.0.2... I'll update and report back!

[2018-03-24 18:48] igorkaryi commented on #142
then how to update list items correctly?

[2018-03-24 23:37] LinusGeffarth commented on #142
Update from my side: after updating to 1.0.3, reloading the data using your provided method works and re-calls the data source & delegate methods.

[2018-03-24 23:50] LinusGeffarth commented on #142
I'm also doing it the way you said, because right now, we can't do it any other way.

[2018-03-25 00:53] LinusGeffarth commented on #142
# UPDATE

I figured out how to reload the items & view controllers properly.

### Presets
- you're using `PagingViewController<PagingIndexItem>()` (I'm not sure it works for FixedPagingViewController)
- you need to inherit from the `PagingViewControllerDataSource`
- make your items and view controllers, that you're passing in `viewControllerForIndex` and `pagingItemForIndex` computed variables

[2018-03-25 09:09] igorkaryi commented on #142
@LinusGeffarth Thank you very much

[2018-03-25 12:37] wanhmr commented on #145
Thx

[2018-03-25 12:37] #145 closed

[2018-03-25 17:26] rechsteiner commented on #142
Just released a new version of Parchment that fixes the issue with reloading data, and also introduces a new method that doesn't require you to pass in the initial item. Now you can just do this to reload data:

[code]

Please let me know if you're still seeing any issues. And thanks for the help everyone 🙏

[2018-03-25 17:26] rechsteiner commented on #151
Hi! You have to set up your own `PagingViewControllerDataSource` where you return the items you want to display. Then, with the latest version of Parchment (v1.1.0), you can just reload data like this:

[code]

[2018-03-25 17:28] rechsteiner commented on #146
Just released a new version that should fix this issue ✌️ I've also introduced a new method for reloading data, so now you can just do this:

[code]

Please let me know if you're still seeing any issues!

[2018-03-25 17:30] rechsteiner commented on #148
Hmm, not sure why that isn't working. Seems to be working just fine here. Could you provide some more details on your implementation?

[2018-03-25 17:51] rechsteiner commented on #152
Just tried it with the same options you posted here and the delegate method seems to work just fine here. When are you adding the breakpoint? It will cache the result from `widthForPagingItem` so it will only be called when it renders the items initially. Could it be that you just added the breakpoint to late?

It does seem to be an issue with using `menuInsets` alongside the `delegate` though. I

[2018-03-25 18:03] rechsteiner commented on #152
Should be fixed in #155! Can you target the master branch to see if this is working for you locally before I release a new version? 🙏

[2018-03-25 20:24] #152 closed

[2018-03-25 20:35] LinusGeffarth commented on #142
Hmm not really working well for me:

1) crashing when on an item / view controller that's gone after reloading (as described <a href="#caveat">here</a>)
2) reloading with a delay of around >1s (compared to my implementation)
3) not reloading the items all the time for me, so that it then crashes if items were removed
   - when switching between items, it does eventually reload
4) sometimes adding

[2018-03-26 00:01] steve21124 commented on #146
Thank you. finally be able to make it work.

[2018-03-26 05:43] vksid commented on #151
Thank you @rechsteiner
That's exactly what I needed.

[2018-03-26 07:12] igorkaryi commented on #142
@rechsteiner thanks a lot, it works!!!!!)))))

[2018-03-26 07:57] rechsteiner commented on #146
Great!

[2018-03-26 07:57] #146 closed

[2018-03-26 08:13] rechsteiner commented on #142
@LinusGeffarth

I'm not able to reproduce this crash – it seems to work fine to reload data when removing items for me. Could you provide some more details on how to reproduce this?

Not sure I understand what you mean by this. Are you seeing a delay of around 1s when calling `reloadData`?

Is this the same type of crash as the first point or is this related to something else? Would be great if yo

[2018-03-26 09:52] LinusGeffarth commented on #142
1. I'm not able to reproduce this anymore, possibly a `command`+`shift`+`k` did the job...
2. currently, it only reloads after switching to a different paging item / view controller
    1. trigger reload
    2. tap an item that won't be there after reload (reload has not yet visually updated the items)
    3. now the menu updates, leading to the item and vc missing, leading to a crash
3. see 2
4.

[2018-03-26 13:35] igorkaryi commented on #142
can be this. when I do an update  - pagingViewController.reloadData(), the index becomes 0

[2018-03-26 13:44] rechsteiner commented on #137
@gmogames I think it's still backwards compatible with older versions though. It works just fine when I'm running on a device with iOS 10.2, and it also works when running 8.2 in the simulator. Are you seeing any crashes on older devices?

[2018-03-26 13:51] rechsteiner commented on #142
Hmm, it seems to update instantly here 😕 Do you have any other steps that could help reproduce this?

[2018-03-26 13:52] LinusGeffarth commented on #142
Not quite, I don't know what could be different...
I'm assuming - even though I don't believe that - it is related to my project only. Since my custom solution works just fine for me, I'm ok with this. You shouldn't bother anymore.
Thanks so much!

[2018-03-26 13:55] rechsteiner commented on #142
Okay, let me know if you figure out how to reproduce it. Would love to get it fixed if there is a bug with my implementation. Thanks a lot for helping debugging this 🙌

[2018-03-26 13:55] #142 closed

[2018-03-26 14:05] igorkaryi commented on #142
Yes. after reload,  return only one item

[2018-03-26 14:12] rechsteiner commented on #142
That seems to work just fine here. In the `DelegateExample` target I'm triggering this:

[code]

Is that what you mean by returning only one item?

[2018-03-26 14:49] rechsteiner commented on #142
Thanks!! Managed to reproduce it now. Will try to get a fix out shortly!

[2018-03-26 17:48] rechsteiner commented on #142
Just added what (hopefully) should fix this: #157. @LinusGeffarth @igorkaryi could you target the `master` branch and see it's working for you now? 🙏

[2018-03-26 19:04] igorkaryi commented on #142
maybe I'm doing something wrong. But I still have after the update - one menu item((((

[2018-03-26 19:36] igorkaryi commented on #142
I'm sorry, it's my problem. API does not work from time to time

[2018-03-27 09:42] leniyadav commented on #149
@rechsteiner
In delegate function i am not able access the  select function itself.  Can you please help on this i am totally new to Swift.

where should i set the instance variable and i am using the FixedPagingViewController to access viewcontrollers.

[2018-03-27 09:57] rechsteiner commented on #149
Yeah, you need to store the `FixedPagingViewController` as an instance variable on your view controller. Something like this should work:

[code]

[2018-03-27 10:01] leniyadav commented on #149
Thanks.In the delegate func i get this error "Extra argument 'animated' in call"
    pagingViewController?.select(index: 1, animated: true)

[2018-03-27 10:29] leniyadav commented on #149
can you please help on the above error

[2018-03-27 10:33] rechsteiner commented on #149
Hmmm, no idea why you'd get that error 🤔 Are you using the latest version of Parchment? Could you provide some more details on your implementation?

[2018-03-27 10:40] leniyadav commented on #149
yes from pods
pod 'Parchment'
class RegisterController: UIViewController,RedirectProtocol  {

    var pagingViewController: FixedPagingViewController?

    func nextpage(){
        //this delegate function which will be triggered when the button from infocontroller is clicked
    pagingViewController?.select(index: 1, animated: true)
    }

    override func viewWillAppear(_ animated: Bool) {

[2018-03-27 11:51] rechsteiner commented on #149
Hmm, I just tried to run that exact code locally and it seems to work just fine. Can you double check in your `Podfile.lock` that you are using the latest version of Parchment? And maybe try to clean Xcode by running Product > Clean

[2018-03-27 12:08] leniyadav commented on #149
It shows Using Parchment (0.9.0)
even after pod install,it installs 0.9.0.Tried to even remove cache in pods but same version.

[2018-03-27 12:24] rechsteiner commented on #149
You can specify which version you want to install in your Podfile like this:

[code]

[2018-03-27 12:40] leniyadav commented on #149
Thanks @ rechstenir

It worked.The podfile was not updating had to pod  repo update and then tried installing again.Finally it installed the new version.

Code too worked.Thanks once again.

[2018-03-27 12:42] rechsteiner commented on #149
Awesome 👍

[2018-03-27 12:42] #149 closed

[2018-03-27 23:20] LinusGeffarth opened #158 "Don't call viewDidLoad after selecting an item"
Can we please not call `viewDidLoad` on the view controller *every time* it is being presented?
I have previously been using the default [`UITabBarController` which only called `viewWillAppear(_:)`](https://stackoverflow.com/a/26487504/3397217). After switching to Parchment, I was experiencing some weird UI issues. Now, I figured why that is (partially, can't blame Parchment for all my bugs, ha).

[2018-03-27 23:34] gmogames opened #159 "Different calls to dataSource function when scrolling or tapping"
Hi There,

Thank you so much for the awesome Lib.
I have a question related using it as a DataSource and when tapping to select an option or when scrolling between controllers.

This is my datasource implementation:
[code]

I was testing a weird issue happening, on the viewcontroller I have a collectionview with a custom header and in that header I have a filter menu. I noticed that when I chose o

[2018-03-28 11:41] rechsteiner commented on #158
Yeah, I wasn't sure this was the case. Added a fix for this in #160. Let me know if that works for you! Will release a new version over easter ✌️

[2018-03-28 11:41] LinusGeffarth commented on #158
Awesome! Thanks so much!

[2018-03-28 11:43] rechsteiner commented on #159
Thanks for the report! Added a fix for this in #160 ✌️ You have to target the `master` branch for now, but I'll release a new version after easter. Let me know you're still seeing any issues.

[2018-03-28 14:53] LinusGeffarth commented on #142
Still doesn't work for me, unfortunately...

[2018-03-28 15:43] LinusGeffarth commented on #158
Awesome! Thanks so much!
This certainly is an improvement already, however, it only seems to work with adjacent view controllers.

To test this:
- open an app with the navigation and 3 or more items
- the first vc will be initialized automatically, tap the second, that one will be initialized as well
- tap on the first again, it won't be initialized again, same if you go back to the second again
-

[2018-03-28 18:35] rechsteiner commented on #158
Yes, but that behavior is deliberate though. Parchment will only store the currently visible view controllers (the selected one, plus its two adjacent ones). We can’t really store all the view controllers we initialize, as that would quickly lead to memory issues if you had a lot of items.

In your case, if you have a fixed amount of view controllers that you don’t want to recreate when switching

[2018-03-28 18:43] LinusGeffarth commented on #158
Absolutely true, then this issue is just related to my project, really.

I think I get your point, almost. I currently put `storyboard?.instantiateViewController` to create the view controllers. Would I instead do this?

    strong var viewController = storyboard?.instantiateViewController(withIdentifier: "ViewController") as! ViewController

I know, `weak` is to prevent strong reference issue to

[2018-03-28 18:45] #158 closed

[2018-03-28 18:54] gmogames commented on #159
Perfect. Thank you very much!

[2018-04-01 13:03] ahmedraad opened #161 "RTL Support"
Hi There
I've been used this amazing library, but i'm having a little issue with direction in Arabic localization, so it's there any method to make start index from right side ?

![screen shot 2018-04-01 at 4 03 09 pm](https://user-images.githubusercontent.com/17860965/38173372-3a890920-35c6-11e8-9a01-191c1004845b.png)

Thanks

[2018-04-02 05:09] NhatQuangZ opened #162 "Infinity scroll with fixed numbers of viewcontroller"
I have fixed number if viewcontroller. FixedPagingViewController work well but the requirement is scroll menu infinity ( ..0 1 2 3 4 0 1 2 3 4... ). Infinity paging viewcontroller  init() and deint() viewcontrollers each time change tab. In my case, number of viewcontroller is fixed, so i dont want re-init() viewcontroller again.
Anyone have a suggest for my case?
Thanks!

[2018-04-03 22:26] hdmoncue commented on #144
Yes that worked swimmingly!

[2018-04-03 23:38] #144 closed

[2018-04-05 06:37] gmogames commented on #159
@rechsteiner I also noted that when I scroll from one tab to the other, the willScrollToItem delegate gets called right, but when I tap on an item, this delegate does not get called. But the didScrollToItem delegate gets called on a tap and on a scroll.

I'm not sure this is the intended behavior, but it seems that all delegates should be called on tap or scroll otherwise if you have logic that de

[2018-04-05 07:11] rechsteiner commented on #159
Yeah, that definitely sounds like a bug. Will look into fixing that 👍

[2018-04-08 07:10] steve21124 opened #166 "Presenting Parchment navigation as a Modal from main root view controller, will there be memory leak?"
Presenting Parchment navigation as a Modal from main root view controller, when dismissing it, will there be memory leak?

By looking at this line, it initialize it lazily. If the Parchment dismissed, then each of these view controller need to be set to nil. right?
https://github.com/rechsteiner/Parchment/blob/7e74baa090e53fbe1512b751784c3aac95359152/DelegateExample/ViewController.swift#L50

In ot

[2018-04-11 08:59] igorkaryi opened #168 "How change color Indicator HorizontalScrollIndicator?. default - blue"

[2018-04-11 20:41] gmogames commented on #159
@rechsteiner sorry, another one for you.
I noticed that if I start scrolling to the next/previous tab but release the scroll, going back to where I was, the didScrollToItem gets called with the destinationViewController of the tab I was scrolling to but never did.

So if i gently start swiping to the next tab and release, that gets called.

In my case, I have a search delegate that needs to be set

[2018-04-13 06:57] satheeshkumar8186 opened #169 "How to Show Some part next viewcontroller in the present viewcontroller"
Hi
How to show some part of Some part next viewcontroller in the present viewcontroller and How to reduce the menuItemSize size and to show the full content of the viewcontroller.

[2018-04-13 14:50] igorkaryi opened #170 "pagingViewController.reloadData()"
Hi, self.pagingViewController.reloadData() It does not work if the number of items does not change. If count items > or < - reload work

[2018-04-15 10:49] rechsteiner commented on #170
Hi! It seems to work fine here. What kind of `PagingItem` type are you using? Could it have something  to do with your `Equatable` implementation?

[2018-04-15 10:50] rechsteiner commented on #169
Hi! I'm not sure if I understand exactly what you are trying to achieve. Could you provide some more details?

[2018-04-15 10:52] rechsteiner commented on #168
Hi! Looks like I forgot to include that in the README. You can change the indicator color like this:

[code]

[2018-04-15 10:56] rechsteiner commented on #166
The view controllers are only referenced by the `PagingViewController` class, and when you dismiss it they should all be deallocated. You should not have to set anything to nil manually. You can test this pretty easily by logging something from the `deinit` method of the view controllers you are showing. Let me know if you are actually seeing any memory leaks!

[2018-04-15 11:01] rechsteiner commented on #161
Hi! You can select items manually using the `select(index:)` method. In your case, you can probably do something like this:

[code]

Let me know if that works for you. I will also look into adding RTL support directly to Parchment 👍

[2018-04-15 12:14] rechsteiner commented on #159
Fixed the issue with the willScrollToItem delegate now: #173. Thanks for catching that 👌 Will try to get a new version out today!

As for the other issue, I agree that it's a bit weird that didScrollToItem is called even if you cancel a transition. It's based on the delegates that I get from `EMPageViewController`, but I will look into changing this in the future. This will be a breaking API chang

[2018-04-16 01:51] cwestMobile opened #175 "Paging works but not showing options"
I have it setup the same as the storyboard example and although the paging is working. The segmented control where you select the page is not showing up.

I'm sure its something simple I'm missing, can anybody point me in the right direction?

[2018-04-16 05:10] satheeshkumar8186 commented on #169
Hi  I will give one example say suppose We have to show 4vc a,b,c,d .at the first index we will  show "a"   instead of that we have to show "a" with that we have to show some part of "b" with "a",when we scroll to b we have to show "b" and some part of "c".
![screen shot 2018-04-16 at 10 37 28 am](https://user-images.githubusercontent.com/37365685/38790991-8e798e5e-4162-11e8-95da-c85977af0577.png)

[2018-04-16 10:52] igorkaryi commented on #170
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForIndex index: Int) -> UIViewController {
        return NewsTableViewController(news: objectsArray[index].newsTitle, date: objectsArray[index].newsDate)
    }

not work after self.pagingViewController.reloadData()

work only
func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, pag

[2018-04-16 13:20] Skogetroll opened #176 "Currently change `indicatorClass` has no effect."
# Problem

Setting custom indicator class via `PagingViewController.setter:indicatorClass` has no effect. `PagingViewController` keeps using default `PagingIndicatorView`.

# Source of problem

Custom `indicatorClass` is getting registered in collection view in `PagingCollectionViewLayout.registerDecorationViews`, but this function is called only via `PagingViewController.configureCollectionViewLa

[2018-04-16 13:36] rechsteiner commented on #176
Thanks for the detailed report! I'll look into getting that fixed as soon as possible 👍

[2018-04-16 15:14] Skogetroll commented on #176
Oh, `borderClass` setter may require to fire same update.

[2018-04-17 03:15] etabhijitgite opened #177 "Possible to show multiple colours for different titles of pagingviewcontroller?"
Hello, Is it possible to show different colours for multiple tabs of paging view controller?

[2018-04-17 06:51] igorkaryi opened #178 "how to disabled scroll page view controller if empty page"

[2018-04-18 02:01] NhatQuangZ commented on #162
Yes, i was done by this way :)) Thanks you !

[2018-04-18 06:08] #162 closed

[2018-04-18 17:45] steve21124 commented on #166
thanks. it seems there is no memory leak. the memory leak cause by other issues but not in Parchment. Thanks

[2018-04-18 17:45] #166 closed

[2018-04-19 13:11] chapayGhub commented on #139
Hey

" But I’m planning on adding it in the next version 👍"

Did you added this feature?

[2018-04-19 14:33] igorkaryi opened #179 "how print page index item? After reload i want return index which was before. I throw to the top of the list"

[2018-04-19 14:51] igorkaryi commented on #179
selected index

[2018-04-20 03:26] cwestMobile opened #180 "Use on UIView instead of UIViewController?"
Is this possible to use as a segmented control for a subview of a View Controller instead of the whole thing?

Thanks.

[2018-04-20 05:29] Vashum commented on #170
It does not work for me. In my case for a workaround, instead of reloading, removing pagingViewcontroller and adding back works!

[2018-04-23 13:29] igorkaryi commented on #179
au, please

[2018-04-23 14:48] Silvia4 opened #181 "Transparent menu"
Hi,
I'm trying to make the FixedPagingViewController transparent, so I can see the color of the view below (that has a gradient).
I've added all these lines without success:
[code]
Can you help me please?
Thanks

[2018-04-23 20:36] rechsteiner commented on #179
Hi @igorkaryi! It depends a bit on your implementation. If you are using `FixedPagingViewController`, you can get the selected index by implementing `PagingViewControllerDelegate` like this:

[code]

Another option is to get the index by doing `pagingViewController.visibleItems.index(of: pagingItem)`, but that might not be correct if you have a lot of items.

Does that work for you?

[2018-04-23 20:37] rechsteiner commented on #180
Hi! I'm not sure if I understand exactly what you mean. Do you mean using only the menu header and not the swiping page view controllers?

[2018-04-23 20:39] rechsteiner commented on #178
You can disable scrolling by setting the `contentInteraction` property. E.g:

[code]

[2018-04-23 20:47] rechsteiner commented on #175
Hi! It's a bit hard to say without looking at your implementation. Could you provide some more details on what you have done so far? 🙂

[2018-04-23 21:03] rechsteiner commented on #177
Yes, this is definitely possible!

The implementation depends a bit on what you are trying to achieve. If you can base the color on the index of the item you can just create a custom menu cell subclass like this:

[code]

Another approach is to create a custom `PagingItem` that will hold the color for each menu items. Then you have to use `PagingViewController` directly, and have to setup your own

[2018-04-23 21:06] rechsteiner commented on #139
Hi @chapayGhub! No, this turned a to be a bit more work that I originally thought. I will try to get something out over the next weeks 🙂

[2018-04-24 04:10] cwestMobile commented on #180
I am hoping to use it to page through subviews of a view controller. So, the top half of the view controller would be static content...yet the bottom half would use the menu header to swipe through subviews. If it still isn't clear I'll go ahead and take a video.

[2018-04-24 06:02] igorkaryi commented on #179
extension ViewController: PagingViewControllerDataSource {

    func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, pagingItemForIndex index: Int) -> T {
        return PagingIndexItem(index: index, title: objectsArray[index].newsSubjects!) as! T
    }

    func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForIndex index: Int) ->

[2018-04-24 06:03] igorkaryi commented on #179
I use it

[2018-04-24 08:03] Silvia4 commented on #181
Unfortunately no, it's completely white.
This is what I've written:

`        let pagingViewController = TransparentPagingViewController(viewControllers: [
            firstViewController,
            secondViewController
            ])

        addChildViewController(pagingViewController)
        view.addSubview(pagingViewController.view)
        pagingViewController.didMove(toParentViewControlle

[2018-04-24 10:24] Silvia4 opened #182 "Menu height"
Hi,
I have another question. I want the menu a little bit taller, so I've use this line of code:
`        pagingViewController.menuItemSize = .sizeToFit(minWidth: 150, height: 60)
`

The problem is that the labels are now not vertically aligned, but at the bottom of the menu.
How can I fix this?
Thanks!

[2018-04-25 11:49] chapayGhub commented on #139
Thanks
Good luck

[2018-04-25 11:56] chapayGhub commented on #139
If you create standalone ui component from "highly customizable menu" with delegates/callbacks
Others can implement any ui logic for user selection in it
- one UITableView with different content
- collection of separate view controllers like now
- show/hide subviews
- ....

"highly customizable menu" should be really helpfull ui component!

[2018-04-25 12:05] rechsteiner commented on #139
Yeah, I totally agree 😄

[2018-04-25 17:51] LinusGeffarth commented on #182
This was actually fixed in 1.0.4, I believe. Are you up-to-date?

[2018-04-25 17:54] LinusGeffarth opened #185 "Delegate method for paging menu item tap"
I would like to detect a tap on a menu item.

### Why can't I use the already existing `willScrollToItem:` method?

Because I want to especially detect the tap when tapped on the already-selected item to then pop all navigation child controllers back to the first, like it is natively implemented in tab bar controllers.

Would this be possible?

---

<sub>I thought about using a `UITapGestureRecogn

[2018-04-25 18:32] rechsteiner commented on #185
Yes! You can subclass `PagingViewController` and override `collectionView:didSelectItem`. Just remember to call super 🙂

[code]

[2018-04-25 18:34] rechsteiner commented on #185
And if you need to actual `PagingItem` you can use `visibleItems.items[indexPath.item]`

[2018-04-26 06:55] cwestMobile commented on #180
Does that make sense or would you like a video showing you what I'm hoping for?

[2018-04-26 21:46] bizibizi opened #186 "how to use it for swift3?"

[2018-04-26 21:46] bizibizi commented on #186
@rechsteiner

[2018-04-26 21:49] bizibizi commented on #186
okay, i fixed the code. the bug only in 2 lines (77-78) PagingOptions.swift

[2018-04-26 22:27] bizibizi commented on #181
@Silvia4 @rechsteiner solved:

        pagingViewController.backgroundColor = .clear
        pagingViewController.menuBackgroundColor = .clear
        pagingViewController.borderColor = .clear
        pagingViewController.textColor = .white
        pagingViewController.indicatorColor = ._blueLight
        pagingViewController.selectedTextColor = .white
        pagingViewController.selectedBackgrou

[2018-04-27 00:48] bizibizi opened #187 "Inset for menu item does not work"
https://image.ibb.co/i5DsGx/New_Note.jpg

        indicatorOptions = .visible(height: 2, zIndex: Int.max, spacing: UIEdgeInsets.zero, insets: UIEdgeInsets(top: 0, left: 10, bottom: 0, right: 10))

indicator is not equal from left and right

[2018-04-27 16:55] gchriswill commented on #186
I'm also interested in use Parchment with Swift 3 and Xcode 9.2 ...
@bizibizi Have to found a solution and/or approach for this issue?

[2018-04-29 04:09] cwestMobile commented on #180
Hellooo?

[2018-04-29 15:29] jeremiasdsa opened #188 "Top menu to filter my View."
Hi @rechsteiner,

I want to use your top menu fo filter the content on my tableView as the following image:
Is that possible to select an item on top menu and says reloadData to my table?

<img width="310" alt="screen shot 2018-04-29 at 12 16 34" src="https://user-images.githubusercontent.com/9071775/39408128-5593949a-4ba8-11e8-97d3-112d970bfe6e.png">

[2018-04-30 13:44] NBibikov opened #189 "Issue with update titles"
Hi! Thanks for nice library. Please look in my example and take me information about this way for update titles - maybe am i doing something wrong?

I want update titles, but after reload with 'reloadData()' i have got old and new cells.

[UpdateTitles.zip](https://github.com/rechsteiner/Parchment/files/1960751/UpdateTitles.zip)

[2018-04-30 19:26] #185 closed

[2018-05-01 12:55] rechsteiner commented on #186
It should work with Swift 3 now, if you target the master branch. Will release a new version soon 👍

[2018-05-01 12:55] #186 closed

[2018-05-01 12:56] rechsteiner commented on #161
@ahmedraad did you get this working?

[2018-05-01 12:58] rechsteiner commented on #148
@qiaqiaxian I can't find any issues with this when I'm testing locally. I'm closing this for now, but feel free to reopen if you find any ways of reproducing this 👍

[2018-05-01 12:58] #148 closed

[2018-05-01 13:01] rechsteiner commented on #159
This was released in version 1.2.0. Let me know if you're seeing any other issues!

[2018-05-01 13:01] #159 closed

[2018-05-01 13:03] rechsteiner commented on #168
README should be updated now. Let me know if you have any issues with this!

[2018-05-01 13:03] #168 closed

[2018-05-01 13:11] rechsteiner commented on #169
Sorry, I don't think that's possible at the moment. Parchment only supports showing one view controller at the time, but I'm working on adding support for using the menu header as a standalone view, which would make it possible to do something like that.

[2018-05-01 13:25] rechsteiner commented on #179
Did you try to implement the `didScrollToItem` to method I mentioned above?

[2018-05-01 13:26] rechsteiner commented on #176
Should be fixed on #191 now 🙂 Will release a new version soon!

[2018-05-01 13:26] #176 closed

[2018-05-01 13:28] rechsteiner commented on #180
Yeah, maybe a video would make it bit more clear. It's not possible to use the menu header as a standalone view if that's what you need. But I'm working on adding support for that 🙂

[2018-05-01 13:34] rechsteiner commented on #181
You need to actually subclass `PagingView` like I mentioned above. Setting the constraints afterwards will just add an extra set of constraints that will probably just break the existing ones.

[2018-05-01 13:39] rechsteiner commented on #182
Yeah, this sounds like the bug that was fixed in #155 and released in version 1.2.0.

@Silvia4 @bizibizi are you sure you are using version 1.2.0? If so, could you provide some more details on your implementation. I'm not seeing this bug anymore.

[2018-05-01 13:43] rechsteiner commented on #187
Yeah, that looks like how it's meant to work. The `insets` property will only add insets to indicator view around the edges of the menu. If you want to inset the indicator view equally on for each menu item, you can set the `spacing` property. Does that work for you?

[2018-05-01 13:49] rechsteiner commented on #188
Hi @jeremiasdsa! Do you mean using the menu header as a standalone view and just having a single table view below instead of the paging view controllers? If so, that's unfortunately not possible at the moment. But I'm working on adding support for as we speak 🙂

[2018-05-01 13:57] rechsteiner commented on #189
That definitely looks like a bug 😕 It seems to be an issue with reloading data when you are not updating the view controllers as well. If you try to create some new view controllers and update `self.tabControllers` before reloading it works just fine.

I will get that fixed as soon as possible!

[2018-05-01 13:59] rechsteiner commented on #170
Looks like there is an bug with reloading if you are not updating the view controller instances as well: #189. I guessing this is what's causing these issues as well. I will get that fixed as soon as possible 🙂

[2018-05-01 14:25] NBibikov commented on #189
thanks for answer. waiting for fix

[2018-05-01 15:30] #188 closed

[2018-05-01 15:46] bizibizi commented on #187
yes, it works

        .visible(height: 2, zIndex: Int.max, spacing:  UIEdgeInsets(top: 0, left: 20, bottom: 0, right: 20), insets: UIEdgeInsets.zero)

[2018-05-01 16:12] #187 closed

[2018-05-02 00:09] gchriswill commented on #186
@rechsteiner Thanks!

[2018-05-02 00:17] gchriswill opened #192 "Parchment manual installation?"
🤔

[2018-05-02 06:15] satheeshkumar8186 commented on #169
ok Thanks

[2018-05-03 23:56] cwestMobile opened #193 "Under navigation bar?"
The item menu shows underneath the navigation bar. Are there any solutions other than setting the following...

` self.navigationController?.navigationBar.isTranslucent = false `

this is a very limiting solution and i'm wondering if there is someway to just move the selection down?

[2018-05-04 00:01] cwestMobile commented on #180
I appreciate it, no worries. i ended up implementing a custom solution that works. i'll keep a look out for that update though. cheers!

[2018-05-05 02:04] #180 closed

[2018-05-07 12:04] bizibizi commented on #192
yes, it was somewhere on the page

[2018-05-07 12:06] bizibizi commented on #186
@rechsteiner well, it does not work https://imgur.com/9hmU0ha

[2018-05-07 12:08] bizibizi commented on #182
@rechsteiner just basic implementation:

class PagingViewController: FixedPagingViewController {

    override init(viewControllers: [UIViewController]) {
        super.init(viewControllers: viewControllers)
        setup()
    }

    required init?(coder: NSCoder) {
        super.init(coder: coder)
    }

    func setup() {
        font = UIFont._medium(20)
        selectedFont = UIFont._medium(2

[2018-05-07 12:40] bizibizi commented on #182
yes, now it works

[2018-05-07 12:41] bizibizi commented on #186
works with     pod 'Parchment', :git => 'https://github.com/rechsteiner/Parchment.git', :branch => 'master'

[2018-05-07 12:44] bizibizi opened #194 "is it possible to set fixed width to indicator?"
Let's say I want that all my indicators have 30pt width @rechsteiner
And rounded corners will be great as well

[2018-05-07 12:48] bizibizi opened #195 "Different font for selected menu item"
can I archive that someway? @rechsteiner

[2018-05-07 12:50] #195 closed

[2018-05-07 14:02] bizibizi commented on #194
my solution:

        let width: CGFloat = 30
        let count: CGFloat = CGFloat(viewControllers.count)
        let leftRightSpacing = ((UIScreen.main.bounds.width / count) - width) / 2
        indicatorOptions = .visible(height: 3, zIndex: Int.max, spacing:  UIEdgeInsets(top: 0, left: leftRightSpacing, bottom: 0, right: leftRightSpacing), insets: UIEdgeInsets.zero)

[2018-05-07 15:06] bizibizi opened #196 "Add space below indicator"
How can I add 20px space below indicator?

[2018-05-08 02:46] #196 closed

[2018-05-08 02:50] bizibizi opened #197 "Horizontal padding between pages"
Is it possible to setup this property?
Like this one https://stackoverflow.com/questions/20694679/horizontal-padding-between-uipageviewcontroller-child-view-controllers

[2018-05-08 06:17] Athenay commented on #161
Hi @rechsteiner !
Your answer works for changing selection of menu item in RTL views and for situation which the number of menu items cover entire of the screen, but i have just two tab and need to insert them on screen from right to left (i dont want to fix them to cover entire screen). do you have any idea about this situation ?

[2018-05-09 12:08] ahmedraad commented on #161
Hi @rechsteiner
sorry i was too busy, i've tried this way, it's work but i have a lot of filtering & inserting & removing data , so should i do more logic and i don't want that
i hope you can fix the layout
Thanks

[2018-05-09 13:08] bizibizi opened #198 "is it possible to make menu vertically scrollable with VCs as well?"

[2018-05-09 16:49] bizibizi opened #199 "how to get current selected index? Like segmentedControl.selectedSegmentIndex"

[2018-05-09 16:58] bizibizi commented on #199
solved:

        if let selected = pagingViewController.pageViewController.selectedViewController, let vc = pagingViewController.viewControllers.index(of: selected) {

[2018-05-09 16:58] #199 closed

[2018-05-09 17:08] bizibizi commented on #179
https://github.com/rechsteiner/Parchment/issues/199

[2018-05-09 17:09] bizibizi commented on #189
i have it as well, waiting for fix, i hope you have time to make it asap

[2018-05-09 17:28] bizibizi commented on #199
@rechsteiner you can add this:

extension FixedPagingViewController {

    var selectedIndex: Int? {
        if let selected = pageViewController.selectedViewController, let index = viewControllers.index(of: selected) {
            return index
        }
        return nil
    }
}

[2018-05-09 17:31] bizibizi opened #200 "Updating title for FixedPagingViewController"
after updating title the selection disappears from menu items.

Here is the code:

     let count = singerSongsSwitcherWireframe.presenter.dataSourceCount
        if count == 0 {
            singerSongsSwitcherUserInterface.title = "Songs".localized
        } else {
            singerSongsSwitcherUserInterface.title = "Songs".localized + " \(count)"
        }
        pagingViewController.reloadDat

[2018-05-09 17:41] rechsteiner commented on #198
Hi! Sorry, this is not currently possible. I will consider adding support for this in version 2.0 🙂

[2018-05-09 17:43] rechsteiner commented on #197
We're using `EMPageViewController` as a replacement for `UIPageViewController` and that's not something that's supported. I'm working on moving the menu items into a standalone component, which means you could roll you own implementation of the page view controller that supports that.

[2018-05-09 17:48] bizibizi commented on #200
well, reloadData breaks everything :(

[2018-05-09 17:52] rechsteiner commented on #194
It's not built in as a default behaviour, but you can set the `indicatorClass` to your own subclass of `PagingIndicatorView`. Something like this should work to get fixed width and corner radius:

[code]

Then set the indicator class like this:

[code]

Does that work for you?

[2018-05-09 17:54] rechsteiner commented on #200
Yeah, sorry about that. I just merged a fix into master #201. Could you target the master branch and see if it works now? 🙏

[2018-05-09 17:57] rechsteiner commented on #193
The default behavior of navigation controller is to show content below the navigation controller. Try setting that navigation bar to opaque or changing the `edgesForExtendedLayout` property. If you are using Storyboard you can take a look at the Example target.

[2018-05-09 17:58] rechsteiner commented on #170
Should be fixed in #201! @igorkaryi can you target the master branch and see if it works now?

[2018-05-09 17:59] rechsteiner commented on #177
Closing this for now, but feel free to open if you have any more questions 🙂

[2018-05-09 17:59] #177 closed

[2018-05-09 18:00] rechsteiner commented on #181
@Silvia4 @bizibizi did you get this working?

[2018-05-09 18:00] #182 closed

[2018-05-09 18:02] rechsteiner commented on #189
This should be fixed in #201 now! @NBibikov can you target the master branch and double check that it's working for you as well?

[2018-05-09 18:04] bizibizi commented on #194
i am using my code above because it already works :)

[2018-05-09 18:05] bizibizi commented on #181
@rechsteiner yes, check my code above

[2018-05-09 18:06] rechsteiner commented on #194
Sounds good. If you need rounded corners though, you have to do something like the solution above.

[2018-05-09 18:07] rechsteiner commented on #142
@igorkaryi @LinusGeffarth I just merged another fix for this #201. Can you target the master branch and see if it works for you now? 🙏 Sorry about all these issues!

[2018-05-09 18:10] bizibizi commented on #194
yes, thank you!

[2018-05-09 18:13] bizibizi commented on #198
well, i already did that and also added header as imageView above menu. And menu has 3 VCs. So, if you will plan to add this, let me know - i will share the code

[2018-05-09 18:16] bizibizi commented on #200
@rechsteiner so far everything works fine, thank you! 🙏

[2018-05-09 21:15] #175 closed

[2018-05-10 04:19] bizibizi opened #202 "Bug: Transition to next item during Transition"
Let's say I have 3 menu items.
I switch by swipe from 1 to 2. During that Transition I swipe to 3.
So, if I do that - I have several different bugs after that. The page's content can become invisible, the page can display content from different page.
After several swipes with slow speed it returns to normal.
I can not be reproduced by clicking menu items. (Looks like it locked if transition in a p

[2018-05-11 06:03] cwestMobile commented on #193
I guess what i'm really hoping for is for it to not pin to the top of a view automagically. I would like to be able to designate a top/bottom/side "padding" value. If that isn't on the roadmap maybe i'll take a crack at it and let you know how it goes.

[2018-05-11 19:47] igorkaryi opened #203 "how on one controller add 2 pageViewController?"

[2018-05-12 20:29] igorkaryi opened #204 "i'm use PagingViewControllerDataSource. How move page items to down screen? so that the table is above it"

[2018-05-12 20:34] igorkaryi commented on #144
I want to put menu items to the screen down. I'm use PagingViewControllerDelegate

[2018-05-13 10:07] igorkaryi commented on #130
how to do this for PagingViewControllerDelegate

[2018-05-14 13:59] LinusGeffarth commented on #142
Yasss awesome, now it works, thanks so much!!!

[2018-05-14 14:11] LinusGeffarth commented on #198
@bizibizi, you should open a pull request with your code so @rechsteiner can easily implement it as soon as possible

[2018-05-14 14:13] LinusGeffarth commented on #192
I believe you would have to copy all the files from [this folder](https://github.com/rechsteiner/Parchment/tree/master/Parchment).

[2018-05-14 14:20] LinusGeffarth commented on #181
The only relevant part would be:

    pagingViewController.collectionView.backgroundColor = .clear

[2018-05-14 19:43] rechsteiner commented on #204
Hi! You need to subclass `PagingView` and override the constraints to move the menu to the bottom. Here's an example:

[code]

Does that work for you?

[2018-05-14 19:46] rechsteiner commented on #203
I'm not sure if I understand exactly what you mean. Are you talking about adding two instances of `PagingViewController` (two menus and two swipable page view controllers)?

[2018-05-14 20:18] rechsteiner commented on #202
Hmm, I'm not able to reproduce the bug you're seeing. Are you able to reproduce this when running the Example target or is this specific to your implementation?

[2018-05-14 20:19] #194 closed

[2018-05-16 03:36] cwestMobile opened #205 "Disappear on scroll?"
Is it possible to have the menu hide when scrolling the view?

An example is the paging view controllers are all tableview controllers and upon scrolling the tableviews can we hide the menu?

Thanks!

[2018-05-17 08:37] iOSDias opened #206 "title text is not shown fully"
![simulator screen shot - iphone 8 plus - 2018-05-17 at 14 36 40](https://user-images.githubusercontent.com/31696378/40166189-cb6cfafe-59df-11e8-886f-ae1b48edcfd5.png)
![simulator screen shot - iphone 8 plus - 2018-05-17 at 14 36 36](https://user-images.githubusercontent.com/31696378/40166190-cb9d8110-59df-11e8-81a2-c184412bbee0.png)
How to fix it?

[2018-05-17 08:42] iOSDias commented on #206
Fix it changing size for all items

[2018-05-17 08:42] #206 closed

[2018-05-17 12:33] BhaveshKumbhani opened #207 "It is possible to update the title, once loaded the controls?"
I want to update title, It will look something like Peoples(0), Where Peoples is title of the page.

[2018-05-18 13:27] rechsteiner commented on #198
@bizibizi I think I maybe misunderstood your original question. Could we provide a bit more details on what you are trying achieve? Are you doing something like this #150?

[2018-05-18 13:32] rechsteiner commented on #205
Yeah, that should be possible! You need to subclass `PagingView` and update the constraints as the user is scrolling in the table view. E.g.

[code]

Then you can update the `topAnchor` constraint of the `collectionView` when the table view content offset changes. Let me know if you need any more help implementing that 🙂

[2018-05-18 13:34] rechsteiner commented on #207
Hi! I'm not sure if I understand exactly what you are trying to achieve. Are you talking about reloading the titles when some of the data changes?

[2018-05-18 14:08] BhaveshKumbhani commented on #207
Yes, titles need dynamic, It should allow to edit anytime and from anywhere.

[2018-05-18 14:35] rechsteiner commented on #207
You can reload the menu items by calling `pagingViewController.reloadData()`. There was a bug with reloading items that was fixed recently, so try to target the `master` branch if you are having any issues. I will get a new version released this weekend.

[2018-05-18 23:40] BhaveshKumbhani commented on #207
See I show your update and test it, it is reloading whole controller and creating new instance of pager view controller on reload, instead of just provide the method to reload only menu items.

[2018-05-19 13:27] rechsteiner commented on #207
Yeah, it will reload both the menu items and the view controllers. If you do not want to create new instances of the view controllers, you can store them in a property like this:

[code]

Does that work for you?

[2018-05-22 18:38] rechsteiner commented on #189
Closing this as it seems to be working fine now. Please re-open if you're still seeing any issues!

[2018-05-22 18:38] #189 closed

[2018-05-22 18:39] rechsteiner commented on #181
@Silvia4 closing this for now, but feel free to re-open if you're still having issues with this 🙂

[2018-05-22 18:39] #181 closed

[2018-05-22 18:40] #169 closed

[2018-05-22 18:41] rechsteiner commented on #170
This is released as part of version `1.3.0` now. Let me know if you're still seeing any issues with this!

[2018-05-22 18:41] #170 closed

[2018-05-22 18:45] rechsteiner commented on #179
Closing this for now. Let me know if you still need any help to get this working!

[2018-05-22 18:45] #179 closed

[2018-05-22 18:47] rechsteiner commented on #192
@gchriswill does copying the files work for you? Another option would be to build `Parchment.framework` and include that in your project.

[2018-05-22 18:55] gchriswill commented on #192
@linusGeffarth I’m going to try that in a few hours.

@rechsteiner , I’m missing some libraries. Let me check if in that directory I can find the missing dependencies and If it works by copying the files into project. Other wise I’ll try to build the framework.

[2018-05-25 11:20] AnasAlsaadi commented on #192
i dont know how . to include this lib manually  please explain

[2018-05-28 22:59] tikipatel commented on #89
Updating to reflect a better answer found in #178:

    pagingViewController.contentInteraction = .none

[2018-06-01 09:41] bizibizi opened #209 "Delegate methods does not called in 1.2.0/1.3.0 swift 3.2"
This is the code from 1.2.0

        pagingViewController = PagingViewController(viewControllers: [downloadedUserInterface, downloadingUserInterface])
        pagingViewController.delegate = self

        extension DownloadsContainerPresenter: PagingViewControllerDelegate {

    func pagingViewController<T>(_ pagingViewController: PagingViewController, willScrollToItem pagingItem: T, startingViewC

[2018-06-01 09:41] bizibizi commented on #209
@rechsteiner

[2018-06-01 09:50] bizibizi commented on #209
also, in 3.2 swift need to make some updates https://imgur.com/a/l6FJgJB

[2018-06-01 09:57] gaojinhsu opened #210 "it is not friendly to "Large Title Navigation Bar""
if I set `navigationController?.navigationBar.prefersLargeTitles = true`,  the navigation bar won't shrink or expand automatically while UITableView is scrolling

[2018-06-11 19:59] voytov1ch opened #211 "Delegate method doesn't called"
Hello! Thank you so much for Parchment.

Have some problem:

func pagingViewController<T>(_ pagingViewController: PagingViewController<T>,
                               widthForPagingItem pagingItem: T, isSelected: Bool) -> CGFloat?

Doesn't called for me.

[2018-06-13 14:38] crabman448 commented on #210
Actually it seems, that it is not possible to handle large titles when we have multiple scroll views in the controller. Because I didn't find a good way to reassign navigation bar to the new scroll view when switching between controllers. All ways that I found have bugs :(
But if someone will be able to provide some solution it would be awesome 🙌

[2018-06-13 14:49] crabman448 commented on #210
@rechsteiner Do you have any plans to try to support large large titles and other stuff like refresh control and search bar?

[2018-06-15 07:22] gaojinhsu commented on #210
@crabman448 @rechsteiner   At least, I've seen some apps make it. https://itunes.apple.com/cn/app/yuan-fu-dao-chu-gao-zhong/id974568444?mt=8

[2018-06-21 10:30] jaceklapinski opened #212 "Disable swipe on page"
Is there any way to disable swipe gesture on page ? I don't want to use swipe because this is block swipe on my TableViewController :) i just want to change page swipe on clicking on menu header

Best

[2018-06-21 11:44] rechsteiner commented on #212
Yes! You can disable scrolling in the content area like this:

[code]

[2018-06-22 08:04] LinusGeffarth commented on #211
Hey, have you set these:

[2018-06-22 08:06] LinusGeffarth commented on #202
I experienced this too until the latest update.

[2018-06-22 08:11] voytov1ch commented on #211
@LinusGeffarth yes, sure

[2018-06-22 09:09] rechsteiner commented on #202
@LinusGeffarth are you seeing this bug in the `Example` target as well?

[2018-06-22 09:18] LinusGeffarth commented on #202
I'm not sure. Like I said, after the latest update, I don't see this bug anymore.

[2018-06-24 07:27] luongchautuan opened #213 "Gradient Left to Right for Indicator view"
Hi everyone,

How can I setup a gradient background left to right for Indicator ?

[2018-06-24 08:17] luongchautuan commented on #194
Hi sir,

I have added a custom View like your code above for Indicator but the indicator color still default. Can you help me?

`class PagingIndicatorCusView: PagingIndicatorView {

    private let roundedView: UIView

    override init(frame: CGRect) {
        roundedView = UIView(frame: .zero)

        super.init(frame: frame)
        addSubview(roundedView)

        roundedView.backgroundColor

[2018-06-24 09:58] VishnuMU commented on #194
@luongchautuan

The below code is for red color based on @rechsteiner 's answer above
`class CustomIndicator: PagingIndicatorView {

    private let roundedView: UIView

    override init(frame: CGRect) {
        roundedView = UIView(frame: .zero)
        super.init(frame: frame)
        addSubview(roundedView)
        roundedView.translatesAutoresizingMaskIntoConstraints = false

        if #avai

[2018-06-24 10:08] VishnuMU commented on #194
@luongchautuan May be you forgot to set `pagingViewController.indicatorClass = CustomIndicator.self`

[2018-06-24 11:11] luongchautuan commented on #194
` let pagingViewController = PagingViewController<PagingIndexItem>()
        pagingViewController.indicatorClass = PagingIndicatorCusView.self
        pagingViewController.dataSource = self
        pagingViewController.delegate = self`

I have already set them but not working at all

[2018-06-24 18:55] rechsteiner commented on #213
Hi!

You can create your own subclass of `PagingIndicatorView` like this:

[code]

Then set the custom view like this:

[code]

Let me if that works for you 🙂

[2018-06-24 18:55] #212 closed

[2018-06-24 18:57] rechsteiner commented on #211
Hi @voytov1ch! Which version of Parchment are you using? It seems to work just fine here.

[2018-06-24 18:58] rechsteiner commented on #207
@BhaveshKumbhani did you manage to get this working?

[2018-06-24 18:59] rechsteiner commented on #204
@igorkaryi did you manage to get this working?

[2018-06-24 19:00] rechsteiner commented on #205
Closing this for now, but feel free to re-open if you need any more help to get this working 🙂

[2018-06-24 19:00] #205 closed

[2018-06-24 19:01] rechsteiner commented on #198
@bizibizi any updates on this?

[2018-06-24 19:04] rechsteiner commented on #193
Closing this for now. Feel free to re-open if you're still having issues with this 🙂

[2018-06-24 19:04] #193 closed

[2018-06-24 19:04] rechsteiner commented on #203
@igorkaryi any updates on this?

[2018-06-25 09:18] BhaveshKumbhani commented on #207
Yes, works for me but it was reloading with animation.

[2018-06-26 08:58] luongchautuan commented on #213
Thanks sir.

That works for me.

Thank you so much

[2018-06-26 08:58] #213 closed

[2018-06-26 11:17] crabman448 commented on #210
Maybe they use their own implementation of navigation bar

[2018-06-28 07:29] mrJ0hn opened #215 "Swipe to delete row in tableview"
Hello! I used calendar pager and added tableview as child viewcontroller. I tried to enable deleting a row. But swipe to delete doesn't work. It works only once in a hundred. Instead of this view controller switch to the right. Could you help me?

[2018-06-28 11:55] sakthinath opened #216 "Bottom Paging"
How to change the paging in bottom ?

[2018-07-04 15:55] dvir04 opened #217 "Feature request: selectedFont property in PagingViewController"
Hi,

Thanks for the great project.
Is it possible to add support for configuring the font for the currently selected menu item?

thanks :)

[2018-07-04 15:56] #217 closed

[2018-07-05 17:23] MinaThabet1 opened #218 "how to resize paging item when scroll like new update in Instagram ?"

[2018-07-06 08:37] rechsteiner commented on #215
Hi! It sounds like it would be better to disable swiping between view controllers in that case. You can disable swiping by setting `pagingViewController.contentInteraction = .none`.

Does that work for you?

[2018-07-06 08:39] rechsteiner commented on #216
Hi! You can do this by subclassing `PagingView` and override setupConstraints like this:

[code]

[2018-07-09 14:13] luongchautuan opened #219 "One view controller but more categories?"

[2018-07-09 14:21] luongchautuan commented on #219
Can help me about this? @rechsteiner

[2018-07-11 13:16] barkiiqbal opened #220 "viewWillAppear not getting called on child controllers when came back from other tabbar controller index"
I am using TabbarViewController in my application. Now when I change controller from tabbar and came back to Parchment view controller then viewWillAppear does not call on child view controllers.

[2018-07-13 08:59] garciaish opened #221 "Can't get parent view controller"
I was wondering why I can't get the parent view controller of the view controllers in the FixedPagingViewController, or the FixedPagingViewController itself.

My use case is that I've put the FixedPagingViewController on top of a ViewController that is a child of a TabbarViewController, and I want to get the reference to that tabbarviewcontroller. I was testing around, but even `let parentViewCont

[2018-07-13 22:29] prsolucoes opened #222 "How to know when the view controller is really selected?"
Hi,

How to know when the view controller is really selected?

In my case i have 3, and when the app load, the first and second are loaded and the http request are called for the two tabs.

I want individual requests. When the user enter on each tab, the view controller will be showed and the request start individually.

On android view pager we can set an option to disable the create/remove optio

[2018-07-15 08:07] gchriswill commented on #192
@LinusGeffarth Thanks for the URL. ☺️
@rechsteiner Thanks for pointing out the the tip. 😉
@AnasAlsaadi Download (NOT CLONE) the entire repo and follow one of the example projects. 👌    @AnasAlsaadi Bellow are the steps 👇

---

Sorry guys for taking so much time to test and reply to this thread.
I downloaded the entire repository to make it work.
I followed up with same approach as one of your exam

[2018-07-15 08:07] #192 closed

[2018-07-16 10:57] jaceklapinski opened #223 "Menu pos margins ?"
Hi,

Is there any way to remove this menu margins ???

<img width="72" alt="screen shot 2018-07-16 at 12 55 52" src="https://user-images.githubusercontent.com/16321564/42755245-af5b8a3c-88f7-11e8-92c3-e8939111b3b9.png">

<img width="53" alt="screen shot 2018-07-16 at 12 56 01" src="https://user-images.githubusercontent.com/16321564/42755246-af7cb5b8-88f7-11e8-95da-9dd039f087c2.png">

Best !

[2018-07-16 18:30] jaceklapinski commented on #223
PagingIndicatorOptions.visible(
            height: 4,
            zIndex: Int.max,
            spacing: UIEdgeInsets.zero,
            insets: UIEdgeInsets(top: 0, left: 0, bottom: 0, right: 0))

[2018-07-16 18:30] #223 closed

[2018-07-17 19:05] funlabuz commented on #211
Met the same problem @rechsteiner  version Using Parchment (1.3.0)
`    let pagingViewController = PagingViewController<PagingIndexItem>()

  override func viewDidLoad() {
        super.viewDidLoad()
 addChildViewController(pagingViewController)
        pagingViewController.dataSource = self
        pagingViewController.delegate = self
        view.addSubview(pagingViewController.view)
        pag

[2018-07-18 03:05] garciaish commented on #221
Nevermind, I was trying to get it from viewDidLoad. It works on viewDidAppear.

[2018-07-18 12:11] zzmasoud commented on #210
also if no large title , but prompt (subtitle) text in navigation set , it fails .

[2018-07-24 20:58] mimmo00 opened #224 "Get current controller with InfiniteDataSource"
Hi, congratulations for the framework!
I'm using the InfiniteDataSource. I can set the variables of controller during the initial setting.

`extension ContainerViewController: PagingViewControllerInfiniteDataSource {

    func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForPagingItem pagingItem: T) -> UIViewController {
        let calendarItem = pagingIt

[2018-07-25 03:39] kraisorns commented on #222
@prsolucoes  I think you can get that by using the delegate func

[code]

[2018-07-26 08:07] rechsteiner commented on #218
Hi @MinaThabet1! I'm not sure I understand exactly what you mean. Could you describe what you're trying to achieve a bit more? 🙂

[2018-07-26 08:07] rechsteiner commented on #216
@sakthinath did you manage to get this working?

[2018-07-26 08:08] rechsteiner commented on #219
Hi @luongchautuan! This isn't really possible at the moment. I'm working adding support for using the menu items as a standalone component, but it will probably be a few weeks before that is ready.

[2018-07-26 08:09] rechsteiner commented on #220
Thanks for the report! I will take a look and try to get a fix out shortly 👍

[2018-07-26 08:10] rechsteiner commented on #221
Great! Closing this then 👍

[2018-07-26 08:10] #221 closed

[2018-07-26 08:11] rechsteiner commented on #222
Yeah, you should be able to do that using the delegate methods. Another option would be to perform the fetching in `viewDidAppear` instead. Does that work for you?

[2018-07-26 08:13] rechsteiner commented on #224
Hi @mimmo00! You can get the currently selected view controller using the `delegate`:

[code]

Does that work for you?

[2018-07-26 08:14] rechsteiner commented on #198
Closing this for now, but feel free to re-open if you have any updates 🙂

[2018-07-26 08:14] #198 closed

[2018-07-26 08:16] rechsteiner commented on #203
Closing this for now, but feel free to re-open 👍

[2018-07-26 08:16] #203 closed

[2018-07-26 08:17] rechsteiner commented on #204
Closing this, but let me know if you need any more help getting  this working!

[2018-07-26 08:17] #207 closed

[2018-07-26 08:19] rechsteiner commented on #216
Closing this for now, but feel free to re-open if you need any more help getting this working 🙂

[2018-07-26 08:19] #216 closed

[2018-07-26 08:46] mimmo00 commented on #224
Thanks for the answer. I use it to get the scroll of the pages. Two questions:
- do I need to cast the destionationViewController into CollectionViewController, right?
- I have to use this delegate even if I don’t scroll?

Thanks a lot!

[2018-08-01 06:16] VishnuMU commented on #219
@luongchautuan Could you please describe what you are trying to achieve here?

[2018-08-01 06:39] VishnuMU commented on #198
@rechsteiner I'm trying to implement a UI like this. I feel this page was for the same need.
Do you think we will be able to implement this as well with Parchment?

![screen shot 2018-07-29 at 9 05 52 am](https://user-images.githubusercontent.com/15333022/43505150-aa328b68-956e-11e8-8ab2-83607309f63e.png)

[2018-08-04 00:03] liorazi commented on #220
@barkiiqbal I don't think it's an issue specifically related to Parchment.
According to what I know it's related to how UITabBarController is working with child view controllers which are navigation view controllers.

[2018-08-06 02:17] lm2343635 commented on #204
Why not add it to your library? so that developers can set the menu position directly.

[2018-08-08 12:39] grifas opened #225 "Crash when reloadData() meets the scroll"
I have 3 controllers. In each, at `viewDidAppear`, a request is sent and if there is a success,  calls `pagingViewController.reloadData()` to reload my custom PagingCells.

But I'm getting a crash when my second view controller appears, start the request and the user  returns quickly to the first view controller.

Crash in `EMPageViewController.swift` at line 532.
[code]

The `self.selectedViewCon

[2018-08-09 03:00] rahilbhansali opened #226 "Programmatic Navigation Controller & Autolayout"
Hi @rechsteiner,

Thanks for the awesome library. We've been using CapsPageMenu all this while but thought we'd switch to this. One issue I noticed - which I'd like your inputs on:

If you add the navigation controller dynamically - instead of on storyboard - while loading the view, the paging menu controller doesn't adjust the internal view height.

1. Paging Menu did not show up under the naviga

[2018-08-11 10:54] rechsteiner commented on #225
Thanks for the report! I will try to get this fixed as soon as possible.

[2018-08-11 10:58] rechsteiner commented on #224
Yeah, that's correct

Yes, this delegate should also be called if the user selects the items in the menu 🙂

[2018-08-11 11:08] rechsteiner commented on #215
Closing this now, but feel free to re-open if you still need any help 🙂

[2018-08-11 11:08] #215 closed

[2018-08-14 03:45] RickwangF opened #231 "I selected first pageItem the collectionview was changed,but the pagingview's content didn't change"
![image](https://user-images.githubusercontent.com/14838520/44070676-c46fb782-9fb7-11e8-9582-574bec7750ac.png)

[2018-08-14 03:49] RickwangF commented on #231
the pagingview was still showing third pageitem's viewcontroller

[2018-08-14 17:35] lovealbert commented on #231
me too. ㅠㅠ

[2018-08-14 17:43] ChrisDunaetz commented on #225
@rechsteiner I made a PR to solve this issue: https://github.com/rechsteiner/Parchment/pull/230

[2018-08-15 08:09] anthony1810 opened #232 "Corner Radius Indicator"
I simply want to add corner radius to the indicator using indicatorClass might be a little too much? Please provide the fourth customise option for indicator.

`pagingViewController.indicatorConerRadius = 2`

[2018-08-15 08:42] RickwangF commented on #231
I guess why cause this problem is I did override subviewcontroller’s viewdidlayoutsubviews function and call super’s founction

发自我的 iPhone

[2018-08-15 20:09] rechsteiner commented on #225
Released as part of v1.4.1 (#233) now ✌️

[2018-08-15 20:09] #225 closed

[2018-08-15 20:09] #224 closed

[2018-08-15 20:10] rechsteiner commented on #222
Closing this issue, but feel free to re-open if you have any further questions 🙂

[2018-08-15 20:10] #222 closed

[2018-08-15 20:18] rechsteiner commented on #211
@funlabuz thanks for the report! Managed to reproduce it now. Will get a fix out shortly 👍

[2018-08-15 20:24] #202 closed, assigned to nobody

[2018-08-15 20:26] rechsteiner commented on #209
Sorry for the delayed response. Can you verify that this is not working with the latest version (`v1.4.1`)?

[2018-08-16 11:28] lovealbert commented on #231
I solved it by changing the calling function. Thanks
viewWillAppear --> viewDidAppear

[2018-08-18 02:48] Smiller193 commented on #218
yeah I think he means that when you scroll down the paging item shrinks

[2018-08-19 12:04] MinaThabet1 commented on #218
Yes, that's exactly what I meant.

[2018-08-20 13:51] rajkumar0143 opened #234 "I am using storyboardExample it's working fine first and second, when install cocoapods "pod 'Parchment' " implement my project first and seconds view controller has display but first and second not display in view controller"

[2018-08-22 02:37] Smiller193 opened #235 "Disappear on scroll"
Is there any way to make the paging menu disappear on the scroll. Most of my paging view controllers are collectionviews and I don't like how the content disappears under the menu when I scroll vertically.  Is it possible to do this?

[2018-08-22 14:38] eyzuky opened #236 "Landscape scrolling constraint and layout only setup correctly after viewDidAppear"
Hi, I am attaching a video showing the problem.
My design is like your calendar example. Please help! why does this happen?
[ScreenRecording_08-22-2018 17-34-53.MP4.zip](https://github.com/rechsteiner/Parchment/files/2310778/ScreenRecording_08-22-2018.17-34-53.MP4.zip)

The file is attached in a zip since I couldn't publish an mp4 here.

Thanks!!

[2018-08-22 15:36] crabman448 commented on #197
I'm also wondering if it is possible to achieve such behaviour

![](http://qaru.site/img/49b6c0c843e74eb1e7ec60a607f84148.png)

Thanks for the library 👍

[2018-08-22 16:06] rechsteiner commented on #219
Closing this due it inactivity, but feel free to re-open if you any updates 🙂

[2018-08-22 16:06] #219 closed

[2018-08-22 17:44] rechsteiner commented on #210
Hi everyone 👋 Sorry for the delayed response – I finally had some time to look into this. As @crabman448 mentioned, it's not really supported to use large titles unless you're using a single UIScrollView as the root view.

But, I did manage to get it somewhat working. You can add a "hidden" scroll view behind the `PagingViewController` and then update the content offset of that scroll view based o

[2018-08-22 21:17] Smiller193 commented on #235
@rechsteiner im confused on how this was done

[2018-08-22 22:56] mikle94 opened #238 "different indicatorColor for each page"
Hello, I'm trying to change indicatorColor when pagingViewController didScrollToItem, but it doesn't work, it applies color from previous page. So I need to refresh it somehow. Here is what I've tried:
[code]
[code]

[2018-08-23 03:37] Smiller193 commented on #205
this doesn't work

[2018-08-23 03:38] Smiller193 commented on #205
can you reopen it because this isn't working for me

[2018-08-23 03:38] Smiller193 commented on #204
can you reopen it because this isn't working for me

[2018-08-23 07:14] rechsteiner commented on #235
Hi! I've created a new example target called `ScrollExample` that you can check out for implementation details. It's done by overriding the menu constraints and updating the top constraint whenever the currently selected scroll view is scrolling.

Here's the implementation: https://github.com/rechsteiner/Parchment/blob/master/ScrollExample/ViewController.swift

Let me know if that works for you 🙂

[2018-08-23 07:52] crabman448 commented on #210
I was also trying to accomplish such behaviour (without parchment. Just to check the idea). But in my situation I tried to add SearchBar also. And it caused the problems as it is possible to see in the attached gif.
https://stackoverflow.com/questions/50820140/ios-11-large-title-navigation-bar-switch-scroll-view
I will try to attach my project soon

[2018-08-23 07:59] crabman448 commented on #210
Inside workspace there are two attempts. One without any libraries. Another one is with XLPagerTabStrip(was the one, that we used before). Code is not very clean because the main point was to test the idea. Also I think there should exist some private methods or properties, that can help to achieve the ideal behaviour
[MyCountries 2.zip](https://github.com/rechsteiner/Parchment/files/2313460/MyCou

[2018-08-23 18:07] Smiller193 commented on #235
thanks I will be trying now

[2018-08-23 18:41] Smiller193 commented on #235
how would I switch it so that I can use paging items instead of paging index items because I am trying to follow the unsplash example for the menu

[2018-08-23 18:44] Smiller193 commented on #235
because I am getting a casting error that says this

where ImageItem is a paging item

[2018-08-23 18:51] rechsteiner commented on #235
You need to specify the paging type when defining the PagingViewController. E.g:

[code]

[2018-08-23 18:58] Smiller193 commented on #235
I followed your example and when i scrolled up nothing moved? it still went under it. Would it matter if it was a collectionview ?

[2018-08-23 19:01] rechsteiner commented on #235
No, that shouldn't matter. Just change `UITableViewDelegate` to `UICollectionViewDelegate` like this:

[code]

Maybe try adding a breakpoint to see if that method gets called at all? You need to remember to set the `delegate` on your collection view.

[2018-08-23 19:04] Smiller193 commented on #235
yeah that method doesn't get called at all and I am definitely setting the delegate as can be seen in this code block

  func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, viewControllerForIndex index: Int) -> UIViewController {
        let menu = MenuFeedController()
        let menuHeight = pagingViewController.options.menuHeight
        let insets = UIEdgeInsets(top:

[2018-08-23 19:05] Smiller193 commented on #235
Like so

lazy var collectionView: UICollectionView = {
    let layout =   UICollectionViewFlowLayout()
    layout.minimumLineSpacing = 0
    layout.minimumInteritemSpacing = 0
    layout.scrollDirection = .vertical
    let collectionView = UICollectionView(frame: .zero, collectionViewLayout: layout)
    collectionView.backgroundColor = .clear
    return collectionView
}()

@objc func setupViews(){

[2018-08-23 19:08] rechsteiner commented on #235
Yeah, that's the problem. You can only have one delegate at the time. I would just create a separate delegate on the view controller you are displaying. E.g:

[code]

Then call that delegate in your `UICollectionViewDelegate`:

[code]

[2018-08-23 19:13] Smiller193 commented on #235
So just to make sure. I have two files the view controller that sets up the paging menu and the various collectionViewControllers I understand the protocol usage but when you say then call that delegate in your UICollectionViewDelegate am i calling it in the file that sets up the paging view controller or the view controller that contains the actual collectionView

[2018-08-23 19:16] rechsteiner commented on #235
In the view controller that contains the actual collection view 🙂

[2018-08-23 19:41] Smiller193 commented on #235
Okay last question

extension MainViewController: UICollectionViewDelegate {

[    func contentViewControllerDidScroll(_: MenuFeedController) {
        if let menuView = pagingViewController.view as? CustomPagingView {
            menuView.menuTopConstraint?.constant = -menuOffset(for: )
        }
    }

    func scrollViewDidScroll(_ scrollView: UIScrollView) {
        // Offset the menu view bas

[2018-08-23 19:46] Smiller193 commented on #235
I think i got it like this ?

    func contentViewControllerDidScroll(menuFeed : MenuFeedController) {
        if let menuView = pagingViewController.view as? CustomPagingView {
            menuView.menuTopConstraint?.constant = -menuOffset(for: menuFeed.collectionView)
        }
    }

[2018-08-23 19:46] rechsteiner commented on #235
Yeah, that should work

[2018-08-23 19:51] rechsteiner commented on #218
I've updated the Unplash example to show how you can achieve this: https://github.com/rechsteiner/Parchment/blob/master/UnplashExample/ViewController.swift

Here's a video of how it looks like: https://www.youtube.com/watch?v=WMgfVHYGJe0

Note: I found a bug with the way the collection view layout was invalidated that I needed to fix in order to get this working: #240. I will try to get a new vers

[2018-08-23 19:51] Smiller193 commented on #235
cool got it thanks bro

[2018-08-24 09:33] Urkman opened #242 "Add Buttons"
Any chance to add a button to the left and right side of the paging control?

[2018-08-24 10:09] Smiller193 commented on #235
is there a way to incorporate what you did hear into what you taught me or would it be just as easy as taking the parts that make the menu height change?

[2018-08-24 10:12] Smiller193 commented on #235
https://github.com/rechsteiner/Parchment/blob/master/UnplashExample/ViewController.swift

[2018-08-24 12:04] rechsteiner commented on #235
Yeah, you can modify the menu height/top constraint to whatever you like. You can just copy over the `menuHeight` calculation from the example if you want the same behaviour in your app.

[2018-08-24 12:26] Smiller193 commented on #235
Yeah im playing with it now currently my menu item shrinks a little too much

<img width="370" alt="screen shot 2018-08-24 at 8 26 16 am" src="https://user-images.githubusercontent.com/16108750/44584585-74f59b00-a777-11e8-9d4c-8df5aa6ad910.png">

[2018-08-24 12:27] Smiller193 commented on #235
we have to change the maxChange property to control that correct

[2018-08-24 12:31] Smiller193 commented on #235
thanks for everything bro

[2018-08-24 13:12] rechsteiner commented on #235
Hmm, the should be selectable when it's collapsed as well. Seems to work just fine in the Unsplash example.

[2018-08-24 17:30] rechsteiner commented on #231
@RickwangF Hi! Did you figure this out or is this an issue with Parchment?

[2018-08-24 17:58] rechsteiner opened #243 "Version 2.0"
Currently working on a larger release of Parchment that will include the following features:

- [x] **Remove the need for generics**  (#285)
Removing the generic type on PagingViewController will clean up the API quite a lot. The delegate and data sources are currently a bit awkward because of the generic types. You still need to force cast the type, so the benefit of using generic is mostly for t

[2018-08-24 18:34] rechsteiner commented on #242
Hi! It depends a bit on what you are trying to achieve. If you need the buttons to be scrolling alongside the menu items, you would need to create your own `PagingCell` where you can show a button depending the some data that you set in your `PagingItem`.

Here's the general approach you can use:

First, create your own `PagingItem` type that contains something to determine whether or not you shou

[2018-08-24 18:35] rechsteiner commented on #211
Pushed a fix for this now #244 ✌️

@voytov1ch @funlabuz could you target the `master` branch and verify that this actually fixes the issue for you as well?

[2018-08-24 18:37] rechsteiner commented on #197
@crabman448 It's not possible with the current version, but as soon as version 2.0 (#243) is done you should be able to use any custom type of page view controller 🙂

[2018-08-24 19:15] rechsteiner commented on #238
Hi!

Pushed a fix now that should update the indicator when changing the options #245. Can you target the `master` branch and see if it works for you now? 🙂

[2018-08-24 19:34] rechsteiner commented on #226
Hi @rahilbhansali!

It's true that it's not accounting for the height for the navigation bar. I'm not really sure how I would do that without taking too many assumptions about how it's being used. The default implementation constrains the page view controller to the bottom of the menu view. If you want to go underneath the menu view, you can subclass `PagingView` and setup your own constraints ([S

[2018-08-24 20:49] Urkman commented on #242
Thanks for your answer :)

But I don't want the Button to scroll with the items.
It should be fixed on the right or left side.

In my case I want to have an "Add Button" on the side of the list...

[2018-08-24 22:06] mimmo00 commented on #224
Hi @rechsteiner , unfortunately the delegate is not called on startup. it is only called when you scroll or select a menu item. So I have not found a solution yet :(

[2018-08-24 23:26] rechsteiner commented on #242
Ah okay. Then you can just add your buttons directly to `pagingViewController.view`

[2018-08-24 23:35] mimmo00 commented on #224
Thanks, but in ViewDidAppear it is nil

`
...
pagingViewController.select(pagingItem: CalendarItem(date: Date()))
            if (pagingViewController.pageViewController.selectedViewController == nil) {
                print("NIL")
            }`

I need to replicate this on start:

`func pagingViewController<T>(_ pagingViewController: PagingViewController<T>, didScrollToItem pagingItem: T, starti

[2018-08-25 14:57] rechsteiner commented on #231
Ah okay. Could you provide some more details on how to reproduce this?

[2018-08-25 15:14] mimmo00 commented on #224
@rechsteiner maybe the problem is that I'm using a subclass of PagingViewController?

`class ResizedPagingViewController : PagingViewController<CalendarItem> {
    override func loadView() {
        view = ResizedPagingView(
            options: options,
            collectionView: collectionView,
            pageView: pageViewController.view)
    }
}`

[2018-08-26 10:40] rajkumar0143 commented on #234
Thanks you spent your valuable time, I got solution

[2018-08-26 13:01] MinaThabet1 commented on #218
Ok thank you so much

[2018-08-26 13:15] rechsteiner commented on #234
Awesome 👍

[2018-08-26 13:15] #234 closed

[2018-08-26 13:28] rechsteiner commented on #224
Using a subclass shouldn't be a problem. The view controller is not added before `viewDidAppear`. Are you sure you are checking there and not in `viewDidLoad`? I just tried adding this to the `CalendarExample` and it logs the selected view controller just fine:

[code]

[code]

[2018-08-26 13:29] rechsteiner commented on #235
Did you manage to get the selection working?

[2018-08-26 13:32] rechsteiner commented on #236
Hi @eyzuky! It's a bit hard to tell without some more details on your implementation. How are you adding that "Aug" view in the menu? Is that part of the collection view?

[2018-08-26 13:33] rechsteiner commented on #218
No problem! Let me know if you find any issues with that implementation 🙂

[2018-08-26 13:33] #218 closed

[2018-08-26 13:42] mimmo00 commented on #224
Yes, I tried everything inside `viewDidAppear `
For now I solved this dirty way (inside `viewDidAppear `):

[code]
Thanks!

[2018-08-26 13:44] rechsteiner commented on #224
Can you try calling `select(pagingItem:)` in `viewDidLoad` then printing `selectedViewController` in `viewDidAppear`?

[2018-08-26 13:50] mimmo00 commented on #224
Yes, I tried again now. If I'm logged in, it crash because it loads the listing from server. If I am not logged in, the empty status appears without problems. Probably it is some strange logic of the listing to cause the error, not the library :)

[2018-08-27 02:26] Smiller193 commented on #235
no i didn't

[2018-08-27 07:54] eyzuky commented on #236
hey @rechsteiner, thanks for your response!
Well, it is mostly just views and collectionViews, specifically the "Aug" is a little view with a label.
What seems to be the problem (which I cannot solve), is occurring only on iPhone X, where there is a Safe area thing. I am not sure 100%, but this seems to be happening with collection views more than anything else. From our research, it looks like th

[2018-08-27 21:04] gordoneliel opened #246 "Header Above MenuItem"
Is there an easy way to add a header above the MenuItemsw without writing a whole collection view layout. The idea here is for the header to scroll with the menu items and possibly the menu items stick to the top while scrolling

Example:

![examplewithheader](https://user-images.githubusercontent.com/5516761/44686118-11cb6900-aa02-11e8-9f8d-4a6e05acbc65.jpg)

[2018-08-30 06:01] rahilbhansali commented on #226
@rechsteiner this approach works for now. Thanks!! Fixes the issue at the bottom. Having some scroll view issues at the top now - though i'll figure it out. Appreciate the help.

I'll delve deeper when I get a chance and see if i can help with a more generic solution to account for non-storyboard created navigation controllers

[2018-08-30 15:24] Smiller193 opened #247 "Weird Issue with Indexes"
Im not sure if this is an error or not but is the library supposed to load two indexes at a time?
Everytime I select one it loads the index right next to it. For example if i select index 1 it loads the content for index 2. Is this library supposed to load so many times?

[2018-09-01 03:20] michaeldong opened #248 "Can't find a Custom "menuLayoutClass" demo"
In PagingViewControllerLayout.swift file, you write this comment:

[code]

I want to implement my own menuLayout.   For Example: vertical's flow layout or other layout I need.

Solution1:
Through your comment. I  must subclass  PagingViewControllerLayout directly.
I have try subclass it , override it's prepare() function, but I can't override PagingViewControllerLayout's  func "createLayoutAttribu

[2018-09-05 08:31] dadidu67 opened #249 "Working in a Tabbed App"
![simulator screen shot - iphone 8 - 2018-09-05 at 10 29 24](https://user-images.githubusercontent.com/35390510/45081284-29d47400-b0f7-11e8-9377-4cd563189c9b.png)
Is it possible to use Parchment in an Tabbed App? I did try to add the lib to my projekt, but if do the same like in the sample code (which is not difficult) i don't see the whole menu only the indicator.

[2018-09-06 17:06] igordeoliveirasa opened #250 "Setting title at viewDidLoad issue"
If I set the title of my viewControllers at viewDidLoad, Tabs dont show anything.

[2018-09-07 04:58] glennposadas opened #251 "SetPagingItem not called when tapped (not scrolled)."
Hi, just a minor issue. I have a custom PagingCell and this method isn't called when the title is tapped and not scrolled.

`override func setPagingItem(_ pagingItem: PagingItem, selected: Bool, options: PagingOptions) { }
`
So what happens is that the tapped title does not get highlighted and the last scrolled title or last selected title stays highlighted though it's not selected anymore (and th

[2018-09-07 12:39] Singh09Meenu opened #252 "Want to remove UISwipeGestureRecognizer"
I am using this pod file and want to remove the UISwipeGestureRecognizer feature. I tried everything but unable to do that ,can any one help me out for that.
Thanks in advance

[2018-09-07 12:42] #252 closed

[2018-09-09 13:44] glennposadas commented on #251
GIF/Demo: https://im4.ezgif.com/tmp/ezgif-4-55ec7e1c6c.gif

[2018-09-15 20:28] Singh09Meenu opened #253 "Want to pass data from MainViewController to FirstViewController on selecting the data in MainViewController"
Hi,
I am making a dropdown in mainViewController and after getting the value in MainViewcontroller ,I need it to be passed in FirstViewcontroller at same time .I had already tried delegates but it is not working .Can any1 help me in this please.
Thanks in advance.

[2018-09-18 13:55] Silvia4 commented on #204
Hi,
this isn't working for me too. Can you reopen this issue and help us? Thanks

[2018-09-18 14:01] rechsteiner commented on #204
Can you provide some more details on what's not working? The above suggestion seems to work just fine here.

[2018-09-18 15:21] Smiller193 commented on #204
@rechsteiner on an iphone 8 plus are the buttons that we use for paging supposed to look to far to the left or have padding that makes it not look centered.

[2018-09-18 18:01] Smiller193 commented on #204
let me show a picture of what I'm talking about it seems to only be present on the bigger iPhones because on the iPhone x and 8 I don't notice it

<img width="346" alt="screen shot 2018-09-18 at 2 01 23 pm" src="https://user-images.githubusercontent.com/16108750/45706868-5d79ba00-bb4b-11e8-8fee-6277669708c1.png">

[2018-09-18 18:54] rechsteiner commented on #204
@Smiller193 I don't understand how that is related to positioning the menu to the bottom of the screen. Are you having issues with overwriting `setupConstraints`? Can you make sure that you are actually constraining the menu view to each side without any padding? If you think this is an issue with Parchment, please open a separate issue 🙂

[2018-09-18 18:56] Smiller193 commented on #204
oh sorry lol  yeah this had nothing to do with adding the menu to the bottom

[2018-09-19 14:43] Silvia4 commented on #204
Hi, I'm sure I'm not setting the constraints properly.. I have a view controller with a label a table view and other things, all constrain to the "safe area" margins. If I put the menu on the top everything is working fine, all the controls are properly shifted down. If I put the menu at the bottom, with your suggested constraints, I can see it at the bottom but all the other controls aren't shown

[2018-09-21 18:04] Michele404 opened #254 "TabBarController"
TabBarController is not showing with Parchment, why?

[2018-09-21 18:06] Michele404 commented on #249
Hey.
Did you solve the problem?
I can't see the TabBarController on Parchment View

[2018-09-23 10:59] dadidu67 commented on #249
Yes in 'extension UIView'(UIView+constraints.swift) I had to change the let topContraint = NSLayoutConstraint( ... constant = ANOTHER VALUE).
But this is not related to the problem that you not see the 'TabBarController'. Try maybe to play around with the 'bottomConstraint'.

[2018-09-23 10:59] #249 closed

[2018-09-26 13:08] glennposadas commented on #251
My colleague has fixed this issue. He adjusted the threshold, like so:

// Thresholds to update view layouts call delegates
            if (progress >= 0.99 && self.afterViewController != nil) {
                self.didFinishScrolling(to: self.afterViewController!)
                scrollView.setContentOffset(CGPoint(x: self.view.bounds.width, y: 0), animated: true)
            } else if (progress

[2018-09-26 18:26] gmogames opened #255 "Swift 4.2 Support"
Hey @rechsteiner, do you have support for Swift 4.2 coming up soon?
Do you need help getting it supported?

Thanks!

[2018-09-28 00:14] Sopheak0 commented on #247
I was about the open a new issue too about this problem? I don't want it to load like that though! How can we achieve this?

[2018-09-28 18:50] obadasemary opened #256 "Need to make a Custom View for tab bar"
Hi I need to make a custom view for tab bar like the image

<img width="311" alt="screen shot 2018-09-28 at 9 47 11 pm" src="https://user-images.githubusercontent.com/7041989/46227645-83336a00-c368-11e8-8341-a0fd322c1307.png">

How Can I make it

[2018-09-29 17:42] rechsteiner commented on #204
@Silvia4 it's a bit hard without to say what's wrong without seeing your implementation. This isn't really related to this issue though, so if you still need help with this feel free to open a separate issue 🙂

[2018-09-29 17:42] #204 closed

[2018-09-29 17:42] #209 closed

[2018-09-29 17:47] rechsteiner commented on #210
Closing this for now as it seems like this the only way to achieve this. I will update the `LargeTitlesExample` target if I find any improvements 🙂

[2018-09-29 17:47] #210 closed

[2018-09-29 17:47] #211 closed

[2018-09-29 17:48] #226 closed

[2018-09-29 17:48] rechsteiner commented on #231
@RickwangF  any updated on this?

[2018-09-29 17:50] rechsteiner commented on #236
@eyzuky did you manage to figure this out? If not, are you able to reproduce this in an example project or implementation that you can send? 🙂

[2018-09-29 17:51] #238 closed

[2018-09-29 17:51] #242 closed

[2018-09-29 17:56] rechsteiner commented on #246
Hi @gordoneliel! Sorry for the delayed response. I don't have any examples of how to achieve exactly this, but I'm pretty sure it should be possible to do this. You basically need to create your own `PagingView` subclass where you add your image view above the menu view. Then you need to listen to scroll changes by setting the scroll view delegate and updating the constraints in your custom view.

[2018-09-29 18:53] rechsteiner commented on #250
Hi! Yes, this is because it's reading the `title` property of the view controllers when you initialize your `PagingViewController`. It's not observing changes to the title property, so if you set the title after you initialize your `PagingViewController` it will not show anything. You either need to set the title properties earlier (e.g. in init), or call `reloadData` after you updated your titles

[2018-09-29 18:54] rechsteiner commented on #251
Thanks for the report! Will look into getting this fixed 🙂

[2018-09-29 18:56] rechsteiner commented on #253
Hi @Singh09Meenu! I don't think I understand exactly what the problem is. Can you provide some more details on your implementation and what you are trying to achieve?

[2018-09-29 18:58] rechsteiner commented on #254
Hi @Michele404! It doesn't sound like this is an issue with Parchment. Can you explain a bit more what is not working and how to reproduce it?

[2018-09-29 19:15] Singh09Meenu commented on #253
Thanks for the approach ,I had resolved the problem thanks for replying.

[2018-09-29 19:15] #253 closed

[2018-09-29 19:17] rechsteiner commented on #256
Hi @obadasemary!

It depends a bit how dynamic you need it to be 🙂

**Option 1**:

If it's always three items then you can create your own `PagingTitleCell` where you apply corner radius based on the index of the paging item. E.g:

[code]
**Option 2**:

If you need the number of items to be dynamic, I think I would create my own `PagingTitleItem` that contains a title and an enum saying how it sho

[2018-09-29 19:57] rechsteiner commented on #248
Hi @michaeldong! Yeah, the documentation for custom layouts is very lacking. I'll try to improve that when I have some more time 🙂

It's true that need to subclass `PagingViewControllerLayout` and not `UICollectionViewLayout`. You basically need to override the same methods that you would if you where subclassing `UICollectionViewFlowLayout`, e.g. `layoutAttributesForElements(in rect:)` and `layou

[2018-09-29 20:09] rechsteiner commented on #247
Yeah, this is the expected behaviour if you are talking about loading the next view controllers? This is the same way that `UIPageViewController` works. It's initializing the previous and next view controllers in order prevent any lag when the user starts swiping to the next item.

[2018-09-30 00:42] Smiller193 commented on #247
@rechsteiner can i ask another question or do I have to open up a whole different issue

[2018-09-30 08:10] rechsteiner commented on #247
No, feel free to ask here. What's up? 🙂

[2018-09-30 12:00] michaeldong commented on #248
@Rechsteiner. Thank you for your detail reply and your demo code. I think your reply solve my question of subclass which class 「PagingViewControllerLayout」.

Next, I will base your 「rotationAngle」code. Try  to solve my problem :「 Left is custom Menu ，Right is pages, pages can up-down scroll.」
Your current demo: Top is menu layout, Bottom is pages, pages can scroll left-right.
I don't want to chang

[2018-09-30 14:45] Smiller193 commented on #247
This is the current setup that i have for my menu items

    class MainViewController: UIViewController,ContentViewControllerDelegate {
        fileprivate let items = [
            ImageItem(index: 1, title: "City", headerImage: UIImage(named: "city")!),
            ImageItem(index: 2, title: "Concert", headerImage: UIImage(named: "concert")!),
            ImageItem(index: 4, title: "Sports", hea

[2018-09-30 15:15] rechsteiner commented on #247
Yes, you can use `sizeToFit` as your `menuItemSize`. If you change this line:

[code]

To:

[code]

I'm pretty sure it should work 🙂

[2018-09-30 15:37] Smiller193 commented on #247
nope still looks the same

[2018-09-30 15:39] Smiller193 commented on #247
maybe it is due to the insets let me try to change that

[2018-09-30 16:03] rechsteiner commented on #247
Are you also using `sizeToFit` in your updateMenu function?

[2018-09-30 16:32] Smiller193 commented on #247
that fixed it

[2018-09-30 18:31] rechsteiner commented on #247
Awesome!

[2018-10-01 00:53] michaeldong commented on #248
wow, Parchment May support vertical or generic layout in future.  Thank you for you and your parchment again. Your sincere reply save me much time! Thanks.

[2018-10-01 17:29] rechsteiner commented on #256
You can apply corner radius to the `contentView` property in your `PagingTitleCell` subclass

[2018-10-01 18:32] swordark commented on #256
@rechsteiner  I applied it directly to PagingTitleCell self. Now i have better result. (Because i am using selected item background and it is changing whole background of item, not just content views background) Thank you.

Also i am trying to add shadow like the image above. But when i add shadow, i couldnt make it visible at the top and bottom of menu item cell. I used menuInsets but still shado

[2018-10-01 19:39] rechsteiner commented on #256
It’s probably being clipped by the collection view cell. Can you try setting `clipsToBounds = true`?

[2018-10-02 08:58] obadasemary commented on #256
@rechsteiner Thanks for the great reply.

[2018-10-08 14:33] grifas opened #258 "Indicator View Insets"
I configured my pagingViewController with

`pagingViewController.menuItemSize = .sizeToFit(minWidth: 100, height: 40) `

and sometimes I need to have just one page. In this case there is a weird left/right offset/inset on indicator view. I also tried with your example project as you can see:

![simulator screen shot - iphone 6 - 2018-10-08 at 16 24 49](https://user-images.githubusercontent.com/926

[2018-10-08 15:46] wakaryry opened #259 "How could I insert the page items into a nav or view with others"
As the following UI:

<img width="537" alt="default" src="https://user-images.githubusercontent.com/7576559/46618937-5b57b980-cb53-11e8-8737-63b4f2f15f6d.png">

[2018-10-08 16:07] rechsteiner commented on #259
Hi @wakaryry! Check out the `NavigationBarExample` target for implementation details 🙂 Does the solution there work for you?

[2018-10-08 16:13] rechsteiner commented on #258
Hi @grifas! It seems to be a bug where the indicator insets are not being applied to both sides if you only show a single item. Thanks for catching that! I'll get that fixed shortly 🙂

If you want to get rid of the insets altogether you can set the `indicatorOptions` like this:

[code]

[2018-10-08 16:29] wakaryry commented on #259
I could make the collectionView into nav. But it shows nothing except for paging items cell.

[code]

Actually I just add the `navigationItem.titleView = pagingViewController.collectionView` for `IconsExample`.

[2018-10-08 16:48] wakaryry commented on #259
[code]

[code]

It works.

Thanks.

[2018-10-08 17:47] #259 closed

[2018-10-08 20:04] jaceklapinski opened #260 "Two pages - one ViewController"
Hello,

Is there any way to have only 1 ViewController and change his state base on selected page ( tab ) ??

Best

[2018-10-09 13:43] wakaryry opened #261 "seems the indicator view changes width"
### 1
![default](https://user-images.githubusercontent.com/7576559/46673081-8f8eb100-cc0b-11e8-9bf1-99cee10bfc9c.png)

### 2
![default](https://user-images.githubusercontent.com/7576559/46673112-a2a18100-cc0b-11e8-8063-03e40882d13f.png)

### 3
![default](https://user-images.githubusercontent.com/7576559/46673136-af25d980-cc0b-11e8-8189-0c20e9556d1f.png)

It seems that the slider line changes its l

[2018-10-10 09:41] AntoGeekz opened #262 "Update a PagingCell / remove current page"
hello,

It's not really a issue, but I need your help because I don't found how to achieve what I want to do with Parchment :(

How is it possible to update just one PagingCell? And how can I delete the current page (or another) displayed? I don't understand/find how is it possible...

thx for your help and nice job for the lib :)

[2018-10-10 17:42] wakaryry opened #263 "[Help] How to realize a page with multi-parts scrollable"
Actually I got a problem which is not much about the framework.
It could be helpful for any help.

### Problem:
I want to realize a scrollable view which has multi-parts.
As marked:
<img width="1080" alt="default" src="https://user-images.githubusercontent.com/7576559/46751855-4c593e80-ccee-11e8-9ff5-9d225dfda203.png">

The whole page is scrollable. `Part 1` is fixed height. `Part 2` has a fixed-h

[2018-10-15 08:43] eyzuky commented on #236
@rechsteiner Hey! thanks for your interest. Actually, I haven't.. this is really frustrating as it is the only thing that is holding us back from releasing our feature. I will try to make the example project, I need to have few hours of capacity for that, will work on my boss :)

[2018-10-15 08:53] eyzuky opened #264 "Caching more than 3 VC's in infinite page view controller"
Hi! Is there a possibility to cache more VC's, maybe more towards the 10-20 VCs?

[2018-10-15 09:00] rechsteiner commented on #264
Yeah, if you're using `FixedPagingController` it will keep all the view controllers in memory. If you want to do it using `PagingViewController` you need to allocate and store a reference to you view controllers and return them in the data source.

[2018-10-15 09:45] eyzuky commented on #264
@rechsteiner Thanks. Though it is not clear to me on where/when I should reload the cache in a proper efficient manner.. any insights?

[2018-10-15 10:05] rechsteiner commented on #264
Do you have a fixed amount of view controllers or are you using PagingInfiniteDataSource?

[2018-10-15 10:32] eyzuky commented on #264
Unfortunately, no, I am implementing a calendar so every day has a different VC.. i want to load a week forward and backwards, and as I see the difference in speed between adjacent VC's, but sometimes the user presses on a day that is not cached and it is much slower.. I want to at least cache around the selected day. Maybe I will do some LRU cache, so the last used is removed everytime a new one

[2018-10-15 11:17] rechsteiner commented on #264
Sounds like you are doing something quite heavy in the initialiser of that view controllers then. It shouldn't be a very noticeable delay for just allocating a view controller when clicking it.

It would require quite a lot of on your end to "prefetch" view controllers like that, so I would recommend looking into why it's taking so long to initialise it in the first place. Maybe you can move somet

[2018-10-15 11:32] eyzuky commented on #264
@rechsteiner Thank you, I will investigate this direction.

[2018-10-16 13:41] wakaryry commented on #263
It's solved,  but with a little bug.

[2018-10-16 13:41] #263 closed

[2018-10-17 12:01] eyzuky commented on #264
Hey @rechsteiner , just to update - eventually we found the issue was loading some nibs was too pricey, since the inner collectionView loaded them in every VC. Solved it by replacing nibs with programatic cells :) happy coding

[2018-10-20 11:33] Sergozh opened #265 "[Help] Need to create custom highlighted(bubble) indicator view"
Hey, @rechsteiner ! I love your framework so much.

Could you help me and give an advice is it possible to implement custom indicator view like on images below? Thank you.

![img_4797](https://user-images.githubusercontent.com/1511211/47255140-f8c8bc80-d474-11e8-993e-ad7116bf4855.jpg)
![img_4796](https://user-images.githubusercontent.com/1511211/47255142-fc5c4380-d474-11e8-94c1-2cc8471146d6.jpg)

[2018-10-23 19:39] #264 closed

[2018-10-23 19:41] rechsteiner commented on #261
Hi @wakaryry! This is the default configuration, but you can change it by setting:

[code]

Does that work for you?

[2018-10-23 20:46] Smiller193 opened #267 "Pull to refresh"
Sorry to burden you again with my problems but this is most likely the last one :). I want to implement pull to refresh inside the collectionViews that are contained inside the pagingViewController. I am using this library  https://github.com/CRAnimation/CRRefresh  which makes implementing a pull to refresh fairly easy.

Only thing that is seemingly weird and I may be wrong is the nature of how th

[2018-10-24 01:30] wakaryry commented on #261
OK. Got it.
Thanks.
But when I use it with a UIScrollView which has many UIScrollView subviews. The tabs item view I added into titleView is not centered in the titleView. When I switch to that page, it changes its position with a left offset.
So I changed into another pager package.
I could paste my code later since I have deleted it.

[2018-10-25 05:48] bitflying opened #268 "Can the menu be put at bottom instead of top"
Hi, friends,

For all examples of Parchment, menu always is put at top under NavigationBar. So, Is there any way to put menu at bottom?

Thanks in advance!

[2018-10-28 10:37] svatrous opened #269 "Remove CollectionView"
Hi!

I need't top collectionView, can I disable it?

Thanks!

[2018-10-30 09:05] Sopheak0 opened #270 "I can't use menu item class for pagingviewcontroller anymore"
What is the newest way to set custom menuitemclass for pagingcell?

[2018-10-30 09:13] Sopheak0 commented on #270
lol. found out myself.
pagingViewController.menuItemSource = PagingMenuItemSource.class(type: PagingCell.self)

[2018-10-30 09:13] #270 closed

[2018-11-01 19:47] akun1 commented on #267
Hi, did you ever find a solution to this?

[2018-11-01 21:34] #255 closed

[2018-11-01 21:36] rechsteiner commented on #246
Did you manage to get this working?

[2018-11-01 21:37] #247 closed

[2018-11-01 21:38] #250 closed

[2018-11-01 21:38] #254 closed

[2018-11-01 21:39] #256 closed

[2018-11-02 08:16] rechsteiner commented on #260
Hi @jaceklapinski! Sorry for the late reply. This isn't really supported at the moment, but it will be possible once I've separated the menu into a standalone component: #243.

That said, you might be able to get it working by creating a `PagingViewControllerDataSource` that always returns the same view controller and set `pagingViewController.contentInteraction = .none`

[2018-11-02 08:17] rechsteiner commented on #261
Okay, I'm not sure if that is really an issue with Parchment though. Feel free to re-open if you think this is a bug 🙂

[2018-11-02 08:17] #261 closed

[2018-11-02 08:21] rechsteiner commented on #262
Hi! It's not really possible to update just a single cell. If you need to update the menu items or remove current pages you need to update your data source and call `reloadData`. Here's an introduction to using [custom data sources](https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md). Does that work for you?

[2018-11-02 08:29] rechsteiner commented on #267
Hi! The default behaviour is that the menu don't drag down like tat. It looks like you've based your implementation on the `UnsplashExample`? In that case, you can update the `calculateMenuHeight` to cap the menu height at a certain point. Does that work for you?

[2018-11-02 08:30] rechsteiner commented on #269
Hi! That isn't really possible and I'm not sure I understand why you need to use Parchment in that case. If you only want to page between view controllers I think it's better to use `UIPageViewController` directly. Does that work for you?

[2018-11-02 10:43] rechsteiner commented on #268
Hi @bitflying! You can customize the position of the menu by subclassing `PagingView` and override `setupConstraints` like this::

[code]

[2018-11-02 12:41] wakaryry commented on #261
@rechsteiner

The reason could be I have left/right bar button item in my storyboard. I deleted all bar items in storyboard for the controller, then it got OK.

Thanks.

[2018-11-02 13:36] AntoGeekz commented on #262
Hi, oh ok, too bad :'( I wanted to avoid to reload all just to update one cell.

Thx for you answer.

[2018-11-03 11:07] bitflying commented on #268
Thanks @rechsteiner , I will try it!

[2018-11-03 13:29] #231 closed

[2018-11-03 13:33] Sergozh commented on #265
Thanks for advice @rechsteiner ! And do you know any practices to achieve dynamic text highlight when `PagingIndicatorView ` is moving?

[2018-11-05 08:49] iballan opened #272 "I want to add another level with custom header since this library depends on CollectionView"
I am thinking of using this library for doing such UI

![screen shot 2018-11-05 at 11 41 19 am](https://user-images.githubusercontent.com/735154/47987246-19894700-e0f0-11e8-9cda-2e4be4016102.png)

1- is a google maps view
2- Category
3- Subcategory
4- List of products

when user clicks category in (2), i will reload Parchment with the new subcategories (3+4).
So 3-4 can be done using Parchment and

[2018-11-06 12:48] eftalersoy commented on #200
I am getting same issue on latest version.
calling reload data on notificationcenter observer breaks evverything for FixedPagingViewController.

[2018-11-06 13:15] rechsteiner commented on #200
@eftalersoy can you open a new issue with some more details? 🙂

[2018-11-06 20:23] duczki4 opened #273 "cannot compile project after fresh install"
I created new project. Installed newest cocoapods and installed parchment (0.9.0).
I made 'repo update'. Even though I cannot build empty project with installed parchment library.
![zrzut ekranu 2018-11-06 o 21 19 26](https://user-images.githubusercontent.com/35579002/48091512-34e87500-e20a-11e8-99c8-bf3ceeb57085.png)

[2018-11-06 20:55] rechsteiner commented on #273
Hi! Looks like your’re trying to install an old version. Can you update to the latest version (`1.4.1`)?

[2018-11-07 07:03] ofirreuv72 opened #274 "remove DEVELOPMENT_TEAM from Parchement framework"
Hi,

Is it possible to remove the DEVELOPMENT_TEAM entry on the Parchement framework.

fastlane is having issuses signing from the command line

--- a/Parchment.xcodeproj/project.pbxproj
+++ b/Parchment.xcodeproj/project.pbxproj
@@ -1685,7 +1685,6 @@
                                CODE_SIGN_IDENTITY = "iPhone Developer";
                                "CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "";

[2018-11-07 07:30] rechsteiner commented on #274
Yeah, we can definitely remove that. If you can open a PR that would be awesome 🙂

[2018-11-07 22:45] ofirreuv72 commented on #274
Hi,

I tried to create a branch via the web GUI, I don't think i have permissions.

When i try to push a new branch i am getting the below error.

ERROR: Permission to rechsteiner/Parchment.git denied to ofirreuv72.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists

[2018-11-08 15:50] michael-pont commented on #250
Thank you @rechsteiner, the above comment helped me.
Had the title property in required init and not in override init which caused the titles not to show in the menu. The following code works for me:

    required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }

    override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?) {
        super.init(nibName:

[2018-11-08 17:05] yungdbo commented on #246
I am having this same issue. I tried using the scrolling example, but with my situation, I need to able to scroll in the Parchment paging view and the header. I keep running into constraint issues where my paging view doesn't scroll past a certain point. No matter how tall I make the View in the view controller (that I added the paging view and header which is a picture that is about 150 pts big),

[2018-11-08 17:15] pushchris commented on #246
Likewise having similar issues with getting that area to be vertically scrollable. An example would be much appreciated

[2018-11-10 00:43] yungdbo opened #275 "Stop Parchment from Reloading View Controllers"
I have collection and table views in my controllers for parchment and I reload the data every time the the controller is viewed (called in viewWillAppear). I also reload the paging view controller and it puts my app into a loop that is constantly reloading my collection/table views in my controller views and the paging view controller.

All I want to accomplish when reloading the paging view contr

[2018-11-10 13:03] isaacraja15 commented on #253
hi singh ,

how you solve kindly give that details .. i need pass data from first tab to second tab

[2018-11-13 08:33] Singh09Meenu commented on #253
In MainViewController were I am getting the value which I have to pass there in my recalling the viewdidload  by this line
 self?.viewDidLoad().
After that , simply make a var object in my FirstViewController
       e.g.  var weekValue = ""
       and passed the data Of Mainviewcontroller to firstViewcontroller

        let storyboard = UIStoryboard(name: "Main", bundle: nil)
        let vc1 = sto

[2018-11-14 03:46] Sopheak0 opened #276 "How to get seleted index in PagingViewController (infinite scroll)"
as [https://github.com/rechsteiner/Parchment/issues/199] problem, he has been solved this problem for FixPaging Viewcontroller. but i want to get the selected index for Infinite scrollview also (using in calendar)

[2018-11-15 05:59] Singh09Meenu commented on #253
Hi,

I haven't tried that and don't have the idea too.

Thanks and regards,
Meenu singh

On Thu, Nov 15, 2018 at 1:55 AM isaacraja15 <notifications@github.com>
wrote:

[2018-11-15 07:03] dhaval4gvm opened #277 "How to select item programmatically after first time loading is over"
I have tried several solutions like

[code]

I have tried writing above code in button click event, it works,, but if try same inside delegate method, then it won't work. If I write it while initialising `pagingViewController` then it works fine.

Please help me out in this situation.

[2018-11-15 11:17] dhaval4gvm commented on #277
I have tried to place item selection code inside `viewWillAppear` method, which will be called once user navigate to other screen and come back to same screen when this code is implemented.

[2018-11-17 10:15] isaacraja15 opened #278 "how to navigate second tab from side menu navigation"

[2018-11-17 10:17] isaacraja15 commented on #278
![screen shot 2018-11-17 at 3 46 34 pm](https://user-images.githubusercontent.com/44321070/48659973-fd868d80-ea7f-11e8-90ed-eb7e775ee101.png)
![screen shot 2018-11-17 at 3 46 29 pm](https://user-images.githubusercontent.com/44321070/48659974-fd868d80-ea7f-11e8-857e-5317724bf206.png)
if i click ticket list  its need to go active tab .
how can i write code ?

[2018-11-18 01:04] diondula1 opened #279 "UnplashExample ScrollView. collectionView animation probblem"
Hi there .. congratts for the work ...  im having problem implementing UnplashExample
<img width="352" alt="screen shot 2018-11-18 at 2 01 17 am" src="https://user-images.githubusercontent.com/45133878/48667452-3fdab980-ead6-11e8-973e-8110b8f27c47.png">

[2018-11-18 11:35] rechsteiner commented on #279
Hi @diondula1! Could you provide some more details on your implementation? Is the problem that the menu items gets clipped?

[2018-11-18 11:36] rechsteiner commented on #278
Hi @isaacraja15! You can programatically change tabs by calling:

[code]

https://github.com/rechsteiner/Parchment#selecting-items

[2018-11-18 11:37] rechsteiner commented on #277
Hi @dhaval4gvm! I'm not sure I understand exactly what you mean. Which delegate method are you trying to select it from?

[2018-11-18 11:46] rechsteiner commented on #276
Hi @Sopheak0! When using the infinite data source the items doesn't really have any indexes. What do you need to index for? Maybe you can to use the currently selected date instead?

You can get the selected index based on the currently visible items like this:

[code]

But keep in mind that these indexes will change when scrolling in the menu.

[2018-11-18 11:49] rechsteiner commented on #275
Hi @yungdbo! Unfortunately, I don't think there's any way of doing this right now. This is definitely something that should be possible though. I'll look into adding support for reloading only the menu items as soon as possible 🙂

[2018-11-18 11:56] rechsteiner commented on #274
You need to fork the project, then create a pull-request from your fork 🙂 But I've updated the project to remove the development team now #280

[2018-11-18 11:56] #274 closed

[2018-11-18 11:56] #273 closed

[2018-11-18 11:57] #269 closed

[2018-11-18 11:57] diondula1 commented on #279
Hi @rechsteiner here is all the code problem is that menu item dont animated in top it just stand there .. btw i changed only 2 rows from example version .
1. collectionView.topAnchor.constraint(equalTo: safeAreaLayoutGuide.topAnchor),    2.pageView.topAnchor.constraint(equalTo: safeAreaLayoutGuide.topAnchor)

Here is and one example of wat its going on
<img width="352" alt="screen shot 2018-11-18

[2018-11-18 11:58] #268 closed

[2018-11-18 11:58] #267 closed

[2018-11-18 11:59] #262 closed

[2018-11-18 11:59] #260 closed

[2018-11-18 12:10] isaacraja15 commented on #278
Thank you for reply...  OK so what can I decular pagingViewController ?

Need to decular again?

Let pagingViewController = [] ?

Could you explain me please?

On Sun, Nov 18, 2018, 5:06 PM Martin Rechsteiner <notifications@github.com
wrote:

[2018-11-18 12:13] Sopheak0 commented on #276
sorry that I said the wrong word. I mean the selected date that the user was in. and I did try your code but the result when we scrolling is just an optional (Optional([0, 9])). also, didScrollToItem is called only when user scrolling the item but what the function should do is when the page visible to each date, they have to print to that selected that. if you're not sure what I'm talking about,

[2018-11-18 12:14] rechsteiner commented on #232
I've been thinking a bit more about this and I don't think I will add this as an option. One of the goals of Parchment is to be a generic and easily customizable framework. I think adding built-in support for these things will only make it bloated in the end.

You can achieve rounded corners by just adding a few lines of code:

[code]

Thanks for the suggestion though 🙂

[2018-11-18 12:14] #232 closed

[2018-11-18 15:32] isaacraja15 commented on #278
Great!
Thank you so much for your help.

On Sun, Nov 18, 2018, 5:54 PM Martin Rechsteiner <notifications@github.com
wrote:

[2018-11-18 15:35] #278 closed

[2018-11-18 16:00] rechsteiner commented on #246
I've added another example, showing how you can add a header above the menu: https://github.com/rechsteiner/Parchment/blob/master/HeaderExample/ViewController.swift. Here's a video of how it works: https://www.youtube.com/watch?v=mPwk_ky7q-Q

[2018-11-18 16:01] rechsteiner commented on #276
Great! You need to select the initial item, so you should already have access to the initial date. E.g: https://github.com/rechsteiner/Parchment/blob/master/CalendarExample/ViewController.swift#L58

[2018-11-18 16:04] rechsteiner commented on #272
Hi @iballan! This should definitely be possible 🙂 I've just added another example for how to add a header view above the menu: https://github.com/rechsteiner/Parchment/blob/master/HeaderExample/ViewController.swift. Here's a video of how that looks: https://www.youtube.com/watch?v=mPwk_ky7q-Q.

Does that work for you?

[2018-11-18 21:40] yungdbo commented on #275
I seen that it was in the upcoming project soon is that still in the running or is this hypothetical? I really appreciate the work you've done for parchment, but I might have to switch depending on my release date. I plan on releasing my app next month and need it before that so if you can please let me know! Thanks again!

[2018-11-18 21:43] yungdbo commented on #246
I will give it a shot and let you know how it goes! Thanks @rechsteiner I appreciate the video and example

[2018-11-19 00:00] Sopheak0 commented on #276
Ahhh! I see, great! thanks you so much

[2018-11-19 00:01] #276 closed

[2018-11-19 03:43] dhaval4gvm commented on #277
I mean my custom protocol delegate method, but the select is also not work if I try in `viewWillAppear`, I have a requirement like when I came back to `UIViewController` where I have `pagingViewController` implemented, I have to change the selected item to another one, so I have tried in custom protocol also and also tried placing selection statement in `viewWillAppear`, but it won't work for me.

[2018-11-19 07:16] isaacraja15 commented on #278
![screenshot 2018-11-19 at 12 31 00 pm](https://user-images.githubusercontent.com/44321070/48691155-7a884300-ebf7-11e8-9b0d-c1469b97c75a.png)
![screenshot 2018-11-19 at 12 31 30 pm](https://user-images.githubusercontent.com/44321070/48691156-7a884300-ebf7-11e8-80ac-146105985c3c.png)
No sir its not working , Cannot invoke initializer for type 'FixedPagingViewController' with no arguments
error what

[2018-11-19 22:29] yungdbo commented on #246
Works like a charm! Thanks again @rechsteiner

[2018-11-20 07:30] PrashantKT opened #283 "Different background color on different pages"
I have to change different color for different page for that I have used code in `pagingViewController<T>(_ pagingViewController: PagingViewController<T>, didScrollToItem
`

[code]
But issue is color is applied one index before for example color of index 0 is red , index1 is blue and index 2 is green .

Now initially I applied a red color. Now when I move to page 1 color is still red. Move to page

[2018-11-20 07:36] PrashantKT commented on #283
after this self.pagingViewController.collectionView.reloadData() Fixes the issue. But is it right way to do this please suggest

[2018-11-21 13:36] AbdoElabd opened #284 "add SDLoader in ViewController when add it, it not appertains"

[2018-11-21 20:54] rechsteiner commented on #284
I don't really understand your question. Can you explain a bit more what issue your are having?

[2018-11-23 06:41] gordoneliel commented on #246
Works!

[2018-11-23 06:41] #246 closed

[2018-11-23 07:26] isaacraja15 opened #286 "how to navigate second tab from side menu navigation"
Please Help this there is issue

Cannot invoke initializer for type 'FixedPagingViewController' with no arguments
error

_Originally posted by @isaacraja15 in https://github.com/rechsteiner/Parchment/issue_comments#issuecomment-441169791_

[2018-11-23 07:59] rechsteiner commented on #286
You need to initialize it with your view controllers: https://github.com/rechsteiner/Parchment/blob/master/Documentation/fixed-view-controller.md.

If you don’t want to initialize your view controllers up front, you can use PagingViewControllerDataSource: https://github.com/rechsteiner/Parchment/blob/master/Documentation/data-source.md

[2018-11-23 18:08] rafsouzap opened #287 "Show badge in a tab"
Hi there... is it possible to show a badge in a tab option?

![Image of example badge](https://i.stack.imgur.com/lOTAL.png)

Or is there any possibility of joining a future roadmap?

[2018-11-24 14:22] fcbmojtaba1995 opened #288 "How to add corner radius to selected background color?"
Hi. Thank For This Amazing Library
How to add corner radius to selected background color?

[2018-11-25 14:50] fcbmojtaba1995 commented on #288
find solve thanks.
https://github.com/rechsteiner/Parchment/issues/265

[2018-11-27 14:49] fcbmojtaba1995 opened #289 "How to go to next view controller when button tapped?"
hi I have 3 view controller that when tappd button go to next view controller. please help me thank.
`var pagingViewController : FixedPagingViewController?

    override func viewDidLoad() {
        super.viewDidLoad()

        // Load each of the view controllers you want to embed
        // from the storyboard.
        let storyboard = UIStoryboard(name: "Main", bundle: nil)
        let worksToD

[2018-11-28 10:11] fcbmojtaba1995 commented on #289
I use this storyboard example
[https://github.com/rechsteiner/Parchment/tree/master/StoryboardExample](url)

[2018-12-01 21:36] isaacraja15 commented on #289
did you get this  anaswer ?

[2018-12-02 07:45] fcbmojtaba1995 commented on #289
No

No Please Help

[2018-12-02 07:46] fcbmojtaba1995 commented on #289
No . Please Help me i use top example.

[2018-12-02 12:46] isaacraja15 commented on #289
no bro . im also waiting for reply

On Sun, 2 Dec 2018 at 13:16, fcbmojtaba1995 <notifications@github.com>
wrote:

[2018-12-19 06:24] sagar15bhavsar opened #290 "How to hide menuItem from calendar example?"

[2018-12-24 10:37] rechsteiner commented on #290
Hi! Do you just want to remove the menu? In that case, I’m not sure you actually need to use Parchment. You can get the same behavior by using `UIPageViewController` directly

[2018-12-24 10:40] rechsteiner commented on #289
Hi! You can programmtically select views using `pagingViewController.select(index: 1)`: https://github.com/rechsteiner/Parchment/blob/master/README.md#selecting-items

Does that work for you?

[2018-12-24 10:41] #288 closed

[2018-12-24 10:44] rechsteiner commented on #287
Hi! Sorry for the late reply. You can achieve this by creating your own `PagingCell` subclass. See `UnsplashExample` target for an example.

I want to keep Parchment as generic as possible, so I don’t have any plans of adding built-in support for this. Hope that makes sense 🙂

Let me know if you need any help implementing the custom cell

[2018-12-24 10:45] rechsteiner commented on #286
Closing this now, but let me know if you are still having issues with this 🙂

[2018-12-24 10:45] #286 closed

[2018-12-24 10:45] rechsteiner commented on #284
Any updates on this?

[2018-12-24 11:35] rechsteiner commented on #272
Did you figure out how to do this?

[2018-12-24 14:51] iballan commented on #272
Thank you so much for the example.

What i was trying to achieve from the above screenshot:
**1- is a google maps** view (exists in the example as header)
**2- Category** (not exists in the example, and i could not handle how and where should I add it)
**3- Subcategory** (exists in the example as the `PagingIndexItem(index: index, title: "View \(index)") as! T`)
**4- List of products** (exists in

[2018-12-25 13:24] veila opened #291 "Can not set title programmatically"
I am using storyboard to design UI and its title does not show. I know need to set the title properties earlier (e.g. in init). But is there anyway to set title do not need use init and reloadData ( reloadData need to set in viewDidAppear so it showing delay, and I dont like this)

[2018-12-27 17:16] rafsouzap commented on #287
Hi @rechsteiner, I had not really thought about the option of creating my own PagingCell. Looking at the examples, including what you mentioned, I was able to simulate the badge and it worked.

Tks!

[2018-12-27 17:16] #287 closed

[2019-01-07 14:25] kilirushi opened #292 "How to add Parchment to UIView is not UIViewController?"
I wan't to add Parchment to UIView but can't

[2019-01-13 09:45] VishnuMU commented on #291
Hi Veila, Have you tried this?

 [https://github.com/rechsteiner/Parchment/issues/207#issuecomment-390404906](url)

[2019-01-14 14:12] Ankit8946 opened #293 "Menu Bar coming under Status bar."
The structure of my UI looks like below..
TabBarController ->(3rd Item in Tab bar) NavigationController-> BaseSegmentViewController
My BaseSegmentViewController subclasses PagingViewController. Not sure why this is happening.
It seems to work fine if  it is pushed in inside NavigationController when the navigation bar is visible.
First Image is what is wrong. Second case works fine

Here is how my

[2019-01-15 13:19] kaleemozitech commented on #260
@jaceklapinski  how did you over come this problem.
i just want to change state of one  viewController on tab to different pager items

[2019-01-16 07:11] muhasturk opened #294 "Content Inset Not Working Table View"
If one of the page view controllers of PagingViewController is subclass of UIViewController includes table view, applying table view content inset seems not working.

If it is kind of UITableViewController, content inset of table view is working properly.
https://github.com/rechsteiner/Parchment/blob/master/HeaderExample/ViewController.swift#L107

In order to reproduce problem change page view con

[2019-01-26 16:41] DiwakarThapa opened #295 "How to disable UIpageviewcontroller bounce in parchment swift ?"

[2019-01-29 09:21] hiral128 opened #296 "ViewWillApear not Call"

[2019-01-29 09:22] #296 closed

[2019-01-29 09:23] hiral128 commented on #220
getting same issue

[2019-01-29 23:47] prsolucoes opened #297 "Update single tab custom view without reload content"
Hi,

We have created a custom view to show a red sign on tab to show to the customer some updates on that page.

The problem is when the user enter on that page and we need remove the red sign/dot from the custom tab view.

Today we are reloading all tabs with "reloadData" method, but it reload everything.

My question is:
There is any method to reload only the tab view intead of all contents with